@import "theme_variables";

// Footer Global
.footer-container {
  background: $footer-outside-bg;
  overflow: hidden;
  font-size: 14px;
  margin: 100px 0 0;
  color: $theme-color-tertiary;
  line-height: 23px;
  li {
    margin-bottom: 20px;
  }
  li a {
    color: $footer-color;
    cursor: pointer;
    &:hover {
      color: $theme-color-default;
    }
  }
  .links {
    .collapse {
      display: inherit;
    }
  }
  .ApBlockLink{
    ul{
      li{
        display: block;    
        a{
          position: relative;
          padding: 4px 0;
          font-weight: 400;
          @include transition(all 0.3s ease 0s);
          &:before{
            content: "";
            background: $theme-color-senary;
            width: 0;
            height: 1px;
            bottom: 50%;
            position: absolute;
            @include rtl-left(0);
            @include transition(all .4s);
            @include transform(translateY(50%));
          }
          &:hover{
            @include rtl-padding-left(10px);
            &:before{
              width: 5px;
              background: $theme-color-default;
            }
          }
        }  
      }
    }
  }
  .ApColumn{
    .block{
      @media (max-width: 767px){
        margin-bottom: 0;
      }
    } 
  }
}
.footer-center{
  .ApColumn .block {
    margin-bottom: 0;
  }
}
.footer-bottom{
  .ApColumn{
    .block{
      margin-bottom: 0px;
    } 
  }
}
.footer-top{
  background: $footer-top-outside-bg;
  .block_newsletter{
    &.block{
      margin-bottom: 0px;
    }
  }
}


// Module Footer
.ApColumn{
  .block_newsletter {
    .sub-letter{
      color: $theme-color-tertiary;
      margin-bottom: 60px;
      font-size: 15px;
    }
    .sub-increase {
      letter-spacing: 3px;
      color: $theme-color-secondary;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
    }
    .form-group{
      margin-bottom: 0;
    }
    form {
      width: 100%;
      position: relative;
      display: inline-block;
      .input-wrapper {
        overflow: hidden;
        position: relative;
      }
      input[type=email] {
        border: 1px solid $white;
        color: $theme-color-tertiary;
        background-color: $white;
        font-size: 14px;
        height: 60px;
        width: 100%;
        @include rtl-padding(0,55px,0,15px);
        @include box-shadow(none);
        @include placeholder{
          color: $theme-color-tertiary;
          @include opacity(1);
        }
      }
      input{
        outline: 0;
      }
      .fa{
        font-size: 20px;
      }
      .btn{
        position: absolute;
        background-color: $theme-color-default;
        border: none;
        color: $white;
        padding: 0 60px;
        line-height: 60px;
        font-size: 14px;
        bottom: 0;
        @include rtl-right(0);
        @include transition(all 0.3s ease-out 0s);
        &:hover {
          background-color: $theme-color-secondary;
        }
        @media (max-width: 767px){
          padding: 0 20px;
        }
      }
    }
  }
}
// Block Contact Info
.block-contact{
  .title_block{
    display: none;
  }
  ul{
    li{
      @include display(flex);
      @include align-items(center);
      line-height: 23px;
      i{
        width: 20px;
        font-size: 18px;
        @include rtl-margin-right(10px);
      }
      &.phone,&.email{
        span{
          @include rtl-padding-left(3px);
        }
      }
    }
  }
}
// About US
.ApHtml{
  .aboutus-footer{
    font-size: 14px;
    line-height: 24px;
    @media (max-width: 767px){
      margin-bottom: 10px;
    }
    b{
      color: $theme-color-senary;
    }
  }
}
.ApRawHtml{
  &.footer-html{
    margin: 30px auto 0;
    @media (min-width: 1200px){
      width: 70%;
    }
    p{
      margin-bottom: 3px;
      line-height: 25px;
    }
    .support_call{
      margin-top: 40px;
      span{
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      a{
        font-size: 20px;
        color: $theme-color-default;
      }
    }
  }
}
// footer-copyright
.footer-copyright{
  position: relative;
  padding: 60px 0;
  @media (min-width: 768px){
    @include display(flex);
    @include align-items(center);
  }
  @media (max-width: 767px){
    text-align: center;
  }
  .ApColumn{
    .block{
      margin-bottom: 0;
    }
  }
  .ApImage{
    @media (min-width: 768px){
      @include rtl-text-align-right();
    }
  }
  .ApRawHtml.block{
    margin: 0;
    line-height: 30px;
    @media (max-width: 767px){
      margin-bottom: 15px;
    }
    span{
      font-weight: 500;
      color: $theme-color-default;
    }
  }
  .copyright{
    @media (min-width: 768px){
      @include rtl-text-align-right();
    }
  }
  .ApBlockLink{
    line-height: 30px;
    @media (min-width: 768px){
      @include rtl-text-align-right();
    }
    ul{
      margin-bottom: 0;
      li{
        display: inline-block;
        margin-bottom: 0;
        @include rtl-margin-left(15px);
      }
    }
  }
}

// Block Social
.block-social{
  ul{
    margin: 0;
    li{
      display: inline-block;
      @include rtl-margin(0,10px,0,0);
      a{
        position: relative;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        color: #ababab;
        background: transparent;
        @include transition(all 0.3s ease);
        &:before {
          font-size: 14px;
          font-family: $font-icon;
          width: 100%;
          height: 100%;
          display: inline-block;
          @include transition(all 0.3s ease 0s);
        }
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -5px;
          left: -5px;
          padding: 20px;
          @include box-shadow(0 0 0 2px $white);
          @include border-radius(50px);
          @include transform(scale(0));
          @include transition(transform 0.3s ease-out 0s);
        }
        span{
          display: none;
        }
      }
      &:hover{
        a{
          color: $white;
          border-color: transparent;
          @include border-radius(50%);
          &:after{
            @include transform(scale(1));
          }
        }
      }

      &.facebook{
        a{
          &:before {
           content: "\f09a";
          }
          &:after{
            @include box-shadow(0 0 0 2px #3b579d);
          }
        }
        &:hover{
          a{
            background: #3b579d;
          }
        }
      }

      &.twitter{
        a{
          &:before {
            content: "\f099";
          }
          &:after{
            @include box-shadow(0 0 0 2px #00acee);
          }
        }
        &:hover{
          a{
            background: #00acee;
          }
        }
      }

      &.googleplus{
        a{
          &:before {
            content: "\f0d5";
          }
          &:after{
            @include box-shadow(0 0 0 2px #e14747);
          }
        }
        &:hover{
          a{
            background: #e14747;
          }
        }
      }

      &.pinterest{
        a{
          &:before {
              content: "\f0d2";
          }
          &:after{
            @include box-shadow(0 0 0 2px #cb2027);
          }
        }
        &:hover{
          a{
            background: #cb2027;
          }
        }
      }

      &.instagram{
        a{
          &:before {
            content: "\f16d";
          }
          &:after{
            @include box-shadow(0 0 0 2px #4c61b0);
          }
        }
        &:hover{
          a{
            background: #4c61b0;
          }
        }
      }

      &.rss{
        a{
          &:before {
            content: "\f09e";
          }
          &:after{
            @include box-shadow(0 0 0 2px #FF6600);
          }
        }
        &:hover{
          a{
            background: #FF6600;
          }
        }
      }

      &.youtube{
        a{
          &:before {
            content: "\f16a";
          }
          &:after{
            @include box-shadow(0 0 0 2px #e07c66);
          }
        }
        &:hover{
          a{
            background: #e07c66;
          }
        }
      }

      &.vimeo{
        a{
          &:before {
            content: "\f27d"
          }
          &:after{
            @include box-shadow(0 0 0 2px #1ab7ea);
          }
        }
        &:hover{
          a{
            background: #1ab7ea;
          }
        }
      }

    }
  }
}

// Responsive Footer
@include media-breakpoint-down(sm) {
  .footer-container {
    .links, .block-toggler{
      .title{
        @include display(flex);
        @include align-items(center);
      }
      .h3, .title_block {
        line-height: 1.5;
        display: inline-block;
      }
      .navbar-toggler {
        margin-top: 0;
        i{
          position: absolute;
          @include rtl-right(15px);
        }
      }
      ul {
        margin-bottom: 0;
      }
    }
  }
  .block_newsletter {
    .conditions{
      margin-bottom: $medium-space;
    }
  }
}
@include media-breakpoint-down(sm) {
}

