/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
@media (min-width: 1200px) {
  .container-large {
    max-width: 1770px;
    width: auto;
    margin: auto;
    padding: 0 15px; } }
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*$dream-image-path: "../../../../assets/img/modules/rbthemedream/img/" !default;
$catalog-image-path: "../../../../../assets/img/modules/combinationsincatalog/img/" !default;*/
/*** SOME GENERIC STYLES ***/
.table-labeled th {
  vertical-align: middle; }
.table-labeled td {
  vertical-align: middle; }
.table-labeled .label {
  font-size: inherit;
  padding: 4px 6px;
  margin: 2px;
  color: white;
  display: inline-block; }

.page-order .table {
  margin-bottom: 0; }
.page-order table th {
  padding: 8px; }
.page-order table td {
  padding: 8px; }
.page-order table thead th {
  text-align: center; }

#customer-form .custom-checkbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  #customer-form .custom-checkbox span {
    flex: none; }
  #customer-form .custom-checkbox label {
    padding-left: 0.5rem; }
  #customer-form .custom-checkbox em {
    font-size: 0.8rem;
    opacity: 0.8; }

#authentication .tooltip.tooltip-bottom {
  padding: 0;
  margin: 0; }

#identity .radio-inline,
#authentication .radio-inline {
  padding: 0; }
  #identity .radio-inline .custom-radio,
  #authentication .radio-inline .custom-radio {
    margin-right: 0; }

/*** Most of the customer account pages ***/
.my-account-page-content-wrapper {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 30px;
  margin: 0 auto; }
  .my-account-page-content-wrapper .my-account-side-links {
    border-right: 1px solid rgba(160, 160, 160, 0.25); }
    .my-account-page-content-wrapper .my-account-side-links > a {
      display: block;
      width: 100%;
      max-width: 100%;
      flex: 0;
      border-bottom: 1px solid rgba(160, 160, 160, 0.25);
      padding: 0.6rem; }
      .my-account-page-content-wrapper .my-account-side-links > a:last-child {
        border-bottom: none; }

.page-customer-account #content {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 30px;
  margin: 0 auto; }
  .page-customer-account #content .order-actions a {
    padding: 0 2px; }
  .page-customer-account #content .forgot-password {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 16px;
    padding-bottom: 15px; }
  .page-customer-account #content .no-account {
    text-align: center;
    font-size: 14px; }

/*** Login page ***/
#authentication #content {
  margin-bottom: 70px; }
#authentication .page-header {
  text-align: center; }

.page-authentication #content {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 30px;
  max-width: 640px;
  margin: 0 auto; }

/*** Addresses page ***/
.page-addresses .address {
  border: 1px solid rgba(160, 160, 160, 0.25);
  margin-bottom: 30px; }
  .page-addresses .address .address-body {
    padding: 16px; }
    .page-addresses .address .address-body h4 {
      font-weight: 700; }
    .page-addresses .address .address-body address {
      min-height: 144px; }
  .page-addresses .address .address-footer {
    border-top: 1px solid rgba(160, 160, 160, 0.25);
    padding: 8px 16px; }
    .page-addresses .address .address-footer a {
      margin-right: 8px; }
      .page-addresses .address .address-footer a span {
        vertical-align: middle; }
.page-addresses .addresses-footer {
  margin: 0 15px; }
  .page-addresses .addresses-footer a span {
    vertical-align: middle;
    margin-top: 0.5rem; }

/*** Order details page ***/
.page-order-detail .box {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 30px;
  margin-bottom: 16px; }
.page-order-detail #order-infos ul,
.page-order-detail #order-infos2 ul {
  margin: 0; }
.page-order-detail #order-history .history-lines .history-line {
  padding: 8px 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.25); }
  .page-order-detail #order-history .history-lines .history-line:last-child {
    border-bottom: 0; }
  .page-order-detail #order-history .history-lines .history-line .label {
    display: inline-block;
    margin: 4px 0;
    color: white;
    padding: 4px 6px; }
.page-order-detail .addresses h4 {
  font-size: 14px;
  font-weight: 700; }
.page-order-detail #order-products.return {
  margin-bottom: 16px; }
  .page-order-detail #order-products.return th.head-checkbox {
    width: 30px; }
  .page-order-detail #order-products.return td {
    padding: 1.375rem 0.75rem; }
    .page-order-detail #order-products.return td.qty {
      min-width: 125px; }
      .page-order-detail #order-products.return td.qty .current {
        width: 30%;
        float: left;
        text-align: right;
        padding-right: 0.5rem; }
      .page-order-detail #order-products.return td.qty .select {
        width: 70%;
        float: left;
        margin: -0.625rem 0;
        padding-left: 0.25rem; }
        .page-order-detail #order-products.return td.qty .select select {
          text-align: center; }
.page-order-detail .order-items {
  padding: 0 !important; }
  .page-order-detail .order-items .order-item {
    padding: 16px 16px 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.25); }
    .page-order-detail .order-items .order-item .checkbox {
      width: 30px;
      float: left;
      padding: 0 15px; }
    .page-order-detail .order-items .order-item .content {
      width: calc(100% - 30px);
      float: left;
      padding: 0 15px; }
    .page-order-detail .order-items .order-item .desc {
      margin-bottom: 16px; }
      .page-order-detail .order-items .order-item .desc .name {
        font-weight: bold; }
    .page-order-detail .order-items .order-item .qty {
      margin-bottom: 16px; }
      .page-order-detail .order-items .order-item .qty .q {
        margin-bottom: 4px; }
      .page-order-detail .order-items .order-item .qty .s {
        margin-bottom: 4px; }
.page-order-detail .messages .message {
  margin-top: 8px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.25); }
  .page-order-detail .messages .message:last-child {
    border-bottom: 0; }
  .page-order-detail .messages .message > div {
    margin-bottom: 8px; }
.page-order-detail .customization {
  margin-top: 12px; }

/*** Order return page ***/
#order-return-infos .thead-default th {
  color: #414141; }
#order-return-infos .customization {
  margin-top: 12px; }

/*** My account landing page ***/
.page-my-account #content .links {
  width: 100%; }
  .page-my-account #content .links a {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #878787;
    padding: 0 15px;
    margin-bottom: 30px; }
    .page-my-account #content .links a span.link-item {
      display: block;
      height: 145px;
      -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 30px; }
    .page-my-account #content .links a i {
      display: block;
      font-size: 35px;
      width: 100%;
      color: #414141;
      height: 50px; }
    .page-my-account #content .links a:hover {
      color: #414141; }
      .page-my-account #content .links a:hover i {
        color: #ff6f00; }
.page-my-account .btn-logout {
  background: #f6f6f6; }

/*** History page ***/
#history .orders {
  margin: 0 -16px; }
  #history .orders .order {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.25); }
    #history .orders .order a h3 {
      color: #878787; }
    #history .orders .order .label {
      display: inline-block;
      margin: 4px 0;
      padding: 4px 6px;
      color: white;
      border-radius: 3px; }
    #history .orders .order:last-child {
      border-bottom: 0; }

/*** FOOTER ***/
.page-footer .account-link {
  margin: 5px 0;
  background: #f6f6f6; }
  .page-footer .account-link i {
    font-size: 14px; }
  .page-footer .account-link span {
    font-size: 0.875rem;
    vertical-align: middle; }

.login-form {
  margin-top: 15px; }
  .login-form .input-group-append {
    position: absolute;
    z-index: 9;
    right: 10px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%); }
    .login-form .input-group-append .btn {
      padding: 0;
      font-size: 16px;
      color: #8d8d8d; }

/*** Responsive part ***/
@media (max-width: 575px) {
  .my-account-page-content-wrapper .my-account-side-links {
    border-right: none;
    border-bottom: 1px solid rgba(160, 160, 160, 0.25);
    padding-bottom: 1rem;
    margin-bottom: 1.6rem;
    margin-right: 3px;
    margin-left: 3px; } }

/*# sourceMappingURL=customer.css.map */
