/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
@media (min-width: 1200px) {
  .container-large {
    max-width: 1770px;
    width: auto;
    margin: auto;
    padding: 0 15px; } }
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*$dream-image-path: "../../../../assets/img/modules/rbthemedream/img/" !default;
$catalog-image-path: "../../../../../assets/img/modules/combinationsincatalog/img/" !default;*/
.search-widget form {
  position: relative; }
.search-widget .form-search-control {
  padding: .8rem 1rem;
  padding-right: 2rem; }
.search-widget .search-btn {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 4;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0 1em; }

#header-search-btn .dropdown-search {
  padding: 1.5rem;
  min-width: 350px;
  max-width: 400px;
  right: 0;
  left: auto; }
#header-search-btn .fullscreen-search {
  min-height: 100vh;
  visibility: hidden;
  opacity: 0;
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1); }
  #header-search-btn .fullscreen-search #search_widget {
    margin: 0 auto;
    width: 80%;
    z-index: 2;
    position: relative;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1); }
  #header-search-btn .fullscreen-search #fullscreen-search-backdrop {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #header-search-btn .fullscreen-search .form-search-control {
    font-size: 1.5rem;
    padding: 1.7rem 1.5rem; }
  #header-search-btn .fullscreen-search .search-btn {
    font-size: 1.5rem; }
  #header-search-btn .fullscreen-search .autocomplete-suggestions {
    position: static;
    max-height: 450px; }
  #header-search-btn .fullscreen-search .autocomplete-suggestion img {
    margin-right: 1rem;
    max-width: 100%; }

#header-search-btn.show .fullscreen-search {
  visibility: visible;
  opacity: 1; }
#header-search-btn.show #search_widget {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 100%;
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 999999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box; }

.autocomplete-suggestion {
  padding: .6rem;
  position: relative;
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #333; }

.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6; }

.autocomplete-suggestion img {
  margin-right: .6rem;
  max-width: 60px; }

.autocomplete-suggestion .product-price {
  display: block; }

.autocomplete-suggestion-show-all {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  background: rgba(204, 204, 204, 0.15);
  border-top: solid 1px rgba(105, 105, 105, 0.13); }

/*# sourceMappingURL=search-widget.css.map */
