/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
@media (min-width: 1200px) {
  .container-large {
    max-width: 1770px;
    width: auto;
    margin: auto;
    padding: 0 15px; } }
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*$dream-image-path: "../../../../assets/img/modules/rbthemedream/img/" !default;
$catalog-image-path: "../../../../../assets/img/modules/combinationsincatalog/img/" !default;*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider:hover .slick-prev,
  .slick-slider:hover .slick-next {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto; }
  .slick-track::before, .slick-track::after {
    display: table;
    content: ""; }
  .slick-track:after {
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }
.slick-loading .slick-slide {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-initialized {
  margin: 0 -15px; }
  .slick-initialized .slick-slide {
    display: block;
    padding: 0 15px; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  padding: 0;
  width: 40px;
  height: 40px;
  background: white;
  color: #000000;
  visibility: hidden;
  border-radius: 50px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1); }
  .slick-prev::before,
  .slick-next::before {
    font-size: 20px; }

.slick-prev {
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px); }

.slick-next {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px); }

/*# sourceMappingURL=slick.css.map */
