@import "theme_variables";

/*******************DONGND CSS FOR QUICKLOGIN FORM BEGIN*****************************/
@keyframes "cssload-spin" {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes "cssload-spin" {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes "cssload-spin" {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes "cssload-spin" {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes "cssload-spin" {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*******************DONGND CSS FOR QUICKLOGIN FORM END*****************************/
/*******************DONGND CSS FOR QUICKLOGIN MODAL BEGIN*****************************/
/*******************DONGND CSS FOR QUICKLOGIN MODAL END*****************************/
/*******************DONGND CSS FOR QUICKLOGIN SLIDEBAR BEGIN*****************************/
/*******************DONGND CSS FOR QUICKLOGIN SLIDEBAR END*****************************/
.leo-dropdown-wrapper {
  visibility: hidden;
  border: none;
  padding: 20px 20px 0 20px;
  @include opacity(0);
  @include transition(all 0.3s ease);
}

.dropdown{
  .leo-dropdown-wrapper{
    margin-top: 50px;
    left: auto;
    @include rtl-right(0);
  }
  &.open{
    .leo-dropdown-wrapper{
      margin-top: 10px;
      @include opacity(1);
      visibility: visible;
    }
  }
}

.dropup{
  .ap-quick-login{
    .popup-content{
      top: inherit;
      bottom: 100%;
    }
  }
  &.open{
    .leo-dropdown-wrapper{
      margin-bottom: 10px;
      @include opacity(1);
      visibility: visible;
    }
  }
}

.leo-form{
  @include transition(transform 0.3s ease); 
  &.leo-form-inactive{
    position: absolute;
    visibility: hidden;
    top: 0; 
    @include opacity(0);
  }
  &.full-width{
    width: 100%;
    .lql-calllogin,.lql-callregister{
      display: block;
    }
  }
}

.leo-quicklogin-form{
  position: relative;
  overflow: initial;
  //@include transition(all 0.3s ease);
  &.html{
    max-width: 100%;
  }
  .lql-action{
  	display: inline-block;
  	width: 100%;
  	margin-bottom: 30px;
  	border-bottom: 1px solid $border-color;
  }
  .lql-action-bt{
  	width: 50%;
  	text-align: center;
  	cursor: pointer;
  	@include rtl-float-left();
  	.lql-bt{
  		position: relative;
  		z-index: 1;
  		padding: 15px;
  		margin-bottom: 0;
  		font-weight: 500;
  		font-size: 18px;
  		&:before{
  			content: "";
  			background: $theme-color-default;
  			width: 100%;
  			height: 100%;
  			position: absolute;
  			z-index: -1;
  			top: 0;
  			@include rtl-left(0);
  			@include transform(scaleY(0));
  			@include transform-origin(top);
  			@include transition(transform 0.3s ease);
  		}
  		&.lql-bt-login{
  			@include rtl-border-right(1px solid $border-color);
  		}
  		&.lql-active{
  			color: $white;
  			&:before{
  				@include transform(scaleY(1));
  			}
  		}
  	}
  }
}

.lql-form-bt{
  .leoquicklogin-icon{
    margin: 0;
  }
}

.leo-login-form{
  &.leo-form-inactive{
    @include rtl-right(0);
    @include transform(translateX(-100%));
  }
}

.leo-register-form{
  &.leo-form-inactive{
    @include rtl-left(0);
    @include transform(translateX(100%));
  }
}

.leo-resetpass-form{
  display: none;
}

.lql-callregister, .lql-calllogin{
  display: none;
}

.leoquicklogin-loading, .leoquicklogin-icon{
  display: none;
}

.leoquicklogin-cssload-speeding-wheel {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border: 2px solid #fff;
  @include border-radius(50%);
  border-left-color: transparent;
  border-right-color: transparent;
  @include animation(cssload-spin 800ms infinite linear);
}

.lql-form-mesg{
  display: none;
  margin: 0;
  label{
    @include rtl-text-align-left();
  }
}

.full-width .leo-login-title .title-both, .leo-login-title .title-only{
  display: none;
}

.full-width .leo-login-title .title-only, .leo-login-title .title-both{
  display: block;
}

/*******************DONGND CSS FOR QUICKLOGIN FORM END*****************************/

/*******************DONGND CSS FOR QUICKLOGIN MODAL BEGIN*****************************/

/*******************DONGND CSS FOR QUICKLOGIN MODAL END*****************************/

/*******************DONGND CSS FOR QUICKLOGIN SLIDEBAR BEGIN*****************************/

body{
  .leoquicklogin-active-slidebar {
    /* overflow: hidden;
    @include rtl-padding-right(17px); */
  }
  .lql_is_gen_rtl{
    .leoquicklogin-active-slidebar {
      @include rtl-padding-right(0);
      @include rtl-padding-left(17px);
    }
  }
  main{ 
    @include transition(all 0.3s ease);
  }
}

.leoquicklogin-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  @include opacity(0);
  @include transition(all 0.5s ease);
  &.active {
    visibility: visible;
    @include opacity(1);
    @include transition(all 0.3s ease);
  }
}


.leoquicklogin-slidebar-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  background: #FFFFFF;
  width: 100%; 
}

.leoquicklogin-slidebar {
  z-index: 9999;
  position: fixed;
  padding: 0 15px;
  visibility: hidden;
  display: none;
  width: 400px;
  margin: auto;
  padding: 0px;
  @include transition(all 0.3s ease);
  @media (max-width: 480px) {
    width: auto;
        margin: 20px 10px;
  }
  &.slidebar_left{
    display: block;
    height: 100%;
    top: 0;
    margin: 0px;
    @include rtl-left(0);
    @include transform(translateX(-100%));
    &.active{
      visibility: visible;
      @include transform(translateX(0));
      @include box-shadow(5px 5px 5px 0 rgba(0, 0, 0, 0.17));
    }
    .leoquicklogin-slidebar-top{
      display: block;
      @include rtl-right(15px);
    }
    .leoquicklogin-slidebar-wrapper {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto; 
    }
  }
  &.push_slidebar_left{
    display: block;
    height: 100%;
    top: 0;
    @include rtl-left(0);
    @include transform(translateX(-100%));
    &.active{
      visibility: visible;
      @include transform(translateX(0));
    }
    .leoquicklogin-slidebar-top{
      display: block;
    }
  }

  &.slidebar_right{
    display: block;
    height: 100%;
    top: 0;
    margin: 0px;
    @include rtl-right(0);
    @include transform(translateX(100%));
    &.active{
      visibility: visible;
      @include transform(translateX(0));
      @include box-shadow(-5px 5px 5px 0 rgba(0, 0, 0, 0.17));
    }
    .leoquicklogin-slidebar-top{
      display: block;
      @include rtl-right(15px);
    }
    .leoquicklogin-slidebar-wrapper {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto; 
    }
  }

  &.push_slidebar_right{
    display: block;
    height: 100%;
    top: 0;
    @include rtl-right(0);
    @include transform(translateX(100%));
    &.active{
      visibility: visible;
      @include transform(translateX(0));
    }
    .leoquicklogin-slidebar-top{
      display: block;
    }
  }
  
  &.slidebar_top{
    display: block;
    top: 0;
    left: 50%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @include transform(translate(-50%, -200%));
    &.active{
      visibility: visible;
      @include transform(translate(-50%, 0));
    }
    .leoquicklogin-slidebar-bottom{
      display: block;
      @include rtl-right(15px);
    }
  }
  &.push_slidebar_top{
    display: block;
    top: 0;
    @include rtl-left(0);
    @include transform(translateY(-100%));
    &.active{
      visibility: visible;
      @include transform(translateY(0));
    }
    .leoquicklogin-slidebar-bottom{
      display: block;
    }
  }
  &.slidebar_bottom{
    display: block;
    bottom: 0;
    left: 50%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @include transform(translate(-50%, 200%));
    &.active{
      visibility: visible;
      @include transform(translate(-50%, 0));
    }
    .leoquicklogin-slidebar-top{
      display: block;
      @include rtl-right(15px);
    }
  }
  &.push_slidebar_bottom{
    display: block;
    width: 100%;
    bottom: 0;
    @include rtl-left(0);
    @include transform(translateY(200%));
    &.active{
      visibility: visible;
      @include transform(translateY(0));
    }
    .leoquicklogin-slidebar-top{
      display: block;
    }
  }
  .leoquicklogin-slidebar-top,.leoquicklogin-slidebar-bottom{
    position: absolute;
    top: 13px;
    z-index: 9;
    margin: 0;
    button{
      background-color: transparent;
      color: $white;
      padding: 0px;
      display: block;
      border: none;
      height: 30px;
      width: 30px;
      cursor: pointer;
      z-index: 99;
      outline: 0;
      @include opacity(1);
      @include border-radius(0);
      @include transition(all 0.2s ease-in-out 0s);
      span{
        display: none;
      }
      i{
        @include rtl-margin-right(0);
      }
      &:hover,&:focus,&:active:focus{
        outline: 0;
        color: $white;
        background: transparent;
      }
    }
  }
}


.leoquicklogin-slidebar-top {
  margin-bottom: 10px;
  display: none; 
  @include rtl-text-align-right();
}

.leoquicklogin-slidebar-top, .leoquicklogin-slidebar-bottom{
	display: none;
	@include rtl-text-align-right();
}


/*******************DONGND CSS FOR QUICKLOGIN SLIDEBAR END*****************************/
/*******************DONGND CSS FOR SOCIALLOGIN BEGIN *****************************/

.lql-social-login{
  margin-top: 10px;
  padding: 20px 0;
  border-top: 2px dashed $border-color;
  .lql-social-login-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .social-login-bt {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0;
    position: relative;
    color: #FFFFFF;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    .fa {
      font-size: 16px;
    }

    &.facebook-login-bt {
      background: #3b5998; 
      &:hover {
        background: #314a92; 
      }
    }

    &.google-login-bt {
      background: #e74c3c; 
      &:hover {
        background: #ea362f; 
      }
    }

    &.twitter-login-bt {
      background: #1DA1F2; 
      &:hover {
        background: #3ca6e8; 
      }
    }
  }
}



.lql-social-modal{
  .modal-dialog {
    margin: 250px auto; 
  }
  .modal-content {
    border-radius: 0; 
  }
}

.lql-social-modal-mesg {
  display: none;
  text-align: center; 
  &.active {
    display: block; 
    span {
      display: block;
      border-top-color: #414141;
      border-bottom-color: #414141; 
    }
  }
  &.error-login{
    i{
      color: #f0ad4e
    }
  }
  &.error-email{
    i{
      color: #f0ad4e
    }
  }
  &.success{
    i{
      color: #5cb85c
    }
  }
}


/* login form */
.ApQuicklogin {
  @include rtl-float-right();
  > .dropdown,> .dropup{
    .leo-login-title,.leo-register-title{
      @include rtl-padding(0,15px,0,15px);
    }
    button{
      &.close{
        display: none;
      }
    }
    .leo-dropdown-wrapper{
      overflow: hidden;
      margin-top: 2px;
      padding: 0 15px;
      left: auto;
      @include rtl-right(0);
      @include border-radius(0);
      @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.24));
      @media (max-width: 480px) {
        width: auto;
        margin: 20px 10px; 
      }
    }
  }
}


.leo-login-form, .leo-register-form {
  width: 100%; 
}
.leo-quicklogin-modal{
  z-index: 999999;
  .modal-dialog {
    max-width: 400px;
    margin: 100px auto; 
    @media (max-width: 480px) {
      width: auto;
      margin: 20px 10px;
    }
  }
  .modal-header{
    display: none;
  }
  .modal-content {
    overflow: hidden; 
    border-radius: 0;
    border: none; 
  }
  .modal-body {
    padding: 0 15px; 
  }
  button{
    &.close{
      position: relative;
      display: block;
      height: 25px;
      width: 25px;
      display: block;
      border: none;
      cursor: pointer;
      z-index: 99;
      outline: 0;
      @include opacity(1);
      @include transition(all 0.2s ease-in-out 0s);
      span{
        font-size: 30px;
      }
    }
  }
}


.leo-login-title,
.leo-register-title {
  @include rtl-text-align-left();
  position: relative;
  min-height: 56px;
  margin: 0px -15px 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #19881d;
  padding: 8px 15px;
  @include display(flex);
  @include align-items(center);
  span {
    color: #FFFFFF;
    width: 100%; 
  }
  button{
    &.close{
      display: none;
    }
  }
}

.leo-login-title span, .leo-register-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px; 
}

.lql-form-content{
  label {
    margin-bottom: 5px;
    font-weight: 400;
    color: $theme-color-senary;
    line-height: 1.42857143; 
  }
  .form-group {
    margin-bottom: 15px; 
    .input-group-addon {
      border-style: solid !important;
      border-color: #d8d8d8 !important;
      @include border-width(1px 1px 1px 0); 
    }
    .leoquicklogin-reset-pass-bt{
      width: 100%;
    }
  }
  input{
    border: 1px solid transparent;
    &.form-control {
      height: 41px;
      padding: 6px 12px;
      font-size: 13px;
      color: #555555;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #d8d8d8;
      font-family: $font-family-base;
      @include border-radius(0);
      @include transition(border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s); 
      &:-webkit-autofill {
        -moz-box-shadow: 0 0 0 30px white inset;
        -webkit-box-shadow: 0 0 0 30px white inset;
        -o-box-shadow: 0 0 0 30px white inset;
        -ms-box-shadow: 0 0 0 30px white inset;
        box-shadow: 0 0 0 30px white inset; 
      }
      &:focus {
        border-color: #19881d;
        outline: 0; 
      }
    }
  }

  .form-checkbox {
    margin-bottom: 0; 
    .custom-checkbox{
      margin-bottom: 10px;
      @include display(flex);
      @include align-items(center);
      input[type="checkbox"] + span{
        border-color: $theme-color-senary;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 0 15px;
        -moz-flex: 0 0 15px;
        -ms-flex: 0 0 15px;
        flex: 0 0 15px;
        vertical-align: top;
        margin: 0px 5px 0px 0px;
        @include rtl-margin(0,5px,0,0);
        .checkbox-checked{
          margin: -3px -2px;
        }
      }
      label{
        @include rtl-padding(0,0,0,0);
      }
    }
  }

  .form-control-label {
    padding: 0;
    margin: 0;
    font-size: 12px;
    @include rtl-text-align-left();
  }

  .form-group-password,.form-group-email {
    position: relative;
    display: table;
    border-collapse: separate; 
    .form-control,.input-group-addon{
      display: table-cell;
    }
    .input-group-addon {
      padding-left: 22px;
      padding-right: 22px;
      border-radius: 0; 
      &.user{
        background: url(#{$login-image-path}user-icon-sm.png) no-repeat center;
      }
      &.key{
        background: url(#{$login-image-path}key-icon.png) no-repeat center;
      }
    }
  }
  .leo-has-error{
    input{
      border-color: red;
    }
  }
}


.lql-rememberme {
  position: relative;
  top: 2px;
  margin-right: 4px; 
}

.leoquicklogin-forgotpass, .lql-callregister-action {
  color: $theme-color-senary;
  line-height: 1.42857143;
  font-weight: 400;
  @include transition(all 0.3s ease); 
  &:hover{
    color: $theme-color-default;
  }
}


.lql-login-bt, .lql-register-bt {
  display: block;
  width: 100%;
  background-color: $theme-color-secondary;
  font-family: $headings-font-family;
  font-weight: 600;
  line-height: 1.42857143;
  @include transition(none); 
  &:hover {
    background-color: $theme-color-default;
    border-color: $theme-color-default; 
  }
}

.page-authentication #content .lql-social-login + hr, body#checkout #content .lql-social-login + hr {
  border: none; }

/*# sourceMappingURL=front.css.map */

/*********** Quick login dropdown ******/
.dropdown,.dropup{
  .ap-quick-login{
    .popup-title{
      &:after{
        display: none;
      }
    }
    .popup-content{
      margin: 0;
      padding: 0 15px;
      width: 290px;
      overflow: hidden;
      @media (max-width: 480px){
        @include rtl-right(-55px);
      }
      .leo-login-title,.leo-register-title{
        padding: 0;
        margin: 0 0 10px;
        background: transparent;
        border: none;
        span{
          font-size: 22px;
          color: $theme-color-secondary;
        }
        button.close {
          display: none; 
        }
      } 
    }
    &.open{
      .popup-content{
        visibility: visible;
        @include opacity(1);
      }
    }
  }
}