/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/*$app-image-path:     "../../../../../img/modules/appagebuilder/img/"!default; 
$menu-image-path:    "../../../../../img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../../img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../../img/modules/leoquicklogin/img/"!default;*/
/***********************************************************************/
/************* Header home 4 ***************/
.header-nav {
  background-color: #000000; }

.header-top {
  padding: 0 60px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
  @media (max-width: 480px) {
    .header-top {
      padding: 0 15px; } }

.header-logo {
  padding-top: 0;
  margin: 35px 0; }
  @media (max-width: 991px) {
    .header-logo {
      text-align: center; } }

.header-menu {
  position: static;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }
  @media (max-width: 991px) {
    .header-menu {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; } }

@media (max-width: 991px) {
  .leo-megamenu {
    float: left; }
    .rtl .leo-megamenu {
      float: right; } }
.leo-megamenu .navbar-nav > li > a {
  padding: 35px 20px; }
  @media (max-width: 1400px) {
    .leo-megamenu .navbar-nav > li > a {
      padding: 35px 15px; } }
.leo-megamenu .navbar-nav > li.new .sub-title {
  top: 10px; }
.leo-megamenu .navbar-nav > li:first-child > a {
  padding: 35px 20px 35px 0; }
  .rtl .leo-megamenu .navbar-nav > li:first-child > a {
    padding: 35px 0 35px 20px; }

.popup-over .popup-title,
#cart-block,
.button-list li,
#leo_search_block_top,
.menu-bar {
  margin: 35px 0;
  padding: 0 0 0 25px; }
  .rtl .popup-over .popup-title, .rtl
  #cart-block, .rtl
  .button-list li, .rtl
  #leo_search_block_top, .rtl
  .menu-bar {
    padding: 0 25px 0 0; }
  @media (max-width: 1366px) {
    .popup-over .popup-title,
    #cart-block,
    .button-list li,
    #leo_search_block_top,
    .menu-bar {
      padding: 0 0 0 15px; }
      .rtl .popup-over .popup-title, .rtl
      #cart-block, .rtl
      .button-list li, .rtl
      #leo_search_block_top, .rtl
      .menu-bar {
        padding: 0 15px 0 0; } }
  @media (max-width: 991px) {
    .popup-over .popup-title,
    #cart-block,
    .button-list li,
    #leo_search_block_top,
    .menu-bar {
      display: block;
      height: 35px;
      padding-top: 5px;
      margin: 0 0 30px; } }

#leo_search_block_top {
  padding: 0; }
  @media (max-width: 991px) {
    #leo_search_block_top {
      padding-top: 5px; } }

#cart-block .cart-preview .cart-quantity,
.button-list li .ap-total {
  top: 15px; }

/*# sourceMappingURL=headerposition1536273190.css.map */
