/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/*$app-image-path:     "../../../../../img/modules/appagebuilder/img/"!default; 
$menu-image-path:    "../../../../../img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../../img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../../img/modules/leoquicklogin/img/"!default;*/
/***********************************************************************/
#header.navbar-fixed-top .header-container {
  padding: 0 30px; }

.header-nav {
  min-height: auto; }

.header-top {
  padding: 0 15px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.col-logo {
  margin-top: 35px; }
  @media (max-width: 991px) {
    .col-logo {
      margin-bottom: 20px;
      text-align: center; } }

.header-menu {
  position: static;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }
  @media (max-width: 991px) {
    .header-menu {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.leo-megamenu {
  text-align: center; }
  @media (max-width: 991px) {
    .leo-megamenu {
      float: left; }
      .rtl .leo-megamenu {
        float: right; }
      .leo-megamenu .navbar-toggler {
        margin-top: 10px; } }
  .leo-megamenu .navbar-nav > li {
    display: inline-block;
    float: inherit;
    text-align: center; }
    .leo-megamenu .navbar-nav > li > a {
      padding: 35px 15px; }
    .leo-megamenu .navbar-nav > li.new .sub-title {
      top: 10px; }

.col-info .popup-over a.popup-title,
.col-info .button-list .ap-btn-wishlist,
.col-info #cart-block .header,
.col-info #leo_search_block_top #show_search,
.col-info .menu-bar {
  margin-top: 20px; }
  @media (max-width: 991px) {
    .col-info .popup-over a.popup-title,
    .col-info .button-list .ap-btn-wishlist,
    .col-info #cart-block .header,
    .col-info #leo_search_block_top #show_search,
    .col-info .menu-bar {
      margin: 0 0 10px; } }

/* Skin */

/*# sourceMappingURL=headerposition1536090322.css.map */
