@font-face {
  font-family: 'rubicon';
  src:  url('../fonts/rubicon.eot?vj26iv');
  src:  url('../fonts/rubicon.eot?vj26iv#iefix') format('embedded-opentype'),
    url('../fonts/rubicon.ttf?vj26iv') format('truetype'),
    url('../fonts/rubicon.woff?vj26iv') format('woff'),
    url('../fonts/rubicon.svg?vj26iv#rubicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rub-"], [class*=" rub-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rubicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rub-activity:before {
  content: "\e900";
}
.rub-airplay:before {
  content: "\e901";
}
.rub-alert-circle:before {
  content: "\e902";
}
.rub-alert-octagon:before {
  content: "\e903";
}
.rub-alert-triangle:before {
  content: "\e904";
}
.rub-align-center:before {
  content: "\e905";
}
.rub-align-justify:before {
  content: "\e906";
}
.rub-align-left:before {
  content: "\e907";
}
.rub-align-right:before {
  content: "\e908";
}
.rub-anchor:before {
  content: "\e909";
}
.rub-aperture:before {
  content: "\e90a";
}
.rub-archive:before {
  content: "\e90b";
}
.rub-arrow-down-circle:before {
  content: "\e90c";
}
.rub-arrow-down-left:before {
  content: "\e90d";
}
.rub-arrow-down-right:before {
  content: "\e90e";
}
.rub-arrow-down:before {
  content: "\e90f";
}
.rub-arrow-left-circle:before {
  content: "\e910";
}
.rub-arrow-left:before {
  content: "\e911";
}
.rub-arrow-right-circle:before {
  content: "\e912";
}
.rub-arrow-right:before {
  content: "\e913";
}
.rub-arrow-up-circle:before {
  content: "\e914";
}
.rub-arrow-up-left:before {
  content: "\e915";
}
.rub-arrow-up-right:before {
  content: "\e916";
}
.rub-arrow-up:before {
  content: "\e917";
}
.rub-at-sign:before {
  content: "\e918";
}
.rub-award:before {
  content: "\e919";
}
.rub-bar-chart-2:before {
  content: "\e91a";
}
.rub-bar-chart:before {
  content: "\e91b";
}
.rub-battery-charging:before {
  content: "\e91c";
}
.rub-battery:before {
  content: "\e91d";
}
.rub-bell-off:before {
  content: "\e91e";
}
.rub-bell:before {
  content: "\e91f";
}
.rub-bluetooth:before {
  content: "\e920";
}
.rub-bold:before {
  content: "\e921";
}
.rub-book-open:before {
  content: "\e922";
}
.rub-book:before {
  content: "\e923";
}
.rub-bookmark:before {
  content: "\e924";
}
.rub-box:before {
  content: "\e925";
}
.rub-briefcase:before {
  content: "\e926";
}
.rub-calendar:before {
  content: "\e927";
}
.rub-camera-off:before {
  content: "\e928";
}
.rub-camera:before {
  content: "\e929";
}
.rub-cast:before {
  content: "\e92a";
}
.rub-check-circle:before {
  content: "\e92b";
}
.rub-check-square:before {
  content: "\e92c";
}
.rub-check:before {
  content: "\e92d";
}
.rub-chevron-down:before {
  content: "\e92e";
}
.rub-chevron-left:before {
  content: "\e92f";
}
.rub-chevron-right:before {
  content: "\e930";
}
.rub-chevron-up:before {
  content: "\e931";
}
.rub-chevrons-down:before {
  content: "\e932";
}
.rub-chevrons-left:before {
  content: "\e933";
}
.rub-chevrons-right:before {
  content: "\e934";
}
.rub-chevrons-up:before {
  content: "\e935";
}
.rub-chrome:before {
  content: "\e936";
}
.rub-circle:before {
  content: "\e937";
}
.rub-clipboard:before {
  content: "\e938";
}
.rub-clock:before {
  content: "\e939";
}
.rub-cloud-drizzle:before {
  content: "\e93a";
}
.rub-cloud-lightning:before {
  content: "\e93b";
}
.rub-cloud-off:before {
  content: "\e93c";
}
.rub-cloud-rain:before {
  content: "\e93d";
}
.rub-cloud-snow:before {
  content: "\e93e";
}
.rub-cloud:before {
  content: "\e93f";
}
.rub-code:before {
  content: "\e940";
}
.rub-codepen:before {
  content: "\e941";
}
.rub-codesandbox:before {
  content: "\e942";
}
.rub-coffee:before {
  content: "\e943";
}
.rub-columns:before {
  content: "\e944";
}
.rub-command:before {
  content: "\e945";
}
.rub-compass:before {
  content: "\e946";
}
.rub-copy:before {
  content: "\e947";
}
.rub-corner-down-left:before {
  content: "\e948";
}
.rub-corner-down-right:before {
  content: "\e949";
}
.rub-corner-left-down:before {
  content: "\e94a";
}
.rub-corner-left-up:before {
  content: "\e94b";
}
.rub-corner-right-down:before {
  content: "\e94c";
}
.rub-corner-right-up:before {
  content: "\e94d";
}
.rub-corner-up-left:before {
  content: "\e94e";
}
.rub-corner-up-right:before {
  content: "\e94f";
}
.rub-cpu:before {
  content: "\e950";
}
.rub-credit-card:before {
  content: "\e951";
}
.rub-crop:before {
  content: "\e952";
}
.rub-crosshair:before {
  content: "\e953";
}
.rub-database:before {
  content: "\e954";
}
.rub-delete:before {
  content: "\e955";
}
.rub-disc:before {
  content: "\e956";
}
.rub-dollar-sign:before {
  content: "\e957";
}
.rub-download-cloud:before {
  content: "\e958";
}
.rub-download:before {
  content: "\e959";
}
.rub-droplet:before {
  content: "\e95a";
}
.rub-edit-2:before {
  content: "\e95b";
}
.rub-edit-3:before {
  content: "\e95c";
}
.rub-edit:before {
  content: "\e95d";
}
.rub-external-link:before {
  content: "\e95e";
}
.rub-eye-off:before {
  content: "\e95f";
}
.rub-eye:before {
  content: "\e960";
}
.rub-facebook:before {
  content: "\e961";
}
.rub-fast-forward:before {
  content: "\e962";
}
.rub-feather:before {
  content: "\e963";
}
.rub-figma:before {
  content: "\e964";
}
.rub-file-minus:before {
  content: "\e965";
}
.rub-file-plus:before {
  content: "\e966";
}
.rub-file-text:before {
  content: "\e967";
}
.rub-file:before {
  content: "\e968";
}
.rub-film:before {
  content: "\e969";
}
.rub-filter:before {
  content: "\e96a";
}
.rub-flag:before {
  content: "\e96b";
}
.rub-folder-minus:before {
  content: "\e96c";
}
.rub-folder-plus:before {
  content: "\e96d";
}
.rub-folder:before {
  content: "\e96e";
}
.rub-framer:before {
  content: "\e96f";
}
.rub-frown:before {
  content: "\e970";
}
.rub-gift:before {
  content: "\e971";
}
.rub-git-branch:before {
  content: "\e972";
}
.rub-git-commit:before {
  content: "\e973";
}
.rub-git-merge:before {
  content: "\e974";
}
.rub-git-pull-request:before {
  content: "\e975";
}
.rub-github:before {
  content: "\e976";
}
.rub-gitlab:before {
  content: "\e977";
}
.rub-globe:before {
  content: "\e978";
}
.rub-grid:before {
  content: "\e979";
}
.rub-hard-drive:before {
  content: "\e97a";
}
.rub-hash:before {
  content: "\e97b";
}
.rub-headphones:before {
  content: "\e97c";
}
.rub-heart:before {
  content: "\e97d";
}
.rub-help-circle:before {
  content: "\e97e";
}
.rub-hexagon:before {
  content: "\e97f";
}
.rub-home:before {
  content: "\e980";
}
.rub-image:before {
  content: "\e981";
}
.rub-inbox:before {
  content: "\e982";
}
.rub-info:before {
  content: "\e983";
}
.rub-instagram:before {
  content: "\e984";
}
.rub-italic:before {
  content: "\e985";
}
.rub-key:before {
  content: "\e986";
}
.rub-layers:before {
  content: "\e987";
}
.rub-layout:before {
  content: "\e988";
}
.rub-life-buoy:before {
  content: "\e989";
}
.rub-link-2:before {
  content: "\e98a";
}
.rub-link:before {
  content: "\e98b";
}
.rub-linkedin:before {
  content: "\e98c";
}
.rub-list:before {
  content: "\e98d";
}
.rub-loader:before {
  content: "\e98e";
}
.rub-lock:before {
  content: "\e98f";
}
.rub-log-in:before {
  content: "\e990";
}
.rub-log-out:before {
  content: "\e991";
}
.rub-mail:before {
  content: "\e992";
}
.rub-map-pin:before {
  content: "\e993";
}
.rub-map:before {
  content: "\e994";
}
.rub-maximize-2:before {
  content: "\e995";
}
.rub-maximize:before {
  content: "\e996";
}
.rub-meh:before {
  content: "\e997";
}
.rub-menu:before {
  content: "\e998";
}
.rub-message-circle:before {
  content: "\e999";
}
.rub-message-square:before {
  content: "\e99a";
}
.rub-mic-off:before {
  content: "\e99b";
}
.rub-mic:before {
  content: "\e99c";
}
.rub-minimize-2:before {
  content: "\e99d";
}
.rub-minimize:before {
  content: "\e99e";
}
.rub-minus-circle:before {
  content: "\e99f";
}
.rub-minus-square:before {
  content: "\e9a0";
}
.rub-minus:before {
  content: "\e9a1";
}
.rub-monitor:before {
  content: "\e9a2";
}
.rub-moon:before {
  content: "\e9a3";
}
.rub-more-horizontal:before {
  content: "\e9a4";
}
.rub-more-vertical:before {
  content: "\e9a5";
}
.rub-mouse-pointer:before {
  content: "\e9a6";
}
.rub-move:before {
  content: "\e9a7";
}
.rub-music:before {
  content: "\e9a8";
}
.rub-navigation-2:before {
  content: "\e9a9";
}
.rub-navigation:before {
  content: "\e9aa";
}
.rub-octagon:before {
  content: "\e9ab";
}
.rub-package:before {
  content: "\e9ac";
}
.rub-paperclip:before {
  content: "\e9ad";
}
.rub-pause-circle:before {
  content: "\e9ae";
}
.rub-pause:before {
  content: "\e9af";
}
.rub-pen-tool:before {
  content: "\e9b0";
}
.rub-percent:before {
  content: "\e9b1";
}
.rub-phone-call:before {
  content: "\e9b2";
}
.rub-phone-forwarded:before {
  content: "\e9b3";
}
.rub-phone-incoming:before {
  content: "\e9b4";
}
.rub-phone-missed:before {
  content: "\e9b5";
}
.rub-phone-off:before {
  content: "\e9b6";
}
.rub-phone-outgoing:before {
  content: "\e9b7";
}
.rub-phone:before {
  content: "\e9b8";
}
.rub-pie-chart:before {
  content: "\e9b9";
}
.rub-play-circle:before {
  content: "\e9ba";
}
.rub-play:before {
  content: "\e9bb";
}
.rub-plus-circle:before {
  content: "\e9bc";
}
.rub-plus-square:before {
  content: "\e9bd";
}
.rub-plus:before {
  content: "\e9be";
}
.rub-pocket:before {
  content: "\e9bf";
}
.rub-power:before {
  content: "\e9c0";
}
.rub-printer:before {
  content: "\e9c1";
}
.rub-radio:before {
  content: "\e9c2";
}
.rub-refresh-ccw:before {
  content: "\e9c3";
}
.rub-refresh-cw:before {
  content: "\e9c4";
}
.rub-repeat:before {
  content: "\e9c5";
}
.rub-rewind:before {
  content: "\e9c6";
}
.rub-rotate-ccw:before {
  content: "\e9c7";
}
.rub-rotate-cw:before {
  content: "\e9c8";
}
.rub-rss:before {
  content: "\e9c9";
}
.rub-save:before {
  content: "\e9ca";
}
.rub-scissors:before {
  content: "\e9cb";
}
.rub-search:before {
  content: "\e9cc";
}
.rub-send:before {
  content: "\e9cd";
}
.rub-server:before {
  content: "\e9ce";
}
.rub-settings:before {
  content: "\e9cf";
}
.rub-share-2:before {
  content: "\e9d0";
}
.rub-share:before {
  content: "\e9d1";
}
.rub-shield-off:before {
  content: "\e9d2";
}
.rub-shield:before {
  content: "\e9d3";
}
.rub-shopping-bag:before {
  content: "\e9d4";
}
.rub-shopping-cart:before {
  content: "\e9d5";
}
.rub-shuffle:before {
  content: "\e9d6";
}
.rub-sidebar:before {
  content: "\e9d7";
}
.rub-skip-back:before {
  content: "\e9d8";
}
.rub-skip-forward:before {
  content: "\e9d9";
}
.rub-slack:before {
  content: "\e9da";
}
.rub-slash:before {
  content: "\e9db";
}
.rub-sliders:before {
  content: "\e9dc";
}
.rub-smartphone:before {
  content: "\e9dd";
}
.rub-smile:before {
  content: "\e9de";
}
.rub-speaker:before {
  content: "\e9df";
}
.rub-square:before {
  content: "\e9e0";
}
.rub-star:before {
  content: "\e9e1";
}
.rub-stop-circle:before {
  content: "\e9e2";
}
.rub-sun:before {
  content: "\e9e3";
}
.rub-sunrise:before {
  content: "\e9e4";
}
.rub-sunset:before {
  content: "\e9e5";
}
.rub-tablet:before {
  content: "\e9e6";
}
.rub-tag:before {
  content: "\e9e7";
}
.rub-target:before {
  content: "\e9e8";
}
.rub-terminal:before {
  content: "\e9e9";
}
.rub-thermometer:before {
  content: "\e9ea";
}
.rub-thumbs-down:before {
  content: "\e9eb";
}
.rub-thumbs-up:before {
  content: "\e9ec";
}
.rub-toggle-left:before {
  content: "\e9ed";
}
.rub-toggle-right:before {
  content: "\e9ee";
}
.rub-trash-2:before {
  content: "\e9ef";
}
.rub-trash:before {
  content: "\e9f0";
}
.rub-trello:before {
  content: "\e9f1";
}
.rub-trending-down:before {
  content: "\e9f2";
}
.rub-trending-up:before {
  content: "\e9f3";
}
.rub-triangle:before {
  content: "\e9f4";
}
.rub-truck:before {
  content: "\e9f5";
}
.rub-tv:before {
  content: "\e9f6";
}
.rub-twitter:before {
  content: "\e9f7";
}
.rub-type:before {
  content: "\e9f8";
}
.rub-umbrella:before {
  content: "\e9f9";
}
.rub-underline:before {
  content: "\e9fa";
}
.rub-unlock:before {
  content: "\e9fb";
}
.rub-upload-cloud:before {
  content: "\e9fc";
}
.rub-upload:before {
  content: "\e9fd";
}
.rub-user-check:before {
  content: "\e9fe";
}
.rub-user-minus:before {
  content: "\e9ff";
}
.rub-user-plus:before {
  content: "\ea00";
}
.rub-user-x:before {
  content: "\ea01";
}
.rub-user:before {
  content: "\ea02";
}
.rub-users:before {
  content: "\ea03";
}
.rub-video-off:before {
  content: "\ea04";
}
.rub-video:before {
  content: "\ea05";
}
.rub-voicemail:before {
  content: "\ea06";
}
.rub-volume-1:before {
  content: "\ea07";
}
.rub-volume-2:before {
  content: "\ea08";
}
.rub-volume-x:before {
  content: "\ea09";
}
.rub-volume:before {
  content: "\ea0a";
}
.rub-watch:before {
  content: "\ea0b";
}
.rub-wifi-off:before {
  content: "\ea0c";
}
.rub-wifi:before {
  content: "\ea0d";
}
.rub-wind:before {
  content: "\ea0e";
}
.rub-x-circle:before {
  content: "\ea0f";
}
.rub-x-octagon:before {
  content: "\ea10";
}
.rub-x-square:before {
  content: "\ea11";
}
.rub-x:before {
  content: "\ea12";
}
.rub-youtube:before {
  content: "\ea13";
}
.rub-zap-off:before {
  content: "\ea14";
}
.rub-zap:before {
  content: "\ea15";
}
.rub-zoom-in:before {
  content: "\ea16";
}
.rub-zoom-out:before {
  content: "\ea17";
}
