@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro-Bold.eot');
    src: url('../fonts/CerebriSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CerebriSansPro-Bold.woff2') format('woff2'),
        url('../fonts/CerebriSansPro-Bold.woff') format('woff'),
        url('../fonts/CerebriSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro-Medium.eot');
    src: url('../fonts/CerebriSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CerebriSansPro-Medium.woff2') format('woff2'),
        url('../fonts/CerebriSansPro-Medium.woff') format('woff'),
        url('../fonts/CerebriSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro-Regular.eot');
    src: url('../fonts/CerebriSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CerebriSansPro-Regular.woff2') format('woff2'),
        url('../fonts/CerebriSansPro-Regular.woff') format('woff'),
        url('../fonts/CerebriSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

