@import "../bourbon/bourbon";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "_mixins";

$gray-darker: #414141;
$gray-dark: #878787;
$gray: #acaaa6;
$gray-lighter: rgba(160, 160, 160, 0.25);
$brand-primary: #2fb5d2;
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.2rem;
$extra-small-space2: 0.3rem;
$small-space: 0.5rem;
$medium-space: 1rem;
$large-space: 2rem;
$extra-large-space: 3rem;
$warning: #ff9a52;
$warning-hover: #fde7bb;
$alert-warning-bg: rgba(255, 154, 82, 0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6c868e;
$btn-tertiary-hover: #bbcdd2;
$base-font-size: 14px;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 1.375rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;
$display1-size: 50px;
$display1-weight: 600;
$display2-size: 35px;
$display2-weight: 400;
$display3-size: 25px;
$display3-weight: 400;
$display4-size: 20px;
$display4-weight: 400;
$text-muted: $gray;

$default-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
$smooth-transition-timing: cubic-bezier(0.7, 0, 0.3, 1);
$gray-light: rgba(160, 160, 160, 0.25);
$gray-light-bg: hsla(0, 0%, 80%, 0.15);
$teal: #5bc0de;

// Container
$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1440px
);
@media (min-width: 1200px) {
  .container-large {
    max-width: 1770px;
    width: auto;
    margin: auto;
    padding: 0 15px;
  }
}

$font-family-base: 'Cerebri Sans Pro', sans-serif;

// Heading
$headings-font-family: 'Cerebri Sans Pro', serif;
$headings-font-weight: 500;
$headings-color: #000000;

// Color Body
$body-bg: #fff;
$body-color: #a3a3a3;
$link-color: #000000;
$link-hover-color: #ff6f00;
