// Product List
// ========================================================================
// name
$product-name-color:                $theme-color-secondary !default;
$product-name-hover-color:          $link-hover-color !default;
$product-name-font-family:          $font-family-senary-1 !default;
$product-name-font-size: 			$font-size-lg + 4 !default;
$product-name-font-weight:          400 !default;

//price 
$product-price-color:               $theme-color-default !default;
$product-price-font-family:         $font-family-base !default;
$product-price-font-size:           $font-size-h6 !default;
$product-price-font-weight:         600 !default;
$product-price-regular-color:       $theme-color-senary !default;
$product-price-discount-bg:         $brand-secondary !default;
$product-price-discount-color:      white !default;

// image
$product-image-border:              $main-border !default;
$product-image-radius:              0px !default;

// Product Flats
$product-flags-new-bg:              #77c66d !default;
$product-flags-sale-bg:             #f8956c !default;
$product-flags-discount-bg:         #f2434a !default;
$product-flags-online-only-bg:      $brand-warning !default;