@import "theme_variables";

/*Preview Admin */
#module-leoslideshow-preview{
	.container{
 		width: 100%;
	}
	.content-only{
		overflow: hidden;
	}
	#leo-paneltool{
		display: none;
	}
}

/* The slider */
.iviewSlider {
	overflow: hidden;
}

/* The timer in the Slider */
.iview-timer {
	position: absolute;
	z-index: 100;
	cursor: pointer;
	@include rounded-corners(5px);
	div {
		@include rounded-corners(3px);
	}
}


/* The Preloader in the Slider */
.iview-preloader {
	position: absolute;
	z-index: 1000;
	border: $black 1px solid;
	padding: 1px;
	@include size(100px,3px);
	@include rounded-corners(3px);
	div {
		background: $black;
		float: left;
		@include size(0px,3px);
		@include rounded-corners(2px);
	}
}

/* The strips and boxes in the Slider */
.iview-strip, .iview-block {
	display: block;
	position: absolute;
	z-index: 5;
}

/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav {
	a {
		position: absolute;
        bottom: 50%;
        top: auto;
        width: 40px;
        height: 40px;
        color: $nocolor;
        text-align: center;
        background: $white;
        font-size: 0;
        border: none;
        cursor: pointer;
        @include border-radius(50px);
        @include opacity(0);
        @include transition(all 0.5s ease);
        @include transform(translate(0,50%));
        @include box-shadow(0 0px 0px 0px rgba(255, 255, 255, 0.3));
		&:before{
			content: "\f105";
	        font-family: $font-icon;
	        color: $theme-color-secondary;
	        font-size: 20px;
	        display: block;
	        @include transition(all 0.5s ease);
	        line-height: 40px;
	        [dir="rtl"] & {
	          content: "\f104";
	        }
		}
		&.iview-prevNav {
			left: -50px;
			&:before{
	            content: "\f104";
	            @include rtl-left(12px);
	            [dir="rtl"] & {
	              content: "\f105";
	            }
	        }
		}
		&.iview-nextNav {
			right: -50px;
		}
		&:hover{
			@media (min-width: 992px) {
	          @include box-shadow(0 0px 0px 10px rgba(255, 255, 255, 0.3));
	        }
		}
		@media (max-width: 600px){
			@include size(40px,40px);
			&:before{
				line-height: 40px;
			}
		}
	}
}
.iview.iview-hover{
	.iview-directionNav{
		a{
			@include opacity(1);
			&.iview-prevNav {
				left: 10px;
			}
			&.iview-nextNav {
				right: 10px;
			}
		}
	}
}
/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav {
	div{
		&.iview-items {	
			position: absolute;
		    bottom: 20px;
		    display: inline-block;
		    width: 100%;
		    text-align: center;
			@include transition(opacity 0.2s ease-out);
			ul{
				margin-bottom: 0px;
				li{
					display: inline-block;
					position: relative;
					height: 10px;
					padding: 0px;
					a{
						&.iview-control {
							position: relative;
							text-indent: -9999px;
							display: inline-block;
							cursor: pointer;
							margin: 0px 8px;
							@include size(9px,9px);
							@include rounded-corners(100%);
							background: #e6e6e6;
							box-sizing: content-box;
							&:before{
								content: "";
							    background: #323232;
							    position: absolute;
							    bottom: -2px;
							    @include rtl-left(-2px);
							    @include size(14px,14px);
							    @include border-radius(50%);
							    @include transition(all 0.3s ease);
							    @include opacity(0);
							    @include transform(scale(0));
							}
							&.active,
							&:hover { 
								&:before{
									@include opacity(1);
									@include transform(scale(1));
								}
							}
						}
					}
				}
			}
			&.customHtmlBullet{
				padding: 0px;
				height: 96px;
				width: 100%;
				background: #FFF;
				position: absolute;
				left: 0;
				bottom: 0;
				text-align: left;
				z-index: 3;
				ul{
					li{
						width: 33%;
						height: 96px;
						float: left;
						padding: 0;
					}
				}
				a{
					&.iview-control {
						padding: 20px 25px 20px 16%;
						float: left;
						width: 100%;
						height: 100%;
						color: $theme-color-secondary;
						background: none;
						text-transform: uppercase;
						border-left: 1px solid #DDD;
						@include rounded-corners(0);
						text-indent: inherit;
						margin: 0;
						&.active,
						&:hover {
							background: #fafafa;
							cursor: pointer;
							&:after{
								font-family: $font-icon;
								content: "\f0d8";
								position: absolute;
							    top: -33px;
							    right: auto;
							    left: 50%;
							    margin-left: -10px;
								font-size: 40px;
								color: #fafafa;
							}
							span{
								background-color: $theme-color-default;
								color: $white;
							}
						}	
						h5{color: $theme-color-secondary; font-size: $base-font-size; font-weight: 400;font-family: $font-family-base; line-height: 20px;}	
						span{
							@include rounded-corners(100%);
							@include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16));
							background: #eaeaea;
							width: 56px;
							height: 56px;
							line-height: 56px;
							color: $theme-color-secondary;
							display: inline-block;
							text-align: center;
							font-family: $font-family-senary;
							font-size: 18px;
							margin: 0 18px 0 0;
							float: left;	
						}
						p{
							margin: 0;
							color: $body-color;
						}
					}
				}
			}
		}
	}
}



/* The video show in the Slider */
.iview-video-show {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
	.iview-video-container {
		position: relative;
		width: 100%;
		height: 100%;
		a{
			&.iview-video-close {
				position: absolute;
				right: 10px;
				top: 10px;
				background: #222;
				color: $white;
				text-align: center;
				line-height: 29px;
				font-size: 22px;
				font-weight: bold;
				overflow: hidden;
				@include size(20px,20px);
				@include rounded-corners(15px);
				&:hover{
					background: #444;
				}
			}
		}
	}
}