@import "theme_variables";

/*******************DONGND CSS FOR CART BEGIN*****************************/
.leo-bt-cart.disable
{
	/* cursor: not-allowed; */
	/* opacity: .65; */
}

.leo-bt-cart.disabled:focus
{
	background: #acaaa6;
}

.leo-modal .modal-content
{
	border-radius: 0;
	.btn{
		margin: 5px;
	}
	.leo-modal-send-wishlist-bt,.btn-secondary{
		@media (min-width: 481px){
			@include rtl-float-right();
		}
	}
	.modal-footer{
		@media (max-width: 480px){
			@include rtl-text-align-left();
		}
		.leo-modal-review-loading{
		    position: relative;
		    width: 17px;
		    height: 17px;
		    border-top-color: $white;
		    border-bottom-color: $white;
		}
	}
	.product-info{
		.product_desc{
			margin-top: 15px;
		}
	}
}
.leo-modal .modal-content .modal-title{
	font-weight: 400;
}
.leo-modal-cart .modal-dialog, .leo-modal-compare .modal-dialog, .leo-modal-wishlist .modal-dialog
{
	margin: 250px auto;
}
.leo-modal .modal-title .material-icons
{
	@include rtl-margin-right(5px);
}

.leo-modal-cart .modal-title {
    font-weight: 600;
    color: #fff;
    font-size: 1.125rem;
	display: none;
}

.leo-modal-cart .modal-header
{
	border: none;
}

.leo-modal .modal-header.info-mess, .leo-modal .modal-header.warning-mess{
	background: #2FB5D2;
}

.leo-modal .modal-header.block-mess{
	background: #F39D72;
}

.leo-bt-cart
{
	width: 100%;
}

.leo-loading, .leo-modal-review-loading, .leo-compare-bt-loading, .leo-wishlist-bt-loading,.leo-quickview-bt-loading
{
	display: none;
}

.leo-wishlist-button.added .leo-wishlist-bt-loading, .leo-compare-button.added .leo-compare-bt-loading
{
	
	border: 2px solid $theme-color-default;
	border-left-color: transparent;
	border-right-color: transparent;
}

.leo-wishlist-button .leo-wishlist-bt-loading, .leo-compare-button .leo-compare-bt-loading,.quick-view.active .leo-quickview-bt-loading
{
	
	border: 2px solid #2FB5D2;
	border-left-color: transparent;
	border-right-color: transparent;
}

.cssload-speeding-wheel {
	
	width: 17px;
	height: 17px;
	margin: auto;
	border: 2px solid #5bc0de;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 800ms infinite linear;
		-o-animation: cssload-spin 800ms infinite linear;
		-ms-animation: cssload-spin 800ms infinite linear;
		-webkit-animation: cssload-spin 800ms infinite linear;
		-moz-animation: cssload-spin 800ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*
.leo-modal .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}

.leo-modal .modal-dialog{
    display: table-cell;
    vertical-align: middle;
}

.leo-modal .modal-content {
    max-width: 600px;
	margin: 0 auto;
}
*/

.leo-bt-select-attr, .leo-dropdown-attr
{
	width: 100%;
}
.leo-select-attr.selected, .leo-select-attr.selected.disable, .leo-select-attr:hover
{
	background: #A0D468;
	color: #fff;
}

.leo-select-attr.disable
{
	background: #EBEBEB;
}

.leo-dropdown-attr
{
	padding: 0px;
	z-index: 999;
}
/*******************DONGND CSS FOR CART END*****************************/

/*******************DONGND CSS FOR REVIEWS BEGIN*****************************/
.leo-modal-review .modal-title, .leo-modal-send-wishlist .modal-title 
{
    text-transform: uppercase;
}

.leo-modal-review .modal-dialog
{
	max-width: 650px;
}

.cancel, .cancel a {	
    color: #d20000;
}
.cancel:before{
	content: "\f056";
	font-family: "FontAwesome";
	font-size: 14px;
}
.cancel, .star {
    overflow: hidden;
	@include rtl-float-left();
    margin: 0 1px 0 0;
    width: 15px;
    height: auto;
    cursor: pointer;
    font-size: 14px;
}

.star_content
{
	display: inline-block;
}

div.star.star_on, div.star.star_hover {
    color: #fcbe32;
}
div.star {
    color: #d8d8d8;
}
div.star:before {
	content: "\f005";
	font-family: $font-icon;
	font-size: 12px;
}

#criterions_list {
    list-style-type: none;
}

#criterions_list li {
    margin-bottom: 10px;
}

#criterions_list label {
	display: inline;
	@include rtl-float-left();
	@include rtl-margin(0, 10px, 0, 0 );
}

.star a {
    display: block;
    position: absolute;
    text-indent: -5000px;
    font-size: 0;
}

.new_review_form_content {
	#criterions_list {
	    border-bottom: 1px solid #CCC;
	    padding-bottom: 15px;
	    list-style-type: none;
	}
	sup{
		color: $red;
	}
}

/* .new_review_form_content .form-group.leo-has-error input, .new_review_form_content .form-group.leo-has-error textarea */
/* { */
	/* outline: 1px solid #ff4c4c; */
/* } */
.leo-fake-button, .leo-fake-send-wishlist-button
{
	display: none;
}
.open-review-form
{
	display: none;
}

.leo-modal-review .has-success, .leo-modal-review .has-danger
{
	text-align: center;
	
}

.leo-modal-review .has-success label, .leo-modal-review .has-danger label
{
	font-weight: 600;
	font-size: 1.125rem;
	display: inline;
}

.leo-list-product-reviews
{
	text-align: center;
}

.leo-list-product-reviews .star_content, .leo-list-product-reviews .star, #leo_product_reviews_block_extra .star_content, #leo_product_reviews_block_extra .star , .review_author .star_content, .review_author .star, .product-rating .star_content, .product-rating .star
{
	cursor: default;
}

.leo-list-product-reviews-wraper
{
	display: inline-block;
	.nb-revews{
		display: inline-block;
		position: relative;
		top: -4px;
		font-size: 13px;
	}
}

#leo_product_reviews_block_extra{
	@media (min-width: 480px){
		@include display(flex);
		@include align-items(flex-end);
	}
	.reviews_note{
		@include rtl-padding-right(30px);
		> span{
			vertical-align: top;
			@include rtl-padding-right(5px);
		}
	}
	.reviews_advices{
		margin: 0;
	}
}

.reviews_advices li
{
	line-height: 23px;
	display: inline-block;
	a{
		color: $theme-color-senary;
		i{
			font-size: 16px;
		}
		span{
			&:before{
                content: '(';
                display: inline-block;
            }
            &:after{
                content: ')';
                display: inline-block;
            }
		}
		&:hover{
			color: $theme-color-default;
		}
	}
}

.reviews_advices li.last
{
	position: relative;
	@include rtl-margin-left(10px);
	@include rtl-padding-left(15px);
	line-height: normal;
	&:before{
		content: "";
		background: #c2c2c2;
		width: 2px;
		height: 15px;
		position: absolute;
		bottom: 3px;
		@include rtl-left(0);
	}
}

#product_reviews_block_tab .review
{
	.review-info{
		margin-bottom: 10px;
		.star_content{
			display: block;
			line-height: 25px;
		}
	}
	.review_button{
		ul{
			li{
				> span{
					@media (max-width: 320px){
						display: block;
						margin-bottom: 10px;
					}
				}
			}
		}
		.btn{
			padding: 5px 10px; 
			text-transform: none;
			line-height: 23px;
			background: #ddd;
			&:hover{
				background: $link-hover-color;
				color: $white;
			}
			&.report_btn{
				margin-top: 10px;
			}
		}
	}
	.review_author_infos{
		width: 100%;
		display: inline-block;
	}
}

#product_reviews_block_tab{
	.review_author{
		@media (min-width: 576px){
			@include rtl-border-right(1px solid #B5AAB0);
		}
	}
	.review_details{
		.title_block{
			margin: 0;
			font-size: 14px;
			line-height: 25px;
		}
	}
}

#product_reviews_block_tab .report_btn
{
	padding: 0;
}
#product_reviews_block_tab .report_btn.disabled
{
	background: #fff;
	color: #acaaa6;
}

.usefulness_btn.active, .usefulness_btn.active:hover
{
	color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.review_button .btn.active
{
	display: inline-block;
}

/*******************DONGND CSS FOR REVIEWS END*****************************/

/*******************DONGND CSS FOR COMPARE BEGIN*****************************/
.leo-compare-button.added, .leo-wishlist-button.added
{
	color: #2FB5D2 !important;
}

.leo-compare-button.active, .leo-wishlist-button.active
{
	border-color: #2FB5D2;
}

.leo-productscompare-item{
	width: 350px;
}
.leo-productscompare-item:hover{
	-moz-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.leo-productscompare-item .thumbnail-container img{
	width: 100%;
}
.leo-productscompare-item .thumbnail-container
{
	height: 100%;
	text-align: left;
}
.rtl .leo-productscompare-item .thumbnail-container
{
	text-align: right;
}
.leo-productscompare-item .thumbnail-container:hover{
	-moz-box-shadow: none;
     -webkit-box-shadow: none; 
    -o-box-shadow: none;
    -ms-box-shadow: none;
     box-shadow: none; 
}
.leo-productscompare-item .product-description
{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 10px;
	padding: 10px;
	.leo-bt-cart{
		min-width: 250px;
	}
	.dropdown-menu{
		max-height: 65px;
	}
}
.leo-productscompare-item .product-description .product-title{
	width: 100%;
	float: none;
	margin-top: 10px;
}
.leo-productscompare-item .product-description .product-price-and-shipping{
	@include rtl-text-align-left();
	height: auto;
	.aeuc_unit_price_label{
		position: relative;
		top: inherit;
	}
}

.leo-productscompare-item .product-description .product-price-and-shipping .price{
	display: inline-block;
}
.leo-productscompare-item .delete-productcompare .leo-compare-button
{
	float: right;
	padding: 0;
	margin-bottom: 5px;
}

.product-rating
{
	display: inline-block;
}

/*******************DONGND CSS FOR COMPARE END*****************************/

/*******************DONGND CSS FOR WISHLIST BEGIN*****************************/
.list-wishlist{
	margin: 20px 0;
	overflow-x: auto;
	> table{
		@media (max-width: 991px){
			width: 991px;
		}
	} 
	table tbody > tr{
		&:nth-child(odd){
			background: #ebebeb;
		}
		&:nth-child(even){
			background: #f6f6f6;
		}
	}
}
.leo-save-wishlist-loading
{
	display: none;
}

.list-wishlist tr,.leo-wishlistproduct-item
{
	-moz-transition:background-color 1.5s;
    -webkit-transition:background-color 1.5s;
    -o-transition:background-color 1.5s;
    transition:background-color 1.5s;
}
.list-wishlist tr.new, .list-wishlist tr.active, .list-wishlist tr.show.active
{
	background-color:#4880D2 !important;
}

.leo-wishlistproduct-item{
	text-align: center;
	margin-bottom: 100px;
	@media (min-width: 1200px) {
		&:nth-child(4n + 1){
			clear: both;
		}
	}
	@media (max-width: 1199px) and (min-width: 768px) {
		&:nth-child(3n + 1){
			clear: both;
		}
	}
	@media (max-width: 767px) and (min-width: 576px) {
		&:nth-child(2n + 1){
			clear: both;
		}
	}
	.wishlist-product-info{
		select.form-control:not([size]):not([multiple]){
			height: calc(2.5rem - 0px);
		}
	}
}


.wishlist-product-action{
	.leo-wishlist-product-save-button, .leo-wishlist-button-dropdown{
		width: auto;
	}
	.btn{
		padding: 10px;
		text-transform: none;
		line-height: normal;
	}
}

.wishlist-product-action{
	position: relative;
	.leo-wishlist-button-dropdown{
		position: static;
		display: inline-block;
		.leo-list-wishlist{
			top: auto;
			bottom: 100%;
			left: 0;
			right: 0;
			margin: auto;
			font-size: 13px;
			max-height: 125px;
			overflow-y: auto; 
		}
		.move-wishlist-item{
			background: $theme-color-default;
			color: $white;
			@include border-radius(0);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			padding: 10px;
			&:hover{
				background: #333333;
			}
		}
	}
}

.leo-modal-wishlist .modal-footer
{
	display: none;
}

.leo-modal-wishlist.enable-action .modal-footer
{
	display: block;
	text-align: right;
}
.rtl .leo-modal-wishlist.enable-action .modal-footer
{
	text-align: left;
}
.leo-modal-wishlist.enable-action .modal-footer .btn{
	margin-left: 5px;
}
.leo-modal-wishlist-loading
{
	display: none;
}
/*
.leo-compare-wishlist-button
{
	position: relative;
}
*/
.leo-list-wishlist
{
	max-height: 79px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid $border-color;
	z-index: 999;
	margin: auto;
	padding: 0;
	left: 0 ;
	right: 0;
	width: 120px;
	@include rtl-text-align-left();
	top: inherit;
	bottom: 100%;
	.list-group-item-action{
		overflow: hidden;
    	text-overflow: ellipsis;
	}
}
.leo-list-wishlist .wishlist-item{
	padding: 10px;
}
.leo-wishlist-button.dropdown-toggle::after
{
	display: none;
}

.leo-wishlist-button-dropdown
{
	@media (max-width: 991px){
		position: static;
	}
}


/*
.popover-list-wishlist .popover-title
{
	text-align: center;
}

.popover-list-wishlist .popover-content
{
	padding: 0;
}

.popover-list-wishlist .list-group-item
{
	border-bottom: none;
	border-left: none;
	border-right: none;
}
*/

.wishlist-item.added, .wishlist-item.added:hover
{
	background-color: #2fb5d2;
	color: #fff;
}
.wishlist-item:hover, .move-wishlist-item:hover
{
    background-color: #f7f7f9;
}

/*
.leo-list-wishlist .list-group-item.wishlist-item.active, .leo-list-wishlist .list-group-item.wishlist-item.active:focus
{
	border-color: none;
	background-color: none;
}
*/

.view-wishlist-product
{
	@include rtl-float-left();
	text-overflow: ellipsis;
    overflow: hidden;
    max-width: 170px;
	i{
		display: inline;
		@include rtl-margin-right(5px);
	}
}

.list-wishlist tr.show
{
	background-color: #d9edf7 !important; 
}
.leo-view-wishlist-product-loading
{
	display: none;
	position: relative;
	@include rtl-float-right();
	@include rtl-left(auto);
}

.leo-wishlist-product
{
	margin: 0 0 20px;
	.product-description{
		position: relative;
		.product-price-and-shipping{
			height: 23px;
			overflow: hidden;
		}
	}
}
.leo-wishlist-product .thumbnail-container:hover{
	-moz-box-shadow: none;
     -webkit-box-shadow: none; 
    -o-box-shadow: none;
    -ms-box-shadow: none;
     box-shadow: none; 
}
.delete-wishlist-product .leo-wishlist-button
{
	@include rtl-float-right();
}

.send-wishlist
{
	display: none;
}

.send-wishlist
{
	margin-bottom: 20px;
	.leo-send-wishlist-button{
		white-space: normal;
	}
}

.wishlist_email_status_loading
{
	border:2px solid #414141;
	border-left-color: transparent;
	border-right-color: transparent;
	
}

.wishlist_email_status_loading, .send_wishlist_msg, .leo-modal-send-wishlist-loading
{
	display: none;
	@media (max-width: 575px){
		@include rtl-float-left();
		margin: 5px 10px;
	}
}

.leo-modal-reset-send-wishlist-bt
{
	@include rtl-float-left();
}
.send_wishlist_success
{
	color: #5cb85c;
}

.send_wishlist_error
{
	color: #f0ad4e;
}

.send_wishlist_form_content .has-success input, .send_wishlist_form_content .has-warning input
{
	pointer-events: none;
}

.leo-wishlist-button-delete
{
	float: right;
	padding: 0;
	margin-bottom: 5px;
}

#products .product-miniature.leo-wishlistproduct-item
{
	 padding: 15px; 
	 border: 1px solid #ddd; 
	 margin-bottom: 10px; 
}
#products .product-miniature.leo-wishlistproduct-item:hover{
	-moz-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#products .product-miniature.leo-wishlistproduct-item .product-title{
	width: 100%;
	height: 25px;
	margin-top: 10px;
}
#products .product-miniature.leo-wishlistproduct-item .product-title a{
	font-size: 16px;
}
#products .product-miniature.leo-wishlistproduct-item .product-thumbnail img{
	max-width: 100%;
}
.leo-wishlistproduct-item.update
{
	
}
.footer_links{
	clear: both;
	margin-top: 30px;
	.btn{
		@include display(inline-flex);
		@include align-items(center);
		white-space: normal;
		i{
			font-size: 14px;
			@include rtl-padding-right(3px);
		}
	}
}
.footer_links li{
	padding: 5px 0;
	display: inline-block;
}
@media (min-width: 640px){
	.footer_links li.pull-xs-right{
		float: right;
	}
	.rtl .footer_links li.pull-xs-right{
		float: left;
	}
}

/*******************DONGND CSS FOR WISHLIST END*****************************/

.leo-compare-review-dropdown{
	.dropdown-menu{
		max-width: 100%;
		@include rtl-text-align-left();
		.review_content,.review_title{
			overflow: hidden;
    		text-overflow: ellipsis;
    		line-height: 23px;
		}
		strong{
			overflow: hidden;
		    text-overflow: ellipsis;
		    display: block;
		    line-height: 23px;
		}
		@media (max-width: 767px){
			.dropdown-item{
				padding: 5px 10px;
			}
		}
	}
	&.open{
		.btn{
			&:after{
				@include transform(rotate(180deg));
				@include transition(all 0.3s ease 0s);
			}
		}
	}
}
#product_comparison{
	border: none;
	.comparison_infos{
		text-align: center;
	}
}
.form-send-wishlist{
	.form-group{
		@media (min-width: 576px){
			@include display(flex);
			@include align-items(center);
		}
	}
}
input[placeholder] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**view_wishlist **/
#view_wishlist{
	h2{
		margin-bottom: 30px;
	}
}
/** page-heading Compare **/
.page-heading{
	margin-bottom: 30px;
}





/*******************DONGND CSS FOR DROPDOWN CART BEGIN*****************************/

.leo-dropdown-cart {
  position: absolute;
  &.defaultcart {
    @include rtl-right(0);
  }
  &.dropdown, &.dropup {
    visibility: hidden;
    @include opacity(0);
    z-index: -1;
    @include transition(all 0.2s linear);
  }
  &.dropdown {
    margin-top: 20px;
  }
  &.dropup {
    bottom: 100%;
    margin-bottom: 20px;
  }
  &.flycart.dropup {
    bottom: 100%;
    margin-bottom: 30px;
  }
  &.dropdown.show, &.dropup.show {
    visibility: visible;
    @include opacity(1);
    z-index: 9999;
  }
  &.dropdown.show {
    margin-top: 0;
  }
  &.dropup.show {
    margin-bottom: 0px;
  }
  &.flycart.dropup.show {
    margin-bottom: 10px;
    @include box-shadow(0px 4px 10px 0px rgba(0, 0, 0, 0.3));
  }
}

.leo-fly-cart.solo {
  &.enable-dropdown.offset-left .leo-dropdown-cart.flycart {
    left: 0;
  }
  &.offset-left .leo-fly-cart-total {
    left: 70%;
  }
  &.enable-dropdown.offset-right .leo-dropdown-cart.flycart {
    right: 0;
  }
  &.offset-right .leo-fly-cart-total {
    right: 70%;
  }
}

.leo-dropdown-cart-content {
  background: #fff;
  z-index: 99;
  border: 1px solid #ddd;
  @include rtl-right(0);
  @media (max-width: 767px){
  	.leo-dropdown-list-item-warpper{
	  	width: 100% !important;
	}
  }
  
}

.leo-dropdown-list-item {
  margin-bottom: 0px;
}

.leo-dropdown-cart-content .leo-dropdown-list-item.active-scrollbar {
  /*
  max-height: 580px;
  */
  overflow: auto;
}

#header .leo-cart-dropdown-action a {
  font-size: 12px;
  margin: 5px 0;
}

.leo-dropdown-cart-content a {
  i, &.leo-dropdown-customization, &.leo-dropdown-combination {
    color: #2fb5d2;
  }
  &:hover{
  	i{
  		color: $theme-color-default;
  	}
  }
}

/* .leo-dropdown-cart-item a {
  font-size: 1rem;
  &:hover, &:focus {
  	border-color: #2fb5d2;
    background: #2fb5d2;
    i{
    	color: $white;
    }
  }
} */

.leo-dropdown-cart-subtotals, .leo-dropdown-cart-total {
  /* margin: 10px 0; */
  @include rtl-text-align-left();
  padding: 10px;
  @media (max-width: 767px){
  	padding: 5px 10px;
  }
}

/*
.leo-dropdown-cart-subtotals>div, .leo-dropdown-cart-total>div
{
	clear: both;
}
*/

.leo-dropdown-cart-subtotals {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  @media (max-width: 767px){
	  	padding: 5px 10px;
	}
  .value {
    @include rtl-float-right();
    font-weight: 500;
    @media (max-width: 767px){
	  	font-size: 14px;
	}
  }
}

.leo-dropdown-cart-total .value {
  @include rtl-float-right();
  font-weight: 600;
}

.leo-dropdown-cart-subtotals .label, .leo-dropdown-cart-total .label {
  @include rtl-float-left();
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  @media (max-width: 767px){
  	font-size: 12px;
  }
}

.leo-cart-item-img {
	@include rtl-float-left();
    width: 40%;
    /* @include rtl-margin-right(10px); */
}

.leo-cart-item-info {
	@include rtl-float-left();
 	width: 60%;
	@include rtl-padding-left(10px);
	.product-name{
		a{
			text-transform: none;
			font-size: 13px;
		}
	}
  .product-price{
  	font-size: 14px;
  	padding: 5px 0;
  	white-space: normal;
  	.product-discount{
  		display: inline-block;
  		margin-bottom: 3px;
  	}
  	.current-price{
  		display: inline-block;
  		.price,.unit-price-cart{
  			display: inline-block;
  		}
  	}
  	.regular-price{
  		font-size: 14px;
  		@include rtl-margin-right(0);
  	}
  	.discount-percentage{
	    color: $white;
	    background: red;
	    padding: 0 5px;
	    font-size: 12px;
	    display: inline-block;
	}
  }
}


.leo-dropdown-cart-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 10px 10px;
  @include transition(background-color 0.5s linear);
  &.has-view-additional {
    padding-bottom: 0px;
  }
  &.high-light, &.show-combination, &.show-customization, &.show-additional {
    background-color: #c9def3;
    z-index: 9999;
  }
  .leo-dropdown-additional {
    position: absolute;
    /* top: 100%; */
    top: 70%;
    @include rtl-left(0);
    width: 100%;
    visibility: hidden;
    @include opacity(0);
    z-index: -1;
    @include transition(all 0.5s linear);
    background-color: #c9def3;
    padding: 0 10px 10px;
    text-transform: none;
    font-weight: 400;
  }
  &.show-additional .leo-dropdown-additional {
    top: 100%;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
  }
}

/* .leo-dropdown-cart-item .combinations, .leo-dropdown-cart-item .customizations */

/* .leo-dropdown-cart-item.show-combination .combinations, .leo-dropdown-cart-item.show-customization .customizations */

/*
.leo-dropdown-list-item.active-scrollbar .leo-dropdown-cart-item.show-additional .leo-dropdown-additional
{
	position: static;
}
*/

.leo-dropdown-additional {
  .customizations, .combinations {
    /* margin-top: 5px; */
  }
  .view-customization {
    margin-top: 5px;
    /* padding-top: 5px; */
    /* border-top: 1px solid #fff; */
  }
  .view-combination, .view-customization {
    padding-bottom: 5px;
    font-weight: bold;
    @include rtl-text-align-left();
    border-top: 1px solid #fff;
  }
}

.leo-remove-from-cart {
  position: absolute;
  bottom: 22%;
  @include rtl-right(6px);
}

.leo-dropdown-cart-item.last {
  margin-bottom: 0px;
  border-color: transparent;
  padding-bottom: 0px;
}

.leo-dropdown-additional, .view-additional {
  clear: both;
  @include rtl-text-align-left();
}

.leo-cart-dropdown-action {
  text-align: center;
  padding: 10px 15px;
  .btn{
  	font-size: 12px;
  	padding: 10px 20px;
  	margin: 5px 0;
  	width: 100%;
  	&.cart-dropdow-viewcart{
  		background: transparent;
  		border: 1px solid #5f5f5f;
  		color: $theme-color-secondary;
  		&:hover{
  			background: $theme-color-secondary;
  			color: $white;
  			border-color: $theme-color-secondary;
  		}
  	}
  	&.cart-dropdow-checkout{
  		color: #fff;
    	background-color: $theme-color-default;
    	&:hover{
    		background-color: $black;
    		border-color: transparent;
    	}
  	}
  }
}

#header .header-nav .cart-preview .leo-dropdown-cart-item .view-leo-dropdown-additional:focus {
  color: #232323;
  text-decoration: none;
  outline: none;
}

/*
.view-leo-dropdown-additional .down-arrow, .view-leo-dropdown-additional.show .right-arrow
{
	display: none;
}

.view-leo-dropdown-additional .right-arrow, .view-leo-dropdown-additional.show .down-arrow
{
	display: inline-block;
}


.view-leo-dropdown-additional .down-arrow, .view-leo-dropdown-additional .right-arrow
{	
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
*/

/*****************addition arrow BEGIN***********************/

.view-leo-dropdown-additional {
  width: 20px;
  height: 20px;
  background: #2fb5d2;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  @include rtl-left(10px);
  &.show {
    background: #797979;
  }
  &:before, &:after {
    content: "";
    display: block;
    width: 8px;
    height: 2px;
    background: white;
    position: absolute;
    top: 10px;
    @include transition(transform .3s);
  }
  &:before {
    @include rtl-right(8px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    @include transform(rotate(45deg));
  }
  &:after {
    @include rtl-right(4px);
    @include transform(rotate(-45deg));
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &.show {
    &:before {
      @include transform(rotate(-45deg));
    }
    &:after {
      @include transform(rotate(45deg));
    }
  }
}

/*****************addition arrow END***********************/

.leo-dropdown-overlay {
  display: none;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  @include rtl-left(0);
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 300;
}

/***********loading wheel BEGIN*************/

.leo-dropdown-cssload-speeding-wheel {
  display: none;
  position: absolute;
  @include rtl-left(46%);
  top: 40%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid #2fb5d2;
  @include border-radius(50%);
  border-left-color: transparent;
  border-right-color: transparent;
  @include animation(cssload-spin 800ms infinite linear);
}

.leo-fly-cssload-speeding-wheel {
  display: none;
  position: absolute;
  /* @include rtl-left(46%); */
  top: 40%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid #2fb5d2;
  @include border-radius(50%);
  border-left-color: transparent;
  border-right-color: transparent;
  @include animation(cssload-spin 800ms infinite linear);
  /*
  left: 70%;
  top: -60%;
  */
  @include rtl-left(0);
  top: 0;
  width: 24px;
  height: 24px;
}

.leo-blockcart {
  &.cart-preview {
    span.leo-dropdown-cssload-speeding-wheel {
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-left-color: transparent;
      border-right-color: transparent;
      vertical-align: middle;
      position: relative;
      @include rtl-left(0);
      top: 0;
    }
    &.show-leo-loading {
      position: relative;
    }
  }
  
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/***********loading wheel END*************/

/************loading piano BEGIN****************/

.cssload-piano {
  display: none;
  margin: auto;
  font-size: 8px;
  position: absolute;
  bottom: 0;
  width: 30px;
  @include rtl-left(0);
  @include transform(translateY(50%));
  > div {
    height: 2px;
    width: 7px;
    display: inline-block;
    @include animation(stretchdelay 0.88s infinite ease-in-out);
  }
  .cssload-rect2 {
    @include animation-delay(-0.65s);
  }
  .cssload-rect3 {
    @include animation-delay(-0.42s);
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleX(0.8);
    background-color: rgb(46, 88, 101);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }

  20% {
    transform: scaleX(1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}


@-o-keyframes stretchdelay {
  0%, 40%, 100% {
    -o-transform: scaleX(0.8);
    background-color: rgb(46, 88, 101);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }

  20% {
    -o-transform: scaleX(1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}


@-ms-keyframes stretchdelay {
  0%, 40%, 100% {
    -ms-transform: scaleX(0.8);
    background-color: rgb(46, 88, 101);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }

  20% {
    -ms-transform: scaleX(1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}


@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleX(0.8);
    background-color: rgb(46, 88, 101);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }

  20% {
    -webkit-transform: scaleX(1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}


@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -moz-transform: scaleX(0.8);
    background-color: rgb(46, 88, 101);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }

  20% {
    -moz-transform: scaleX(1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}


/************loading piano END****************/

/********* notification BEGIN *********/

.leo-notification {
  display: none;
  position: fixed;
  /*
  top: 10%;
  right: 10px;
  
  width: 320px;
  */
  &.active {
    display: block;
    z-index: 99999;
  }
  .notification-wrapper {
    width: 100%;
    /* overflow: hidden;	 */
    /* background: #ecf0f1; */
    /* border-bottom: 1px solid #95a5a6; */
    /* margin-bottom: 5px; */
    max-height: 100px;
    &.disable {
      max-height: 0;
      /* margin-bottom: 0; */
      @include transition(all 0.7s);
    }
  }
}

.notification {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  /* height: 40px; */
  /* border-radius: 0px 0px 5px 5px; */
  margin: 0 auto;
  /* box-shadow: #95a5a6 0px 0px 6px 2px; */
  color: white;
  /* line-height: 40px; */
  line-height: 25px;
  /* overflow: hidden; */
  /* animation: reveal 1 2s; */
  cursor: pointer;
  visibility: hidden;
  z-index: -1;
  @include opacity(0);
  @include transform(translate(0px, -50px));
  &.show {
    @include transform(translate(0px, 0px));
    @include transition(0.7s);
    visibility: visible;
    z-index: 99999;
    @include opacity(1);
  }
  .notification-title {
    @include rtl-margin-right(15px);
    padding: 0px 15px;
    /* line-height: 40px; */
    line-height: 30px;
    display: inline-block;
  }
  .notification-close {
    background: rgba(255, 255, 255, 0.2);
    /* background: rgba(0,0,0,0.2); */
    /* padding: 0px 15px; */
    padding: 0px 10px;
    @include rtl-float-right();
    /* line-height: 40px; */
    line-height: 20px;
    display: inline-block;
    color: white;
    /* color: #000; */
    position: absolute;
    bottom: 12px;
    @include rtl-right(10px);
    &:hover {
      cursor: pointer;
    }
  }
  &.closed {
    @include transform(translate(0px, -50px));
    @include transition(0.7s);
    visibility: hidden;
    z-index: -1;
    @include opacity(0);
  }
}

.leo-temp {
  display: none;
}

/*
@keyframes reveal{
	0%{
		transform: translate(0px, -100px);
	}
	50%{
		transform: translate(0px, -100px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}

@-o-keyframes reveal {
	0%{
		-o-transform: translate(0px, -100px);
	}
	50%{
		-o-transform: translate(0px, -100px);
	}
	100%{
		-o-transform: translate(0px, 0px);
	}
}

@-ms-keyframes reveal {
	0%{
		-ms-transform: translate(0px, -100px);
	}
	50%{
		-ms-transform: translate(0px, -100px);
	}
	100%{
		-ms-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes reveal {
	0%{
		-webkit-transform: translate(0px, -100px);
	}
	50%{
		-webkit-transform: translate(0px, -100px);
	}
	100%{
		-webkit-transform: translate(0px, 0px);
	}	
}

@-moz-keyframes reveal {
	0%{
		-moz-transform: translate(0px, -100px);
	}
	50%{
		-moz-transform: translate(0px, -100px);
	}
	100%{
		-moz-transform: translate(0px, 0px);
	}
}
*/

.notification {
  &.notification-success {
    /* background: #2ecc71; */
    background: rgba(46, 204, 113, 0.8);
    .notification-title {
      background: #27ae60;
    }
  }
  &.notification-error {
    /* background: #e74c3c; */
    background: rgba(231, 76, 60, 0.8);
    .notification-title {
      background: #c0392b;
    }
  }
  &.notification-warning {
    /* background: #f1c40f; */
    background: rgba(241, 196, 15, 0.8);
    .notification-title {
      background: #f39c12;
    }
  }
  &.notification-normal {
    /* background: #3498db; */
    background: rgba(52, 152, 219, 0.8);
    .notification-title {
      background: #2980b9;
    }
  }
  .noti {
    display: none;
    &.active {
      display: block;
    }
  }
}

.notification-success .noti-special {
  text-transform: capitalize;
}

/********* notification END*********/

.leo-input-product-quantity {
  width: 50px;
  height: 30px;
  text-align: center;
  margin: 0 2px;
  padding: 0 7px;
  border: 1px solid #e1e1e1;
}

.leo-cart-item-info{
	.leo-bt-product-quantity {
		cursor: pointer;
		width: 30px;
		height: 30px;
	    background: #e1e1e1;
	    border: 1px solid #e1e1e1;
	    display: inline-block;
	    text-align: center;
	    i{
	    	color: $theme-color-secondary;
	    	font-size: 14px;
	    	line-height: 30px;
	    }
	    &:hover{
			background: $theme-color-default;
			border-color: $theme-color-default;
			i{
				color: $white;
			}
	    }
	}
}

.leo-cart-item-info .product-quantity {
  margin-top: 10px;
  @include display(flex);
}

/*******************DONGND CSS FOR DROPDOWN CART END*****************************/

/*******************DONGND CSS FOR FLY CART BEGIN*****************************/
/*
.leo-fly-cart.enable-dropdown, .leo-fly-cart.enable-slidebar
{
	position: fixed;
	top: 10%;
	left: 20px;
}
*/
.leo-fly-cart{
	z-index: 999;
}
.leo-fly-cart-icon-wrapper {
	cursor: pointer;
	font-size: 0px;
	position: relative;
	white-space: nowrap;
	text-align: center;
	background: $theme-color-default;
	.leo-fly-cart-icon{
	    width: 30px;
	    height: 30px;
	    line-height: 28px;
	    text-align: center;
    	background: $theme-color-default;
    	display: inline-block;
    	vertical-align: middle;
    	&:before{
    		content: "\E8CB";
    		display: block;
    		font-size: 14px;
    		color: $white;
    		font-family: $font-icon-2;
    	}
    	i{
    		display: none;
    	}
    }
    .leo-fly-cart-total{
    	padding: 0px 8px;
    	color: $theme-color-default;
    	font-size: 14px;
    	min-width: 30px;
    	min-height: 30px;
    	line-height: 26px;
    	text-align: center;
    	background: $white;
    	border-style: solid;
    	border-color: $theme-color-default;
    	display: inline-block;
    	vertical-align: middle;
    	@include rtl-border-width(2px,2px,2px,0px);
    }
}

.leo-fly-cart .leo-dropdown-cart-content {
  left: 0;
}

/***************CSS FOR LOADING FLY CART BEGIN **********************/

.leo-fly-cart-cssload-loader {
  display: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: -40%;
  @include rtl-left(0);
  /*
  margin: 49px auto;
  width: 146px;
  height: 146px;
  position: relative;
  line-height: 146px;
  */
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
  &:before {
    opacity: 0;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    @include rtl-left(0);
    width: 100%;
    height: 100%;
    @include border-radius(42px);
    /*
    border: 2px solid rgb(0,0,0);
    box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-o-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-ms-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-webkit-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-moz-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    */
    border: 1px solid rgb(47, 181, 210);
    @include box-shadow(inset 0 0 10px rgb(47, 181, 210));
  }
  &:after {
    @include opacity(0);
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    @include rtl-left(0);
    width: 100%;
    height: 100%;
    @include border-radius(42px);
    /*
    border: 2px solid rgb(0,0,0);
    box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-o-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-ms-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-webkit-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    	-moz-box-shadow: 0 0 20px rgb(0,0,0), inset 0 0 20px rgb(0,0,0);
    */
    border: 1px solid rgb(47, 181, 210);
    @include box-shadow( inset 0 0 10px rgb(47, 181, 210));
    z-index: 1;
    @include animation(cssload-gogoloader 2.3s infinite 1.15s);
  }
  &:before {
    z-index: 2;
    @include animation(cssload-gogoloader 2.3s infinite);
  }
}

@keyframes cssload-gogoloader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


@-o-keyframes cssload-gogoloader {
  0% {
    -o-transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -o-transform: scale(1);
    opacity: 0;
  }
}


@-ms-keyframes cssload-gogoloader {
  0% {
    -ms-transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -ms-transform: scale(1);
    opacity: 0;
  }
}


@-webkit-keyframes cssload-gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}


@-moz-keyframes cssload-gogoloader {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}


/***************CSS FOR LOADING FLY CART END **********************/

/***************CSS FOR FLY CART SLIDE BAR BEGIN **********************/

.leo-fly-cart-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  @include rtl-left(0);
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  backface-visibility: hidden;
  @include opacity(0);
  @include transition(opacity 0.8s, width 0s 0.8s, height 0s 0.8s);
  &.active {
    width: 100%;
    height: 100%;
    @include opacity(0.7);
    @include transition(opacity 0.3s);
  }
}

body {
  &.leoflycart-active-slidebar {
    overflow: hidden;
  }
  &.leoflycart-active-push {}
  main {
    @include transition(all 0.3s ease);
  }
}

.leo-fly-cart-slidebar {
  .leo-dropdown-cart {
    position: relative;
    @include rtl-margin-right(0);
  }
  .leo-dropdown-cart-content {
    position: relative;
  }
  /*
  width: 100%;
  height: 100%;
  */
  z-index: 99999;
  position: fixed;
  background: #fff;
  /* padding: 20px; */
  /*
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  */
  @include transition(all 0.3s ease);
  /*
  opacity: 0;
  */
  visibility: hidden;
  display: none;
  &.slidebar_left {
    display: block;
    height: 100%;
    /* opacity: 1; */
    top: 0;
    left: 0;
    @include transform(translateX(-100%));
  }
  &.slidebar_right {
    display: block;
    height: 100%;
    /* opacity: 1; */
    top: 0;
    right: 0;
    @include transform(translateX(100%));
  }
  &.slidebar_left.active, &.slidebar_right.active {
    /* visibility: visibility; */
    /*
    opacity: 1;
    */
    visibility: visible;
    @include transform(translateX(0));
  }
  &.slidebar_top {
    display: block;
    width: 100%;
    /* opacity: 1; */
    top: 0;
    @include rtl-left(0);
    @include transform(translateY(-100%));
  }
  &.slidebar_bottom {
    display: block;
    width: 100%;
    /* opacity: 1; */
    bottom: 0;
    @include rtl-left(0);
    @include transform(translateY(100%));
  }
  &.slidebar_top.active, &.slidebar_bottom.active {
    visibility: visible;
    /*
    opacity: 1;
    */
    @include transform(translateY(0));
  }
}



.leo-fly-cart-slidebar {
	.leo-dropdown-bottom {
	/* padding-bottom: 5px */
	}
	&.active-scroll{
		.leo-dropdown-bottom {
			background: #fff;
			position: absolute;
			width: 100%;
		}
	}
	&.slidebar_top, 
	&.slidebar_bottom, 
	&.slidebar_left, 
	&.slidebar_right{
		.leo-dropdown-cart-content{
			border: none;
		}
	}
	&.slidebar_top, &.slidebar_bottom  {
		.leo-dropdown-cart-item{
		    width: 300px;
		    border-bottom: none;
		    display: inline-block;
		    vertical-align: bottom;
		    &:before{
		  		display: none;
		  	}
		    &:not(.last):not(.fake-element){
		    	@include rtl-border-right(1px solid #ddd);
		    }
	  		&.show-additional{
	  			.leo-dropdown-additional{
	    			@include transform(rotateY(0deg));
	    			.rtl & {
						@include transform(rotateY(0deg));
					}
	  			}
	  		}
	  	}
	  	.leo-dropdown-additional {
			top: 0px;
			bottom: 0px;
		    border-left: 1px solid #fff;
		    border-right: 1px solid #fff;
			@include rtl-left-right(100%,auto);
		    @include transform(rotateY(120deg));
		    @include transform-origin(left center);
			.rtl & {
				@include rtl-left-right(auto,100%);
				@include transform(rotateY(-120deg));
				@include transform-origin(right center);
			}
		    & > div.label:first-child{
			    border-top: none;
		    }
		}
		.leo-dropdown-cart-content{
	    	width: auto;
	    	@include clearfix();
		}
	  	.leo-dropdown-bottom{
	  		@media (min-width: 768px) {
		  		min-width: 400px;
		  		@include display(flex);
	    		@include align-items(center);
		  		@include rtl-float-left();
	  		}
	  		@media (max-width: 767px) {
	  			position: static;
	  		}
	  	}
	  	.leo-dropdown-list-item-warpper{
		    @include rtl-border-right(1px solid #ddd);
			@media (min-width: 768px) {
		  		@include rtl-float-left();
		    }
	  		@media (max-width: 767px) {
	  			width: 100% !important;
	  		}
	    	&.active-scrollbar{
	    		overflow-x: auto;
	    		.leo-dropdown-list-item{
	    			padding-bottom: 10px;
	    		}
	    	}
	  	}
	  	.leo-dropdown-cart-subtotals{
	  		border-top: none;
	  	}
	  	.leo-dropdown-cart-total{
	  		border-bottom: none;
	  	}
	  	&.active-scroll{
	  		.leo-dropdown-bottom{
	  			width: auto;
			    top: 0;
			    bottom: 0;
			    @include rtl-right(0);
	  		}
	  	}
		.leo-dropdown-total{
			padding-left: 5px;
			padding-right: 5px;
			@media (min-width: 576px) {
				width: 60%;
				@include rtl-float-left();
			}
		}
	  	.leo-cart-dropdown-action{
		    padding-left: 5px;
			padding-right: 5px;
	  		@media (min-width: 576px) {
				width: 40% !important;
				@include rtl-float-left();
			}
			@media (max-width: 575px) {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		    .cart-dropdow-button{
	    	    display: block;
				margin: 10px 0;
		    }
	  	}
	  	.leo-dropdown-list-item{
		    white-space: nowrap;
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    @include clearfix();
	  	}
	  	.view-leo-dropdown-additional{
	    	@include transform(rotate(-90deg));
	    	.rtl & {
	    		@include transform(rotate(90deg));
	    	}
	  	}
		&.active-scroll{
			.leo-dropdown-cart-item{
				&.last{
		  			.leo-dropdown-additional{
			  			@include rtl-left-right(auto,100%);
			  			@include transform(rotateY(-120deg));
			  			@include transform-origin(right center);
			  			.rtl & {
							@include rtl-left-right(100%,auto);
			    			@include transform(rotateY(120deg));
							@include transform-origin(left center);
						}
			  		}
			  		.view-leo-dropdown-additional{
			      		@include transform(rotate(90deg));
			      		.rtl & {
							@include transform(rotate(-90deg));
						}
			    	}
		  		}
		  		&.show-additional{
		  			.leo-dropdown-additional{
		    			@include transform(rotateY(0deg));
		    			.rtl & {
							@include transform(rotateY(0deg));
						}
		  			}
		  		}
		  		//one product
		  		&.first.last{
		  			@media (max-width: 767px) {
			  			.leo-dropdown-additional{
			    			@include rtl-left-right(100%,auto);
		  					@include transform(rotateY(120deg));
							@include transform-origin(left center);
				    		.rtl & {
				    			@include rtl-left-right(auto,100%);
					  			@include transform(rotateY(-120deg));
					  			@include transform-origin(right center);
				    		}
			    		}
			  			&.show-additional{
				  			.leo-dropdown-additional{
				    			@include transform(rotateY(0deg));
				    			.rtl & {
									@include transform(rotateY(0deg));
								}
				  			}
				  		}
				  		.view-leo-dropdown-additional{
					    	@include transform(rotate(-90deg));
					    	.rtl & {
					    		@include transform(rotate(90deg));
					    	}
					  	}
		  			}
		  			// @media (max-width: 575px) {
		  			// 	&:not(.show-additional){
		  			// 		width: 100% !important;
		  			// 	}
		  			// }
		  		}
			}
		}
	}
	.leo-fly-cart {
	    position: absolute;
	    visibility: hidden;
    @include opacity(0);
	    z-index: -1;
	    background: #fff;
	    padding: 5px;
	    @include transition(all 0.3s ease);	   
	}
	&.active .leo-fly-cart {
	    visibility: visible;
   @include opacity(1);
	    z-index: 99999;
	}
	&.slidebar_top {
		.leo-fly-cart {
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%))
		}
		&.active .leo-fly-cart {
			top: 100%;
		}
	}
	&.slidebar_bottom {
	    .leo-fly-cart {
			bottom: 50%;
			left: 50%;
			@include transform(translateX(-50%));
	    }
	    &.active .leo-fly-cart {
	    	bottom: 100%;
	    }
	}
	&.slidebar_left {
	    .leo-fly-cart {
			top: 50%;
			left: 50%;
			@include transform(translateY(-50%));
	    }
	    &.active .leo-fly-cart {
	    	left: 100%;
	    }
	    .leo-fly-cart-icon-wrapper{
	    	white-space: normal;
	    	.leo-fly-cart-total{
	    		@include rtl-border-width(2px,2px,2px,2px);
	    	}
	    }
	}
	&.slidebar_right {
	    .leo-fly-cart {
			top: 50%;
			right: 50%;
			@include transform(translateY(-50%));

	    }
	    &.active .leo-fly-cart {
	    	right: 100%;
	    }
	    .leo-fly-cart-icon-wrapper{
	    	white-space: normal;
	    	.leo-fly-cart-total{
	    		@include rtl-border-width(2px,2px,2px,2px);
	    	}
	    }
	}
}

.leo-fly-cart-wrapper {
  position: relative;
}

.safari-win{
 .leo-dropdown-cart{
  &.dropdown,&.dropup{
   display: none;
   @include transition(none);
   &.show{
    display: block;
   }
  }
 }
 .leo-dropdown-cart-item{
  .leo-dropdown-additional{
   display: none;
   @include transition(none);
  }
  &.show-additional{
   .leo-dropdown-additional{
    display: block;
   }
  }
 }
 .notification{
  display: none;
  &.show{
   display: block;
   @include transition(none);
  }
  &.closed{
   display: none;
   @include transition(none);
  }
 }
 .leo-fly-cart-slidebar{
  display: none;
  @include transition(none); 
  &.slidebar_left,&.slidebar_right{
   &.active{
    display: block;
   }
  }
  &.slidebar_top, &.slidebar_bottom  {
   &.active{
    display: block;
   }
  }
  .leo-fly-cart  {
   display: none;
   @include transition(none);
  }
  &.active{
   .leo-fly-cart{
    display: block;
   }
  }
 }
}

/***************CSS FOR FLY CART SLIDE BAR END **********************/
/***************RESPONSIVE BEGIN **********************/
@media (max-width: 767px)
{
	.leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item-warpper.active-scrollbar, 
	.leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item-warpper.active-scrollbar
	{
		width: 100% !important;
		float: none !important;
	}
	
	.leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-bottom, 
	.leo-fly-cart-slidebar.slidebar_top .leo-dropdown-bottom
	{
		position: static;
		display: block;
		width: 100%;
		float: none !important;
	}
	
	
	.leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item.first.last .view-leo-dropdown-additional.show,
	.leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item.first.last .view-leo-dropdown-additional.show
	{
		z-index: 99991;
	}

	
}
/*******************DONGND CSS FOR FLY CART END*****************************/