/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/* $app-image-path:     "../../../../assets/img/modules/appagebuilder/img/"!default;  
$menu-image-path:    "../../../../assets/img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../assets/img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../assets/img/modules/leoquicklogin/img/"!default;
 */
/***********************************************************************/
/************* Home 5 ***************/
@media (min-width: 1200px) {
  .page-home {
    padding-left: 60px;
    padding-right: 60px; }
    .rtl .page-home {
      padding-right: 60px;
      padding-left: inherit; }
    .rtl .page-home {
      padding-left: 60px;
      padding-right: inherit; } }
@media (max-width: 991px) {
  .page-home .group-newarrivals {
    padding-left: 15px;
    padding-right: 15px; }
    .rtl .page-home .group-newarrivals {
      padding-right: 15px;
      padding-left: inherit; }
    .rtl .page-home .group-newarrivals {
      padding-left: 15px;
      padding-right: inherit; } }

.banner-wraprawhtml {
  margin: 30px 15px; }
  @media (min-width: 1366px) {
    .banner-wraprawhtml {
      margin: 9rem 15rem; } }
  @media (min-width: 1024px) and (max-width: 1365px) {
    .banner-wraprawhtml {
      margin: 5rem 5rem; } }

@media (min-width: 480px) and (max-width: 991px) {
  .banner-wraph5 > div {
    width: 50%;
    float: left; }
    .rtl .banner-wraph5 > div {
      float: right; } }

/* Video */
.ApColumn.popup-video .video {
  display: none; }
@media (min-width: 992px) {
  .ApColumn.popup-video .sub-title-widget {
    width: 70%; } }
.ApColumn.popup-video .video-banner {
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .ApColumn.popup-video .video-banner {
      margin-bottom: -300px; } }
  .ApColumn.popup-video .video-banner > a {
    position: relative;
    display: block; }
    .ApColumn.popup-video .video-banner > a:before {
      position: absolute;
      content: "\e071";
      font-size: 22px;
      font-family: "simple-line-icons";
      color: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
      text-align: center;
      line-height: 25px;
      width: 25px;
      height: 25px; }
    .ApColumn.popup-video .video-banner > a:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      background: #000000;
      opacity: 0.5;
      filter: alpha(opacity=50);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .ApColumn.popup-video .video-banner > a:hover:after {
      opacity: 1;
      filter: alpha(opacity=100); }

@media (max-width: 991px) {
  .fancybox-inner iframe {
    width: auto;
    height: auto; } }

/* Skin */

/*# sourceMappingURL=profile1537128318.css.map */
