/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/* $app-image-path:     "../../../../assets/img/modules/appagebuilder/img/"!default;  
$menu-image-path:    "../../../../assets/img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../assets/img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../assets/img/modules/leoquicklogin/img/"!default;
 */
/***********************************************************************/
/************* Home 6 ***************/
.page-home {
  /* group-newarrivals */ }
  @media (min-width: 1200px) {
    .page-home {
      padding-left: 60px;
      padding-right: 60px; }
      .rtl .page-home {
        padding-right: 60px;
        padding-left: inherit; }
      .rtl .page-home {
        padding-left: 60px;
        padding-right: inherit; } }
  .page-home .group-newarrivals .title_block,
  .page-home .group-bestseller .title_block {
    margin-bottom: 60px;
    text-align: left; }
    .rtl .page-home .group-newarrivals .title_block, .rtl
    .page-home .group-bestseller .title_block {
      text-align: right; }
    @media (max-width: 991px) {
      .page-home .group-newarrivals .title_block,
      .page-home .group-bestseller .title_block {
        margin-bottom: 30px; } }
  .page-home .group-newarrivals .tabs-top .nav-tabs,
  .page-home .group-bestseller .tabs-top .nav-tabs {
    text-align: left; }
    .rtl .page-home .group-newarrivals .tabs-top .nav-tabs, .rtl
    .page-home .group-bestseller .tabs-top .nav-tabs {
      text-align: right; }
    @media (min-width: 992px) {
      .page-home .group-newarrivals .tabs-top .nav-tabs,
      .page-home .group-bestseller .tabs-top .nav-tabs {
        position: absolute;
        top: 8px;
        z-index: 1;
        right: 0; }
        .rtl .page-home .group-newarrivals .tabs-top .nav-tabs, .rtl
        .page-home .group-bestseller .tabs-top .nav-tabs {
          left: 0;
          right: auto; }
        .page-home .group-newarrivals .tabs-top .nav-tabs > li:last-child a,
        .page-home .group-bestseller .tabs-top .nav-tabs > li:last-child a {
          padding-right: 0; }
          .rtl .page-home .group-newarrivals .tabs-top .nav-tabs > li:last-child a, .rtl
          .page-home .group-bestseller .tabs-top .nav-tabs > li:last-child a {
            padding-left: 0;
            padding-right: inherit; } }
  .page-home .group-newarrivals {
    /* Product */ }
    .page-home .group-newarrivals .title_block {
      color: #FFFFFF; }
    .page-home .group-newarrivals .thumbnail-container {
      background-color: transparent; }
      .page-home .group-newarrivals .thumbnail-container .product-title a {
        color: #FFFFFF; }
        .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
          color: #df6c4f; }
  .page-home .ApColumn .latest-blogs .title_block {
    text-align: left; }
    .rtl .page-home .ApColumn .latest-blogs .title_block {
      text-align: right; }
  .page-home .ApColumn .latest-blogs .blog-container {
    background-color: transparent; }
  @media (max-width: 991px) {
    .page-home .banner-wrap {
      padding-left: 15px;
      padding-right: 15px; }
      .rtl .page-home .banner-wrap {
        padding-right: 15px;
        padding-left: inherit; }
      .rtl .page-home .banner-wrap {
        padding-left: 15px;
        padding-right: inherit; } }

/* group-bannerimage */
.group-bannerimage .block {
  position: relative;
  margin-bottom: 0; }
  .group-bannerimage .block .image_description {
    position: absolute;
    padding: 0 20%; }
  .group-bannerimage .block h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px; }
    .group-bannerimage .block h3 span {
      color: #ef9a35; }
  .group-bannerimage .block p {
    font-size: 15px;
    line-height: 30px; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .group-bannerimage .block p {
        font-size: 15px; } }
  .group-bannerimage .block.bottom {
    text-align: center; }
    .group-bannerimage .block.bottom.bg-color2 {
      color: #FFFFFF; }
      .group-bannerimage .block.bottom.bg-color2 h3 {
        color: #FFFFFF; }
    .group-bannerimage .block.bottom .image_description {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0; }
      @media (max-width: 1024px) {
        .group-bannerimage .block.bottom .image_description {
          position: inherit;
          padding: 0 10%; } }
  .group-bannerimage .block.left {
    text-align: left; }
    .rtl .group-bannerimage .block.left {
      text-align: right; }
    @media (max-width: 1024px) {
      .group-bannerimage .block.left {
        background-color: #f2f2f2; } }
    .group-bannerimage .block.left h3 {
      font-size: 100px;
      margin-bottom: 0; }
      @media (max-width: 1024px) {
        .group-bannerimage .block.left h3 {
          font-size: 60px; } }
    .group-bannerimage .block.left p {
      letter-spacing: 6px;
      font-size: 18px; }
      @media (max-width: 1024px) {
        .group-bannerimage .block.left p {
          font-size: 15px; } }
      .group-bannerimage .block.left p .btn {
        color: #FFFFFF;
        line-height: 60px;
        padding: 0 50px;
        font-size: 14px;
        letter-spacing: 0;
        margin-top: 20px;
        background-color: #616da7; }
        .group-bannerimage .block.left p .btn:hover {
          background-color: #df6c4f; }
    .group-bannerimage .block.left .image_description {
      top: 30%;
      bottom: 0;
      padding: 0 10%; }
      @media (max-width: 1024px) {
        .group-bannerimage .block.left .image_description {
          position: inherit; } }
  @media (max-width: 1024px) {
    .group-bannerimage .block.bg-color1 {
      background-color: #f2f2f2; }
    .group-bannerimage .block.bg-color2 {
      background-color: #616da7; }
    .group-bannerimage .block.bg-color3 {
      background-color: #ececec; }
    .group-bannerimage .block.bg-color4 {
      background-color: #e8e8e8; } }

/* Skin */
.blue .page-home .group-newarrivals {
  /* Product */ }
  .blue .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #6AAFE6; }

.deeppink .page-home .group-newarrivals {
  /* Product */ }
  .deeppink .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #FF1493; }

.green .page-home .group-newarrivals {
  /* Product */ }
  .green .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #8bc43f; }

.lime .page-home .group-newarrivals {
  /* Product */ }
  .lime .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #41A317; }

.olive .page-home .group-newarrivals {
  /* Product */ }
  .olive .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #808000; }

.purple .page-home .group-newarrivals {
  /* Product */ }
  .purple .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #8A2CB1; }

.yellow .page-home .group-newarrivals {
  /* Product */ }
  .yellow .page-home .group-newarrivals .thumbnail-container .product-title a:hover {
    color: #edb42c; }

/*# sourceMappingURL=profile1568848997.css.map */
