/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/* $app-image-path:     "../../../../assets/img/modules/appagebuilder/img/"!default;  
$menu-image-path:    "../../../../assets/img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../assets/img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../assets/img/modules/leoquicklogin/img/"!default;
 */
/***********************************************************************/
/************* Home 2 ***************/
@media (min-width: 1200px) {
  .page-home .banner-style,
  .page-home .group-instagram,
  .page-home .wrapper {
    margin-left: 60px;
    margin-right: 60px; }
    .rtl .page-home .banner-style, .rtl
    .page-home .group-instagram, .rtl
    .page-home .wrapper {
      margin-right: 60px;
      margin-left: inherit; }
    .rtl .page-home .banner-style, .rtl
    .page-home .group-instagram, .rtl
    .page-home .wrapper {
      margin-left: 60px;
      margin-right: inherit; } }
@media (max-width: 1024px) {
  .page-home .banner-style {
    padding-left: 15px;
    padding-right: 15px; }
    .rtl .page-home .banner-style {
      padding-right: 15px;
      padding-left: inherit; }
    .rtl .page-home .banner-style {
      padding-left: 15px;
      padding-right: inherit; } }

.banner-texth1 .txt1 {
  color: #333333;
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 50px; }
  @media (max-width: 991px) {
    .banner-texth1 .txt1 {
      font-size: 38px; } }
.banner-texth1 p {
  font-size: 15px;
  line-height: 30px; }

.box-testimonial .block-carousel-image-container {
  padding: 100px 0 70px;
  color: #FFFFFF;
  width: 70%;
  margin: 0 auto; }
  .box-testimonial .block-carousel-image-container .descript strong {
    color: #FFFFFF; }

.ApColumn .manufacturers_block .image {
  margin: 32px 0; }
.ApColumn .instagram-block .owl-carousel .owl-item {
  padding: 0; }

.page-home .ApColumn .block_newsletter {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; }
  .rtl .page-home .ApColumn .block_newsletter {
    text-align: right; }
  .page-home .ApColumn .block_newsletter .title_block {
    text-align: left; }
    .rtl .page-home .ApColumn .block_newsletter .title_block {
      text-align: right; }
    @media (max-width: 991px) {
      .page-home .ApColumn .block_newsletter .title_block {
        font-size: 35px; } }
    @media (max-width: 480px) {
      .page-home .ApColumn .block_newsletter .title_block {
        font-size: 28px; } }
  .page-home .ApColumn .block_newsletter .sub-increase {
    display: none; }
  .page-home .ApColumn .block_newsletter form input[type=email] {
    border-color: #ededed;
    margin-bottom: 20px; }
  .page-home .ApColumn .block_newsletter form .btn {
    position: inherit;
    background-color: #616da7; }
    .page-home .ApColumn .block_newsletter form .btn:hover {
      background-color: #df6c4f; }

/* Skin */
.blue .page-home .ApColumn .block_newsletter form .btn {
  background-color: #6AAFE6; }
  .blue .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

.deeppink .page-home .ApColumn .block_newsletter form .btn {
  background-color: #FF1493; }
  .deeppink .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

.green .page-home .ApColumn .block_newsletter form .btn {
  background-color: #8bc43f; }
  .green .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

.lime .page-home .ApColumn .block_newsletter form .btn {
  background-color: #41A317; }
  .lime .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

.olive .page-home .ApColumn .block_newsletter form .btn {
  background-color: #808000; }
  .olive .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

.purple .page-home .ApColumn .block_newsletter form .btn {
  background-color: #8A2CB1; }
  .purple .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

.yellow .page-home .ApColumn .block_newsletter form .btn {
  background-color: #edb42c; }
  .yellow .page-home .ApColumn .block_newsletter form .btn:hover {
    background-color: #df6c4f; }

/*# sourceMappingURL=profile1535488898.css.map */
