/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/* $app-image-path:     "../../../../assets/img/modules/appagebuilder/img/"!default;  
$menu-image-path:    "../../../../assets/img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../assets/img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../assets/img/modules/leoquicklogin/img/"!default;
 */
/***********************************************************************/
/************* Home 9 ***************/
.page-home {
  border-bottom: 1px solid #ededed; }
  @media (min-width: 1200px) {
    .page-home {
      margin-left: 60px;
      margin-right: 60px; }
      .rtl .page-home {
        margin-right: 60px;
        margin-left: inherit; }
      .rtl .page-home {
        margin-left: 60px;
        margin-right: inherit; } }
  .page-home .ApColumn .block_newsletter .title_block {
    margin-top: 0;
    text-align: left; }
    .rtl .page-home .ApColumn .block_newsletter .title_block {
      text-align: right; }
    @media (max-width: 1024px) {
      .page-home .ApColumn .block_newsletter .title_block {
        font-size: 40px; } }
  .page-home .ApColumn .block_newsletter .sub-letter {
    margin-bottom: 0;
    line-height: 28px; }
    @media (max-width: 767px) {
      .page-home .ApColumn .block_newsletter .sub-letter {
        margin-bottom: 30px; } }
  .page-home .ApColumn .tabs-top .nav-tabs .title_block {
    text-align: left;
    margin-bottom: 50px; }
    .rtl .page-home .ApColumn .tabs-top .nav-tabs .title_block {
      text-align: right; }
  @media (min-width: 992px) {
    .page-home .ApColumn .tabs-top .nav-tabs {
      position: absolute;
      top: 10px;
      z-index: 1;
      right: 0; }
      .rtl .page-home .ApColumn .tabs-top .nav-tabs {
        left: 0;
        right: auto; }
      .page-home .ApColumn .tabs-top .nav-tabs > li:last-child a {
        padding-right: 0; }
        .rtl .page-home .ApColumn .tabs-top .nav-tabs > li:last-child a {
          padding-left: 0;
          padding-right: inherit; } }
  .page-home .block_newsletter {
    width: 100%;
    padding: 0;
    text-align: left; }
    .rtl .page-home .block_newsletter {
      text-align: right; }
    .page-home .block_newsletter > div {
      float: left;
      width: 50%; }
      @media (max-width: 767px) {
        .page-home .block_newsletter > div {
          width: 100%;
          clear: both; } }
    .page-home .block_newsletter .title-newsletter {
      padding-right: 120px; }
      .rtl .page-home .block_newsletter .title-newsletter {
        padding-left: 120px;
        padding-right: inherit; }
      @media (max-width: 991px) {
        .page-home .block_newsletter .title-newsletter {
          padding-right: 30px; }
          .rtl .page-home .block_newsletter .title-newsletter {
            padding-left: 30px;
            padding-right: inherit; } }
    .page-home .block_newsletter .sub-increase {
      display: none; }
    .page-home .block_newsletter form input[type=email] {
      padding: 0 20px;
      margin-bottom: 20px; }
    .page-home .block_newsletter form .btn {
      position: inherit;
      background-color: #616da7; }
  @media (max-width: 991px) {
    .page-home .group-newarrivals,
    .page-home .banner-wrap {
      padding-left: 15px;
      padding-right: 15px; }
      .rtl .page-home .group-newarrivals, .rtl
      .page-home .banner-wrap {
        padding-right: 15px;
        padding-left: inherit; }
      .rtl .page-home .group-newarrivals, .rtl
      .page-home .banner-wrap {
        padding-left: 15px;
        padding-right: inherit; } }

.title-ap-group {
  color: #FFFFFF; }

.banner-wraph8 {
  position: relative; }
  .banner-wraph8 .image_description {
    position: absolute;
    bottom: 60px;
    left: 100px; }
    .rtl .banner-wraph8 .image_description {
      right: 100px;
      left: auto; }
    @media (max-width: 991px) {
      .banner-wraph8 .image_description {
        left: 30px; }
        .rtl .banner-wraph8 .image_description {
          right: 30px;
          left: auto; } }
    .banner-wraph8 .image_description a {
      color: #333333;
      font-weight: 600;
      margin-top: 50px;
      display: block; }
      .banner-wraph8 .image_description a:hover {
        color: #df6c4f; }
  .banner-wraph8 h3 {
    margin-bottom: 10px;
    line-height: 50px;
    font-size: 45px; }
  .banner-wraph8 p {
    text-transform: uppercase; }

/* Banner wrap */
.banner-wrap ul {
  margin: 3rem 0;
  list-style-type: disc;
  padding-left: 3rem; }
  .rtl .banner-wrap ul {
    padding-right: 3rem;
    padding-left: inherit; }
  .banner-wrap ul li {
    float: none;
    width: 100%;
    line-height: 30px;
    font-weight: 600;
    color: #333333; }
.banner-wrap .btn {
  padding: 20px 45px;
  background-color: #616da7; }
  .banner-wrap .btn:hover {
    background-color: #333333; }

/* Skin */
.blue .banner-wrap .btn {
  background-color: #6AAFE6; }

.deeppink .banner-wrap .btn {
  background-color: #FF1493; }

.green .banner-wrap .btn {
  background-color: #8bc43f; }

.lime .banner-wrap .btn {
  background-color: #41A317; }

.olive .banner-wrap .btn {
  background-color: #808000; }

.purple .banner-wrap .btn {
  background-color: #8A2CB1; }

.yellow .banner-wrap .btn {
  background-color: #edb42c; }

/*# sourceMappingURL=profile1569275932.css.map */
