/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/*$app-image-path:     "../../../../../img/modules/appagebuilder/img/"!default; 
$menu-image-path:    "../../../../../img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../../img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../../img/modules/leoquicklogin/img/"!default;*/
/***********************************************************************/
/************* Home 2 ***************/
.page-home .ApColumn .title_block {
  margin: 80px 0 40px; }
  @media (max-width: 480px) {
    .page-home .ApColumn .title_block {
      margin: 50px 0 30px; } }

/* banner-wrapper-infor */
.ApColumn {
  /* widget-category_image */ }
  .ApColumn .text-block {
    margin: 100px 0 35px; }
  .ApColumn .widget-category_image ul {
    width: 25%;
    margin-bottom: 0;
    float: left; }
    .rtl .ApColumn .widget-category_image ul {
      float: right; }
    @media (min-width: 568px) and (max-width: 991px) {
      .ApColumn .widget-category_image ul {
        width: 50%; } }
    @media (max-width: 480px) {
      .ApColumn .widget-category_image ul {
        width: 100%; } }
    .ApColumn .widget-category_image ul a {
      display: flex; }

.banner-wrapper-infor .ApImage .image_description {
  top: 15%;
  left: 13%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
  .rtl .banner-wrapper-infor .ApImage .image_description {
    right: 13%;
    left: auto; }

/** Brand **/
.gr-brand {
  padding: 80px 0; }

.boxBrandsTitle {
  text-align: center; }
  @media (min-width: 992px) {
    .boxBrandsTitle {
      text-align: right; }
      .rtl .boxBrandsTitle {
        text-align: left; } }
  .boxBrandsTitle .ApHtml {
    margin-bottom: 50px; }
    @media (max-width: 991px) {
      .boxBrandsTitle .ApHtml {
        max-width: 80%;
        margin: 0 auto 50px; } }
    @media (max-width: 575px) {
      .boxBrandsTitle .ApHtml {
        max-width: 100%;
        margin: 0; } }
  .boxBrandsTitle h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; }
  .boxBrandsTitle .ApBlockLink a {
    text-transform: uppercase;
    color: #f43434;
    font-weight: 500;
    position: relative;
    padding: 3px 0; }
    .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #f43434;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0; }
      .rtl .boxBrandsTitle .ApBlockLink a:before {
        right: 0;
        left: auto; }
    .boxBrandsTitle .ApBlockLink a:after {
      content: "\f178";
      font-family: "FontAwesome";
      padding-left: 5px; }
      .rtl .boxBrandsTitle .ApBlockLink a:after {
        padding-right: 5px;
        padding-left: inherit; }
    .boxBrandsTitle .ApBlockLink a:hover {
      color: #000000; }
      .boxBrandsTitle .ApBlockLink a:hover:before {
        background: #000000; }

.ApColumn .manufacturers_block {
  padding: 0; }
  .ApColumn .manufacturers_block .owl-item {
    padding: 0;
    border-right: 1px solid #ddd; }
    .rtl .ApColumn .manufacturers_block .owl-item {
      border-left: 1px solid #ddd;
      border-right: inherit; }
    .ApColumn .manufacturers_block .owl-item:last-child {
      border: none; }
    .ApColumn .manufacturers_block .owl-item .manufacturer-container {
      padding: 15px 0;
      border-bottom: 1px solid #ddd; }
      .ApColumn .manufacturers_block .owl-item .manufacturer-container:last-child {
        border: none; }

/* box-instagram */
.box-instagram .instagram-block {
  border-top: none; }

/* Skin */
.blue {
  /** Brand **/ }
  .blue .boxBrandsTitle .ApBlockLink a {
    color: #6AAFE6; }
    .blue .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #6AAFE6; }

.deeppink {
  /** Brand **/ }
  .deeppink .boxBrandsTitle .ApBlockLink a {
    color: #FF1493; }
    .deeppink .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #FF1493; }

.green {
  /** Brand **/ }
  .green .boxBrandsTitle .ApBlockLink a {
    color: #8bc43f; }
    .green .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #8bc43f; }

.lime {
  /** Brand **/ }
  .lime .boxBrandsTitle .ApBlockLink a {
    color: #41A317; }
    .lime .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #41A317; }

.olive {
  /** Brand **/ }
  .olive .boxBrandsTitle .ApBlockLink a {
    color: #808000; }
    .olive .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #808000; }

.purple {
  /** Brand **/ }
  .purple .boxBrandsTitle .ApBlockLink a {
    color: #8A2CB1; }
    .purple .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #8A2CB1; }

.yellow {
  /** Brand **/ }
  .yellow .boxBrandsTitle .ApBlockLink a {
    color: #edb42c; }
    .yellow .boxBrandsTitle .ApBlockLink a:before {
      content: "";
      background: #edb42c; }

/*# sourceMappingURL=profile1535488898.css.map */
