/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/*$app-image-path:     "../../../../../img/modules/appagebuilder/img/"!default; 
$menu-image-path:    "../../../../../img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../../img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../../img/modules/leoquicklogin/img/"!default;*/
/***********************************************************************/
/************* Home 5 ***************/
body.layout-boxed-lg #page {
  padding-left: 0; }
  .rtl body.layout-boxed-lg #page {
    padding-right: 0;
    padding-left: inherit; }
  body.layout-boxed-lg #page .box-imagehtml .box-html {
    top: 30px; }

@media (min-width: 1200px) {
  #page {
    padding-left: 304px; }
    .rtl #page {
      padding-right: 304px;
      padding-left: inherit; } }
.page-home .ApColumn .title_block {
  margin: 80px 0 30px; }

/*** .containerLarge ***/
@media (min-width: 992px) {
  .containerLarge {
    width: 1584px; } }

/*** widget-category_image ***/
.ApColumn .widget-category_image {
  margin-bottom: 0; }
  .ApColumn .widget-category_image .nbproducts {
    display: none;
    top: auto;
    bottom: 50%;
    width: 100%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
    .rtl .ApColumn .widget-category_image .nbproducts {
      right: 50%;
      left: auto; }
    [dir="rtl"] .ApColumn .widget-category_image .nbproducts {
      -webkit-transform: translate(50%, 50%);
      -moz-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      -o-transform: translate(50%, 50%);
      transform: translate(50%, 50%); }
    @media (max-width: 991px) and (min-width: 768px) {
      .ApColumn .widget-category_image .nbproducts {
        font-size: 16px;
        top: 15px;
        left: 15px; }
        .rtl .ApColumn .widget-category_image .nbproducts {
          right: 15px;
          left: auto; } }
  .ApColumn .widget-category_image .cover-img {
    background: #FFFFFF; }
  .ApColumn .widget-category_image .cate_content:hover img {
    opacity: 0.3;
    filter: alpha(opacity=30); }
  .ApColumn .widget-category_image .cate_content:hover .nbproducts {
    display: block; }
  .ApColumn .widget-category_image ul {
    margin-bottom: 0; }
    .ApColumn .widget-category_image ul li a {
      display: flex; }

/***box html***/
.box-imagehtml .box-html {
  top: 70px; }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .box-imagehtml .box-html {
      top: 30px; }
      .box-imagehtml .box-html h1 {
        font-size: 26px; }
      .box-imagehtml .box-html p {
        font-size: 14px; }
      .box-imagehtml .box-html .btn {
        margin-top: 0; } }
@media (max-width: 1200px) {
  .box-imagehtml img {
    display: none; }
  .box-imagehtml .box-html {
    position: inherit;
    padding: 30px 10px;
    background-color: #166f7d; } }

/*# sourceMappingURL=profile1537128318.css.map */
