@import "theme_variables";

/************* Home 9 ***************/
.page-home {
	border-bottom: $main-border;
	@media (min-width: 1200px){
        @include rtl-margin-left(60px);
        @include rtl-margin-right(60px);
    }
    .ApColumn {
		.block_newsletter {
			.title_block {
				margin-top: 0;
				@include rtl-text-align-left();
				@media (max-width: 1024px){
                    font-size: 40px;
                }
			}
			.sub-letter {
				margin-bottom: 0;
				line-height: 28px;
				@media (max-width: 767px){
                    margin-bottom: 30px;
                }
			}
		}
		.tabs-top {
			.nav-tabs {
				.title_block {
					@include rtl-text-align-left();
					margin-bottom: 50px;
				}
				@media (min-width: 992px){
                    position: absolute;
					top: 10px;
					z-index: 1;
					@include rtl-right(0);
                    > li {
                        &:last-child {
							a {
								@include rtl-padding-right(0);
							}
						}
                    }
                }
			}
		}
    }
    .block_newsletter {
    	width: 100%;
    	padding: 0;
		@include rtl-text-align-left();
    	> div {
    		float: left;
    		width: 50%;
            @media (max-width: 767px){
                width: 100%;
                clear: both;
            }
    	}
    	.title-newsletter {
    		@include rtl-padding-right(120px);
            @media (max-width: 991px){
                @include rtl-padding-right(30px);
            }
    	}
    	.sub-increase {
    		display: none;
    	}
    	form {
    		input[type=email] {
    			padding: 0 20px;
    			margin-bottom: 20px;
    		}
    		.btn {
    			position: inherit;
    			background-color: $theme-color-fourth;
    		}
    	}
    }
    .group-newarrivals,
    .banner-wrap {
        @media (max-width: 991px){
            @include rtl-padding-left(15px);
            @include rtl-padding-right(15px);
        }
    }
}

.title-ap-group {
	color: $white;
}

.banner-wraph8 {
	position: relative;
	.image_description {
		position: absolute;
		bottom: 60px;
		@include rtl-left(100px);
        @media (max-width: 991px){
            @include rtl-left(30px);
        }
		a {
			color: $theme-color-secondary;
			font-weight: 600;
			margin-top: 50px;
			display: block;
			&:hover {
				color: $theme-color-default;
			}
		}
	}
	h3 {
		margin-bottom: 10px;
		line-height: 50px;
		font-size: 45px;
	}
	p {
		text-transform: uppercase;
	}
}

/* Banner wrap */
.banner-wrap {
	ul {
		margin: 3rem 0;
		list-style-type: disc;
		@include rtl-padding-left(3rem);
		li {
			float: none;
			width: 100%;
			line-height: 30px;
			font-weight: 600;
			color: $theme-color-secondary;
		}
	}
	.btn {
		padding: 20px 45px;
		background-color: $theme-color-fourth;
		&:hover {
			background-color: $theme-color-secondary;
		}
	}
}

/* Skin */
$blue:     #6AAFE6;
$deeppink: #FF1493;
$green:    #8bc43f;
$lime:     #41A317;
$olive:    #808000;
$purple:   #8A2CB1;
$yellow:   #edb42c;

.blue{
	.banner-wrap {
		.btn {
			background-color: $blue;
		}
	}
}

.deeppink{
    .banner-wrap {
		.btn {
			background-color: $deeppink;
		}
	}
}

.green{
    .banner-wrap {
		.btn {
			background-color: $green;
		}
	}
}

.lime{
    .banner-wrap {
		.btn {
			background-color: $lime;
		}
	}
}

.olive{
    .banner-wrap {
		.btn {
			background-color: $olive;
		}
	}
}

.purple{
    .banner-wrap {
		.btn {
			background-color: $purple;
		}
	}
}

.yellow{
    .banner-wrap {
		.btn {
			background-color: $yellow;
		}
	}
}