@import "theme_variables";

/************* Home 2 ***************/
.page-home {
    .banner-style,
    .group-instagram,
    .wrapper {
        @media (min-width: 1200px){
            @include rtl-margin-left(60px);
            @include rtl-margin-right(60px);
        }
    }
    .banner-style {
        @media (max-width: 1024px){
            @include rtl-padding-left(15px);
            @include rtl-padding-right(15px);
        }
    }
}

.banner-texth1 {
  .txt1 {
    color: #333333;
    font-size: 45px;
    line-height: 54px;
    font-weight: 600;
    margin-bottom: 50px;
    @media (max-width: 991px){
      font-size: 38px;
    }
  }
  p {
    font-size: 15px;
    line-height: 30px;
  }
}

.box-testimonial {
    .block-carousel-image-container {
        padding: 100px 0 70px;
        color: $white;
        width: 70%;
        margin: 0 auto;
        .descript strong {
            color: $white;
        }
    }
}

.ApColumn {
    .manufacturers_block {
        .image {
            margin: 32px 0;
        }
    }
    .instagram-block {
        .owl-carousel {
            .owl-item {
                padding: 0;
            }
        }
    }
}

.page-home {
    .ApColumn {
        .block_newsletter {
            width: 100%;
            margin: 0;
            padding: 0;
            @include rtl-text-align-left();
            .title_block {
                @include rtl-text-align-left();
                @media (max-width: 991px){
                  font-size: 35px;
                }
                @media (max-width: 480px){
                  font-size: 28px;
                }
            }
            .sub-increase {
                display: none;
            }
            form {
                input[type=email] {
                    border-color: $border-color;
                    margin-bottom: 20px;
                }
                .btn {
                    position: inherit;
                    background-color: $theme-color-fourth;
                    &:hover {
                        background-color: $theme-color-default;
                    }
                }
            }
        }
    }
}

/* Skin */
$blue:     #6AAFE6;
$deeppink: #FF1493;
$green:    #8bc43f;
$lime:     #41A317;
$olive:    #808000;
$purple:   #8A2CB1;
$yellow:   #edb42c;

.blue{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $blue;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}

.deeppink{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $deeppink;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}

.green{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $green;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}

.lime{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $lime;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}

.olive{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $olive;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}

.purple{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $purple;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}

.yellow{
    .page-home {
        .ApColumn {
            .block_newsletter {
                form {
                    .btn {
                        background-color: $yellow;
                        &:hover {
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}