@import "theme_variables";

/************* Home 1 ***************/
.page-home {
  .group-newarrivals,
  .group-boxhtml,
  .wrapper {
      @media (min-width: 1200px){
        @include rtl-margin-left(60px);
        @include rtl-margin-right(60px);
      }
  }
  .ApColumn {
    .latest-blogs,
    .instagram-block {
      .title_block {
        margin-bottom: 60px;
        @include rtl-text-align-left();
      }
    }
  }
  .group-newarrivals {
      @media (max-width: 991px){
          @include rtl-padding-left(15px);
          @include rtl-padding-right(15px);
      }
  }
}

.banner-texth1 {
  .txt1 {
    color: #333333;
    font-size: 45px;
    line-height: 52px;
    font-weight: 600;
    margin-bottom: 50px;
    @media (max-width: 991px){
      font-size: 38px;
    }
  }
  p {
    font-size: 15px;
  }
}

.manufacturers_block {
  border-top: $main-border;
  border-bottom: $main-border;
}

.bg-fullwidth {
  &:before {
    @media (max-width: 640px){
      background-image: none !important;
    }
  }
}

.latest-blogs {
  .blog-container {
    .blog-meta {
      margin-top: 0;
    }
  }
}
