@import "theme_variables";

/************* Home 4 ***************/
.banner-wraptext {
    @media (min-width: 640px){
        @include display(flex);
        @include justify-content(center);
        @include align-content(center);
        @include align-items(center);
    }
    .block {
        width: 50%;
        margin-bottom: 0;
        @media (max-width: 568px){
            width: 100%;
        }
        &.ApRawHtml {
            padding: 10%;
            @media (max-width: 568px){
                padding: 10% 5%;
            }
        }
    }
}

.page-home {
    border-bottom: $main-border;
    .group-newarrivals {
        @media (min-width: 1200px){
            @include rtl-padding-left(60px);
            @include rtl-padding-right(60px);
        }
    }
    .group-newarrivals,
    .banner-wrap {
        @media (max-width: 991px){
            @include rtl-padding-left(15px);
            @include rtl-padding-right(15px);
        }
    }
}