/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/* $app-image-path:     "../../../../assets/img/modules/appagebuilder/img/"!default;  
$menu-image-path:    "../../../../assets/img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../assets/img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../assets/img/modules/leoquicklogin/img/"!default;
 */
/***********************************************************************/
/************** Header home 8 ***************/
@media (min-width: 1200px) {
  .header-top {
    margin: 0 60px; } }

.header-flex {
  padding: 30px 15px; }
  @media (max-width: 991px) {
    .header-flex {
      padding: 15px; } }

@media (max-width: 991px) {
  .left-header .logo {
    margin-left: 45px; }
    .rtl .left-header .logo {
      margin-right: 45px;
      margin-left: inherit; } }

.ApColumn .menu-bar {
  padding-top: 10px;
  padding-right: 60px; }
  .rtl .ApColumn .menu-bar {
    padding-left: 60px;
    padding-right: inherit; }

@media (min-width: 1200px) {
  .menu-rightsidebar .currency-selector, .menu-rightsidebar .language-selector-wrapper {
    text-align: left;
    float: left;
    clear: both;
    margin: 40px 0;
    width: 50%; }
    .rtl .menu-rightsidebar .currency-selector, .rtl .menu-rightsidebar .language-selector-wrapper {
      text-align: right; }
    .rtl .menu-rightsidebar .currency-selector, .rtl .menu-rightsidebar .language-selector-wrapper {
      float: right; }
    .menu-rightsidebar .currency-selector .popup-title, .menu-rightsidebar .language-selector-wrapper .popup-title {
      padding: 16px 10px;
      min-width: 112px;
      border: 1px solid #FFFFFF;
      color: #FFFFFF; }
      .menu-rightsidebar .currency-selector .popup-title i.icon-arrow-down, .menu-rightsidebar .language-selector-wrapper .popup-title i.icon-arrow-down {
        position: absolute;
        bottom: 50%;
        right: 10px;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%); }
        .rtl .menu-rightsidebar .currency-selector .popup-title i.icon-arrow-down, .rtl .menu-rightsidebar .language-selector-wrapper .popup-title i.icon-arrow-down {
          left: 10px;
          right: auto; }
    .menu-rightsidebar .currency-selector .popup-content, .menu-rightsidebar .language-selector-wrapper .popup-content {
      right: inherit;
      top: inherit;
      bottom: 100%;
      left: 0; }
      .rtl .menu-rightsidebar .currency-selector .popup-content, .rtl .menu-rightsidebar .language-selector-wrapper .popup-content {
        right: 0;
        left: auto; } }
@media (max-width: 991px) {
  .leo-megamenu .navbar-toggler {
    width: inherit;
    border-color: transparent;
    background-color: transparent; } }

@media (max-width: 991px) {
  .col-info .popup-over a.popup-title,
  .col-info .button-list .ap-btn-wishlist,
  .col-info #cart-block .header,
  .col-info #leo_search_block_top #show_search,
  .col-info .menu-bar {
    min-width: 22px;
    background-color: transparent; } }

/*# sourceMappingURL=headerposition1569247871.css.map */
