/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/* $app-image-path:     "../../../../assets/img/modules/appagebuilder/img/"!default;  
$menu-image-path:    "../../../../assets/img/modules/leobootstrapmenu/img/"!default;
$slide-image-path:   "../../../../assets/img/modules/leoslideshow/img/"!default;
$login-image-path:   "../../../../assets/img/modules/leoquicklogin/img/"!default;
 */
/***********************************************************************/
a:hover, a:focus {
  color: #edb42c; }

.btn-inverse {
  color: #FFFFFF;
  background-color: #edb42c;
  border-color: #edb42c; }
  .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #ededed; }
  .open .btn-inverse.dropdown-toggle {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #ededed; }
  .btn-inverse:active, .btn-inverse.active {
    background-image: none; }
  .open .btn-inverse.dropdown-toggle {
    background-image: none; }
  .btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
    background-color: #edb42c;
    border-color: #edb42c; }
  .btn-inverse .badge {
    color: #edb42c;
    background-color: #FFFFFF; }

.btn-outline {
  color: #FFFFFF;
  background-color: #282d35;
  border-color: transparent; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #FFFFFF;
    background-color: #edb42c;
    border-color: #edb42c; }
  .open .btn-outline.dropdown-toggle {
    color: #FFFFFF;
    background-color: #edb42c;
    border-color: #edb42c; }
  .btn-outline:active, .btn-outline.active {
    background-image: none; }
  .open .btn-outline.dropdown-toggle {
    background-image: none; }
  .btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline.disabled.active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active, .btn-outline[disabled].active, fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline.active {
    background-color: #282d35;
    border-color: transparent; }
  .btn-outline .badge {
    color: #282d35;
    background-color: #FFFFFF; }

.carousel-control:hover {
  background: #edb42c !important; }

.owl-theme .owl-controls .owl-buttons div:hover {
  background: #edb42c;
  border-color: #edb42c; }

.pagination a:hover, .pagination a:focus {
  color: #edb42c;
  border-color: #edb42c; }
.pagination .current a {
  color: #edb42c;
  border-color: #edb42c; }

#wrapper .breadcrumb li a:hover {
  color: #edb42c; }

.products-selection .display > div.selected a {
  color: #edb42c; }
.products-selection .display > div a:hover {
  color: #edb42c; }

.products-sort-order .select-list:hover {
  background: #edb42c; }

.block-categories .arrows .arrow-right:hover, .block-categories .arrows .arrow-down:hover {
  color: #edb42c; }

.block-categories .category-sub-menu li > a:hover:before {
  background: #edb42c;
  border-color: #edb42c; }

/* Override Bootstrap */
.group-span-filestyle .btn-default {
  background: #edb42c; }

.custom-radio input[type="radio"]:checked + span {
  background-color: #edb42c; }

/* header */
.header-nav a:hover {
  color: #edb42c; }

.popup-over .popup-title:hover {
  color: #edb42c; }
.popup-over .popup-content a:hover {
  color: #edb42c; }
.popup-over .popup-content li.current {
  color: #edb42c; }
  .popup-over .popup-content li.current a {
    color: #edb42c; }
    .popup-over .popup-content li.current a img {
      border-color: #edb42c; }

.ApColumn .menu-bar #click_show_menu:hover {
  color: #edb42c; }

/* Sidebar */
#search_filters .facet .facet-label a:hover, #search_filters .facet .custom-checkbox a:hover {
  color: #edb42c; }

.sidebar .block .title_block a:hover {
  color: #edb42c; }

/* footer */
.footer-container li a:hover {
  color: #edb42c; }
.footer-container .ApBlockLink ul li a:hover:before {
  background: #edb42c; }

/* Block cart */
#cart-block .cart-preview .header a:hover {
  color: #edb42c; }
#cart-block .cart-preview .cart-quantity {
  background: #edb42c; }

/* Block Search */
#header #click_show_search:hover {
  color: #edb42c; }
#header #search_widget .form-search .search-button:hover {
  color: #edb42c; }

.search-widget form input[type=text]:focus {
  outline: 3px #edb42c solid; }
  .search-widget form input[type=text]:focus + button {
    background: #edb42c; }
.search-widget form button[type=submit]:hover {
  color: #edb42c; }

/* Megamenu */
.leo-megamenu .navbar-nav > li a:hover, .leo-megamenu .navbar-nav > li a:focus, .leo-megamenu .navbar-nav > li a:active {
  color: #edb42c; }
  .leo-megamenu .navbar-nav > li a:hover:before, .leo-megamenu .navbar-nav > li a:focus:before, .leo-megamenu .navbar-nav > li a:active:before {
    background: #edb42c; }
.leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a, .leo-megamenu .navbar-nav > li:focus > a {
  color: #edb42c; }
.leo-megamenu .navbar-nav > li.active > .caret, .leo-megamenu .navbar-nav > li:hover > .caret, .leo-megamenu .navbar-nav > li:focus > .caret {
  color: #edb42c; }
.leo-megamenu .dropdown-menu {
  border-top-color: #edb42c; }
  .leo-megamenu .dropdown-menu a > .menu-title:hover {
    color: #edb42c; }
  .leo-megamenu .dropdown-menu .menu-title a:hover {
    color: #edb42c; }

div.verticalmenu .navbar-nav > li > a:hover:before {
  background: #edb42c;
  border-color: #edb42c; }
div.verticalmenu ul li a:hover, div.verticalmenu ul li a:focus {
  color: #edb42c; }
  div.verticalmenu ul li a:hover .menu-title, div.verticalmenu ul li a:focus .menu-title {
    color: #edb42c; }

/*** #back-top ****/
#back-top {
  background: #edb42c; }

/* Slideshow */
.bannercontainer .tp-caption.btn:hover {
  color: #edb42c;
  border-color: #edb42c; }
.bannercontainer .tp-caption.btn.btn-h2 {
  border-color: #edb42c;
  background-color: #edb42c; }

.iview-directionNav a:hover {
  background: #edb42c; }

/* Product list */
.thumbnail-container .product-title a:hover {
  color: #edb42c; }
.thumbnail-container .product-price-and-shipping .price {
  color: #edb42c; }
.thumbnail-container .functional-buttons > div .btn-product:hover {
  color: #edb42c; }

.plist_deal .thumbnail-container .functional-buttons > div .btn-product:hover {
  background: #edb42c; }

.plist-category-4 .thumbnail-container .cart .btn-product {
  color: #edb42c; }
  .plist-category-4 .thumbnail-container .cart .btn-product i {
    border-color: #edb42c; }
.plist-category-4 .thumbnail-container:hover .cart .btn-product {
  background: #edb42c; }

.plist-info .thumbnail-container .functional-buttons > div .btn-product:hover {
  color: #edb42c; }
.plist-info .thumbnail-container .functional-buttons > div.cart .btn-product:hover .btn-title {
  color: #edb42c; }
.plist-info .thumbnail-container .p-price .add-to-cart {
  color: #edb42c; }

.plist-function-bottom .thumbnail-container .functional-buttons > div .btn-product:hover {
  color: #edb42c; }
.plist-function-bottom .thumbnail-container .functional-buttons > div.cart .btn-product:hover .btn-title {
  color: #edb42c; }

.box-show-more a:hover {
  color: #edb42c;
  border-color: #edb42c; }

.product-list-button .thumbnail-container .quickview .btn-product:hover {
  background: #edb42c; }
.product-list-button .thumbnail-container .functional-buttons > div .btn-product:hover {
  background: #edb42c; }

/* Lastest Blog */
.latest-blogs .blog-container .blog-title a:hover {
  color: #edb42c; }
.latest-blogs .blog-container .blog-meta .post-btn-more:hover {
  color: #edb42c; }
  .latest-blogs .blog-container .blog-meta .post-btn-more:hover:before {
    background: #edb42c; }

.blog-item .blog-meta a:hover {
  color: #edb42c; }
.blog-item .blog-meta > span a:hover {
  color: #edb42c; }
.blog-item .blog-bottom .created .date .left-date {
  color: #edb42c; }

.blog-tags a:hover span {
  background: #edb42c; }

.blog-menu .block_content li .navbar-toggler .add:hover, .blog-menu .block_content li .navbar-toggler .remove:hover {
  color: #edb42c; }

.blog-detail .blog-meta > span a:hover {
  color: #edb42c; }

.leo-blog-tags .block_content a:hover {
  background: #edb42c;
  border-color: #edb42c; }

/* Block category left */
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover {
  color: #edb42c; }
.block-categories .arrows .arrow-right:hover,
.block-categories .arrows .arrow-down:hover {
  color: #edb42c; }
.block-categories .category-sub-menu li[data-depth="0"] > a:hover {
  color: #edb42c; }
.block-categories .category-sub-menu li[data-depth="0"] ul.category-sub-menu li a:hover {
  color: #edb42c; }

/* Block Newsletter */
.ApColumn .block_newsletter form .btn {
  background: #edb42c; }

/* Product page */
.product-price {
  color: #edb42c; }

.product-tabs.tabs .nav-tabs .nav-link.active {
  color: #edb42c;
  border-bottom-color: #edb42c; }
.product-tabs.tabs .nav-tabs .nav-link:before {
  background: #edb42c; }

.product-cover .layer:hover {
  background: #edb42c; }

#product-modal .modal-content .modal-body .product-images img:hover, #product-modal .modal-content .modal-body .product-images img.selected {
  border-color: #edb42c; }
#product-modal .modal-content .modal-body .arrows i:hover {
  color: #edb42c;
  border-color: #edb42c; }

.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover {
  border-color: #edb42c; }

.products-section-title:before {
  background: #edb42c; }

.more-info-product .title-info-product:before {
  background: #edb42c; }

.products-accordion .card-header a:hover:after {
  color: #edb42c; }

/* Modal */
#blockcart-modal .modal-header {
  background: #edb42c; }
#blockcart-modal .product-name {
  color: #edb42c; }
#blockcart-modal .cart-content .btn:hover,
#blockcart-modal #blockcart-modal .cart-content .btn:active,
#blockcart-modal #blockcart-modal .cart-content .btn:focus {
  background: #edb42c;
  color: #FFFFFF; }

.footer_link li a:hover, .footer_links li a:hover {
  background: #edb42c; }

.leo-fly-cart-icon-wrapper {
  background: #edb42c; }
  .leo-fly-cart-icon-wrapper .leo-fly-cart-icon {
    background: #edb42c; }
  .leo-fly-cart-icon-wrapper .leo-fly-cart-total {
    color: #edb42c;
    border-color: #edb42c; }

.leo-cart-item-info .leo-bt-product-quantity:hover {
  background: #edb42c;
  border-color: #edb42c; }

.leo-dropdown-cart-content a:hover i {
  color: #edb42c; }

.reviews_advices li a:hover {
  color: #edb42c; }

#product_reviews_block_tab .review .review_button .btn:hover {
  background: #edb42c; }

.leo-cart-dropdown-action .btn.cart-dropdow-checkout {
  background: #edb42c; }

/* Panel tool */
.paneltool .leo-dynamic-update-side.current-sidebar {
  color: #edb42c; }
.paneltool .leo-dynamic-update-side.themetool .leo-dynamic-update-header.current-header {
  color: #edb42c; }
.paneltool.active .panelbutton {
  color: #edb42c; }

.leo-dynamic-update-layout:hover, .leo-dynamic-update-layout.current-layout-mod {
  color: #edb42c; }

.group-input a.apconfig:hover, .group-input a.apconfig.active {
  color: #edb42c; }

.enable_fheader.btn_yes:after {
  background: #edb42c; }

.enable_fheader.btn_no:before {
  background: #edb42c; }

/** Product Detail **/
.bootstrap-touchspin .btn-touchspin:hover {
  background: #edb42c; }

.product-actions .add-to-cart {
  background: #edb42c; }

.leo-compare-wishlist-button .btn:hover {
  color: #edb42c;
  border-color: #edb42c; }

.scroll-box-arrows i:hover {
  border-color: #edb42c;
  color: #edb42c; }

.other-info {
  border-color: #edb42c; }

.product-quantity .input-group-btn-vertical .btn:hover {
  background: #edb42c; }

#authentication [data-action="show-password"]:hover {
  background-color: #edb42c; }

.input-color:checked + span, .input-color:hover + span, .input-radio:checked + span, .input-radio:hover + span {
  border-color: #edb42c;
  color: #edb42c; }

/** Title_block **/
.page-home .leo-product-list .ApColumn .title_block:before {
  background: #edb42c; }
.page-home .ApColumn .text-center .title_block:before {
  background: #edb42c; }
.page-home .leo_title .title_block:before {
  background: #edb42c; }

/** .tabs-top **/
.tabs-top .nav-tabs li > a:hover, .tabs-top .nav-tabs li > a.active, .tabs-top .nav-tabs li > a:focus {
  color: #edb42c; }
  .tabs-top .nav-tabs li > a:hover:hover, .tabs-top .nav-tabs li > a:hover:focus, .tabs-top .nav-tabs li > a.active:hover, .tabs-top .nav-tabs li > a.active:focus, .tabs-top .nav-tabs li > a:focus:hover, .tabs-top .nav-tabs li > a:focus:focus {
    color: #edb42c; }

/***** Raw HTML ****/
.text-block .ApColumn .block.ApRawHtml .btn:before {
  background: #edb42c; }

.footer-copyright .ApRawHtml.block span {
  color: #edb42c; }

/** HTML **/
.service-box .service-item .icon-name i {
  background: #edb42c; }
.service-box .service-item .service-info a {
  color: #edb42c; }
.service-box .service-item:hover {
  border-bottom-color: #edb42c; }
  .service-box .service-item:hover .icon-name {
    border-color: #edb42c; }

.gr-map .map_icon:hover {
  background: #edb42c; }

.gr-banner .ApColumn .ApImage .btn:hover {
  color: #edb42c;
  border-color: #edb42c; }

.box-gift .gift-item i {
  background: #edb42c; }
.box-gift .gift-item h5:hover {
  color: #edb42c; }
.box-gift .gift-item:hover i {
  background: transparent;
  color: #edb42c;
  border-color: #edb42c; }

.ApColumn .text-block span {
  color: #edb42c; }

/**** .slick-arrows ****/
.slick-arrows .slick-arrow {
  color: #edb42c;
  border-color: #edb42c; }
  .slick-arrows .slick-arrow:hover {
    background: #edb42c;
    border-color: #edb42c; }

/*** ApImage ***/
.banner-style .image_description h4:before {
  background: rgba(237, 180, 44, 0.4); }
.banner-style.style-5 .image_description .btn:before {
  background: #edb42c; }

.button-list li .ap-total {
  background: #edb42c; }

.box-banner-sale .ApRawHtml span {
  border-bottom-color: #edb42c; }
.box-banner-sale .ApRawHtml .btn:hover {
  background: #edb42c; }

/* banner-wrapper-infor */
.banner-wrapper-infor .ApImage .image_description .title-banner:before {
  background: rgba(237, 180, 44, 0.4); }

/* Write for mainmenu home 1 */
.mainmenu-home1 .leo-megamenu .navbar-nav > li > a {
  color: #FFFFFF; }
  .mainmenu-home1 .leo-megamenu .navbar-nav > li > a:hover, .mainmenu-home1 .leo-megamenu .navbar-nav > li > a:focus, .mainmenu-home1 .leo-megamenu .navbar-nav > li > a:active {
    color: #edb42c; }
.mainmenu-home1 .leo-megamenu .navbar-nav > li.active > a, .mainmenu-home1 .leo-megamenu .navbar-nav > li:hover > a, .mainmenu-home1 .leo-megamenu .navbar-nav > li:focus > a {
  color: #edb42c; }

/* login */
.lql-login-bt:hover,
.lql-register-bt:hover {
  background-color: #edb42c;
  border-color: #edb42c; }

/* leo block top */
#leo_block_top .popup-content .language-selector li.current a img {
  border-color: #edb42c; }

/* testimonial */
.box-testimonial .block-carousel-image-container .descript strong {
  color: #edb42c; }

/* box-html */
.box-html .txt2 {
  color: #edb42c; }
.box-html .btn:hover {
  color: #edb42c;
  border-color: #edb42c; }

/* banner */
.banner-style .ApImage .box-des a {
  color: #edb42c; }

.banner-html .image_description .txt1 {
  color: #edb42c; }
.banner-html .image_description a {
  background-color: #edb42c; }

.group-bannerimage .block.left p .btn {
  background-color: #edb42c; }

/*# sourceMappingURL=skin.css.map */
