@import url('//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
//@import "bourbon/_bourbon";
//@import "partials/_bootstrap";
@import "partials/_bootstrap-flex";
@import "partials/_bootstrap-grid";
@import "partials/_bootstrap-reboot";
@import "partials/_jquery.bootstrap-touchspin.min";
@import "_theme_variables";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_font-awesome.min";
@import "partials/_themify-icons";
@import "partials/_simple-line-icons";
@import "partials/_nova-icons";
@import "partials/_material-design-iconic-font.min";
@import "partials/_commons";
@import "partials/_jquery-fancybox";
@import "components/alert";
@import "app/animations";
@import "app/buttons";
@import "app/block";
@import "app/menu";
@import "app/modules";
@import "app/product-item";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
//@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
/*** LAYOUT MODE ***/
body{
  font-weight: 300;
  line-height: 24px;
  &.layout-boxed-md{
    background: $white;
    #page{  
      max-width: 960px; 
      @include box-shadow(0 0 5px lighten($gray-darker, 50%));
      margin: 0 auto;    
      background: $white;
      .container {
        max-width: 940px;
      }


    }    
  }
  &.layout-boxed-lg{
    background: $white;
    #page{  
      position: relative;
      max-width: 1220px; 
      @include box-shadow(0 0 5px lighten($gray-darker, 50%));
      margin: 0 auto;    
      background: $white;
      .container {
        max-width: 1200px;
      }
    }
    #header{
      &.navbar-fixed-top{
        max-width: 1220px;
        margin: auto;
      }   
    }
  }
} 
/*** HEADER ***/
#index{
  #header{
    border: none;
  }
}
#header{
  &.navbar-fixed-top{
    background: $white;
    .header-nav,.box-header{
      @include transition(all 0.3s ease 0s);
    }
    &.mini-navbar{
      background: rgba(255, 255, 255, 0.9);
      @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.1));
      .leo-megamenu{
        .navbar-nav > li{
          &.new .sub-title{
            top: 10px;
          }
        }
      }
    } 
  }  
}
.header-nav{
  font-size: $header-nav-font-size;
  .container{
    @include container-layout-variant($header-nav-color, $header-nav-bg);
  }
  a{
    &:hover{
      color: $theme-color-default;
    }
  }
  .ApColumn .block{
    margin: 0;
    @media (max-width: 480px){
      @include clearfloat();
    }
  }
}
.header-top{
  @media (max-width: 767px){
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.12));
    #index &{
      @include box-shadow(none);
    }
  }
  .container{
    @include container-layout-variant($header-top-color, $header-top-bg);
  }
}
.header-logo{
  padding-top: 8px;
}
.popover {
  font-family: inherit;
}

.box-header{
  position: relative;
  @include display(flex);
  @include align-items(center);
  &.header-menu{
    @include justify-content(center);
  }
}
.header-flex{
  position: relative;
  @include display(flex);
  @include align-items(center);
  > [class*="col-"]{
    @include display(flex);
    @include align-items(center);
  }
  .left-header{
    position: static !important;
  }
  .center-header{
    @include justify-content(center);
  }
  .right-header{
    @include justify-content(flex-end);
  }
}
/*** WRAPPER ***/
#page{
  overflow: hidden;
  background: $white;
}
#wrapper {
  > .container{
    margin-top: 50px;
    @media (max-width: 767px){
      margin-top: 35px;
    }
  }
  .banner {
    margin-bottom: 24px;
    display: block;
    img {
      @include box-shadow(1px 1px 7px 0 rgba(0, 0, 0, 0.15));
    }
    @media (max-width: 767px){
      display: none;
    }
  }
  #index &{
    > .container{
      margin-top: 0;
    }
  }
}

.breadcrumb {
  background: #f4f4f4;
  margin: 0;
  position: relative;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  @include border-radius(0);
  #index & {
    display: none;
  }
  .category-name{
    font-size: 45px;
    text-transform: none;
  }
  
  > .container{
    padding: 30px 15px;
    position: relative;
    @media (min-width: 768px) {
      background: transparent !important;
    }
    @media (max-width: 767px) {
      position: static;
      @include display(inherit);
    }
  }
  ol {
    padding-left: 0;
    margin-bottom: 0;
    color: #999999;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  li {
    display: inline;
    line-height: 25px;
    &::after {
      content: "/";
      margin: 5px;
    }
    &:last-child {
      content: "/";
      margin: 5px;
      &::after {
        display: none;
      }
      a{
        color: $theme-color-secondary;
      }
    }
    a {
      color: $theme-color-senary-1;
      &:hover{
        color: $theme-color-default;
      }
    }
  }
  .category-cover{
    display: none;
  }
  .image-breadcrumb{
    @media (min-width: 768px) {
      background: url('../../assets/img/bg-breadcrumb.jpg') center;
    }
  }
}

/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 25px;
    text-align: center;
    h1{
      font-size: 32px;
      font-weight: 600;
    }
  }
  .page-content {
    margin-bottom: 25px;
    h6 {
      margin-bottom: 18px;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  h2.h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    text-transform: none;
  }
  #search &{
    .search-caption{
      display: none;
    }
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/** authentication **/
#authentication{
  .page-header {
    text-align: center;
  }
}
// Sitemap page
.sitemap{
  ul.tree{
    li{
      line-height: 20px;
      padding: $extra-small-space 0;
      a{
        &.parent-page{
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      ul{
        @include rtl-padding-left(10px);
      }
    }
  }
}
// Manufature page
.list-brands{
  margin: $medium-space 0 $small-space;
  background: $white;
}
.brand{
  @include display(flex);
  > div{
    display: inline-flex;
    @include align-items(center);
    @include justify-content(space-between);
  }
}
// ApSlideShow

/*** FOOTER ***/
.footer-top{
  // background: $footer-top-outside-bg;
  .container{
    @include container-layout-variant($footer-top-color, $footer-top-bg);   
  } 
}

/* Back to top */
#back-top{
  text-align: center; 
  position: fixed; 
  cursor: pointer;
  @include rtl-right(20px); 
  bottom: 23px; 
  z-index: 999;
  background: $theme-color-default;
  a{
    @include size(30px,30px); 
    color: $white; 
    font-size: 14px; 
    line-height: 28px;
  }
}
//search
.ui-widget-content{
  z-index: 99999 !important;
  position: fixed !important;
  max-height: 250px;
  overflow: auto;
  @media (max-width: 600px){
    max-width: 450px !important;
  }
  @media (max-width: 479px){
    right: 15px;
    width: auto !important;
  }
}

.keep-header{
  .ui-autocomplete{
    position: fixed !important;
    z-index: 1000;
  }
}

/*** Responsive part ***/
@include media-breakpoint-up(lg){
  // Header
  .headertop-flex{
    > [class*="col-"]{
      @include display(flex);
      @include align-items(center);
    }
    .center-headertop{
      @include justify-content(center);
    }
    .right-headertop{
      @include flex-direction(row-reverse);
    }
  }
}

@include media-breakpoint-down(md) {
  .container {
    width: 100%;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto 15px;
  }
  #blockcart-modal .cart-content {
    @include rtl-padding-left(0);
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }  
  .header-flex{
    padding: 30px 0;
  }
}

@include media-breakpoint-down(sm) {
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  
}