@import "./partials/variables";

/**
 *   Blocks Layout Selectors 
 */
 $block-prefix 			 : block!default;
 $block-selector          : block !default;
 $block-heading-selector  : title_block !default;
 $block-content-selector  : block_content !default;

/***********************************************************************/
// some basic colors

$white:			 				    #FFFFFF !default; 
$black:							    #000000 !default;
$blue:                              #6087D2 !default; 
$wild-sand:                         #ffffff !default;  
$silver:                            #f5f5f5 !default;  
$red:            					#f7525a !default;
$red-light:            				#ff9999 !default;
$yellow-light:           			#e19b26 !default;
$nocolor:							transparent!default;

// Variables Font Family 
// ========================================================================

$font-family-tertiary  :             $font-family-base !default;		// font for menu
$font-family-septenary : 			 $font-family-base !default; 		// font for slideshow
$font-family-senary    : 		 	 $font-family-base !default;		// font for Price

$font-icon: 			             "FontAwesome" !default;
$font-icon-2:                        "Material Icons" !default;
$font-icon-3:                        "rubicon" !default;
$font-icon-4:                        "icomoon" !default;        

//-------- Variables defined for Themes + Skins

$theme-color-default : 			    #ff6f00 !default;
$theme-color-secondary :			#000000 !default; // Category page
$theme-color-tertiary:              #a3a3a3 !default;
$theme-color-senary:                #8d8d8d !default; // Product Page
$theme-color-senary-1:              #888888 !default; // Product Page
$theme-color-fourth:                #cc5900 !default;

//-------- BORDERS
$border-color:					    #eaeaea !default;
$main-border:						1px solid $border-color !default;
$main-border-hover:                 1px solid $theme-color-default !default;


// LAYOUT VARIABLES 
// ========================================================================

// Header Nav 
$header-nav-outside-bg: 				#282d35 !default;
$header-nav-bg: 						$nocolor !default;
$header-nav-color: 						$theme-color-tertiary !default;
$header-nav-font-size: 					$base-font-size !default;
$header-nav-height:                     50px !default;

// Header Top
$header-top-outside-bg: 			    $white !default; 
$header-top-bg: 			 		    $nocolor !default;
$header-top-color:					    $black !default;

// Footer
$footer-outside-bg:		  		        #25292f !default;
$footer-bg: 						    $nocolor !default;
$footer-color: 						    $theme-color-tertiary !default;

$footer-top-outside-bg:                 $white !default;
$footer-top-bg: 						$nocolor !default;
$footer-top-color: 						$footer-color !default;

$footer-center-outside-bg:              $footer-outside-bg !default;
$footer-center-bg: 						$nocolor !default;
$footer-center-color: 					$footer-color !default;

$footer-bottom-outside-bg:              #191c21 !default;
$footer-bottom-bg: 						$nocolor !default;
$footer-bottom-color: 					$footer-color !default;

//------- Modules Path Variables (Close when upload svn)
$dream-image-path:     "../../../../../img/modules/rbthemedream/img/"!default;
$catalog-image-path:    "../../../../../../img/modules/combinationsincatalog/img/"!default;

//------- Modules Path Variables for SH (Open when upload svn)
/*$dream-image-path: "../../../../assets/img/modules/rbthemedream/img/" !default;
$catalog-image-path: "../../../../../assets/img/modules/combinationsincatalog/img/" !default;*/