@import "theme_variables";

.blog-lastest-title{
  font-size: 30px;
  margin-bottom: 30px;
  @media (max-width: 767px){
    text-align: center;
  }
}
.blogs-container,#blogpage{
  margin-bottom: 20px;
  background: $white;
  @include rtl-padding(0,30px,0,0);
  @media (max-width: 767px){
    padding: 15px;
  }
}
#blog-category .panel{
  padding: 15px;
  background: $white;
  margin-bottom: 30px;
  border: $main-border;
}
.blog-detail .pagination{
  background: transparent;
  padding: 0;
  margin: 0 -10px;
}
.blogs-container{
  .category-image {
    img {
      @include rtl-padding-right(10px); 
      @media (max-width: 991px){
        @include rtl-padding-right(0px);
        margin-bottom: 10px;
      }
    }
  }
  .product-count{
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .pagination{
    .material-icons{
      font-size: 15px;
    }
  }
  .blog-image {
    overflow: hidden;
    img{
        width: 100%;
        @include transform(scale(1));
        @include transition(all 0.5s ease-in-out 0s);
      &:hover{
        @include transform(scale(1.1));
      }
    }
  }
}
/* Blog Item */
.blog-item{
  margin-bottom: 30px;
  .left-block{
    position: relative;
  }
  .right-block{
    .more{
      margin-top: 30px;
    }
  }
  .blog-image-container{
    position: relative;
    z-index: 9;
  }
  .blog-title{
    font-weight: 600;
    margin-bottom: 20px;
    a{
      color: #363a42;
      font-size: 24px;
      line-height: 30px;
      @include ellipsis-text(2);
      &:hover{
        color: $theme-color-default;
      }
      @media (max-width: 480px){
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  .blog-image{
    margin-bottom: 25px;
  }
  .blog-meta{
    margin-bottom: 15px;
    padding-bottom: 15px;
    line-height: 23px;
    border-bottom: 1px solid $border-color;
    & > span{
      @include rtl-padding-right(15px);
      color: #999999;
      font-size: 13px;
      display: inline-block;
      [class*="icon-"]{
        display: inline-block;
        @include rtl-padding-right(3px);
        &:before{
          display: inline-block;
          font-family: $font-icon-3;
        }
      }
      .icon-author{
        &:before{
          content: "\e005";
        }
      }
      .icon-list{
        &:before{
          content: "\e034";
        }
      }
      .icon-hits{
        &:before{
          content: "\e08a";
        }
      }
      .icon-comment{
        &:before{
          content: "\e07d";
        }
      }
      a{
        color: #999999;
        &:hover{
          color: $theme-color-default;
        }
      }
    }
  }
  .blog-desc{
    line-height: 23px;
    @include ellipsis-text(3);
  }
  .blog-sidebar{
    .img_author{
      img{
        background: $white;
        padding: 6px;
        border: 2px solid $theme-color-default;
        @include border-radius(100%);
      }
    }
    .created{
      display: table;
      padding: 10px;
      background: $theme-color-default;
      position: relative;
      margin-bottom: 20px;
      @include border-radius(2px);
      .date{
        display: inline-block;
        color: $white;
        font-size: 0px;
        & > span{
          font-size: 14px;
          display: block;
          margin: 0 10px;
          height: 50%;
          line-height: 30px;
          &.day{
            font-size: 18px;
            border-bottom: 1px solid $white;
          }
          &.month{
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.leading-blog{
  margin-bottom: 30px;
  .blog-item{
    margin-bottom: 0px;
  }
  .blog-image-container{
    display: inline-block;
    @media (min-width: 992px) {
      @include clearfix();
    }
  }
  .blog-flex{
    @media (min-width: 992px){
      @include display(flex);
    }
  }
  .blog-content{
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid $border-color;
    @include transition(box-shadow 0.3s ease 0s);
    @media (min-width: 992px) {
      position: relative;
      @include rtl-margin(15px,0,20px,0);
      &:hover{
        @include box-shadow(3px 4px 10px 0px rgba(0,0,0,0.5));
      }
    }
    
  }
  .blog-sidebar{
    text-align: center;
    background: $white;
    padding: 15px 0;
    @media (max-width: 991px){
      margin-bottom: 40px;
    }
    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      width: 2px;
      height: 100%;
      background: $theme-color-default;
      left: 50%;
      @include transform(translateX(-50%));
    }
    &:after {
      position: absolute;
      content: "\f192";
      color: $theme-color-default;
      font-size: 18px;
      font-family: $font-icon;
      left: 50%;
      @include transform(translateX(-50%));    
    }
    .created{
      padding: 0;
      width: 70px;
      height: 70px;
      text-align: center;
      margin: -35px auto 0;
      border: 3px solid $white;
      @include border-radius(100%);
    }
  }
}
.secondary-blog{
  margin-top: 50px;
}
/* Blog detail */
.blog-detail{
  line-height: 24px;
  .blog-title{
    font-size: $font-size-h1;
  }
  .blog-description{
    font-size: 14px;
    line-height: 23px;
  }
  .product-count{
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .blog-meta{
    margin-bottom: $small-space;
    display: inline-block;
    > span{
      color: $theme-color-senary;
      font-size: $font-size-xs;
      @include rtl-margin(2px,20px,2px,0px);
      @include rtl-float-left();
      .material-icons{
        font-size: 15px;
      }
      &:last-child{
        @include rtl-margin(2px,0px,2px,0px);
      }
    }
    & > span{
      color: $body-color;
      display: inline-block;
      [class*="icon-"]{
        @include rtl-padding-right(3px);
        &:before{
          display: inline-block;
          font-family: $font-icon-3;
        }
      }
      .icon-author{
        &:before{
          content: "\e005";
        }
      }
      .icon-list{
        &:before{
          content: "\e034";
        }
      }
      .icon-hits{
        &:before{
          content: "\e08a";
        }
      }
      .icon-created{
        &:before{
          content: "\e081";
        }
      }
      .icon-comment{
        &:before{
          content: "\e07d";
        }
      }
      a{
        color: inherit;;
        &:hover{
          color: $theme-color-default;
        }
      }
    }
  }
  .blog-image{
    text-align: center;
    margin-bottom: 20px;
  }
  .blog-tags, .social-share{
    @media (min-width: 576px) {
      display: inline-block;
    }
  }
  .social-share{
    @include clearfix();
    .social-heading{
      margin-bottom: 5px;
    }
    .itemGooglePlusOneButton{
      direction: ltr !important;
      @include rtl-float-left();
      @include rtl-margin-right(5px);
      max-width: 40px;
      overflow: hidden;
    }
    .itemTwitterButton{
      margin-top: 3px;
      direction: ltr !important;
      @include rtl-float-left();
      @include rtl-margin-right(5px);
    }
    .itemFacebookButton{
      margin-top: 3px;
      direction: ltr !important;
      @include rtl-float-left();
      overflow: hidden;
      .fb_iframe_widget span{
        direction: ltr !important;
      }
    }
  }
}
.blog-tags, .extra-blogs, 
.blog-comments, .social-share{
  margin-bottom: $medium-space;
}
.blog-tags{
  @media (min-width: 576px) {
    @include rtl-float-right();
  }
  a{
    margin: 2px 0;
    display: inline-block;
    vertical-align: middle;
    span{
      background: #acacac;
      line-height: 1;
      color: $white;
      padding: $extra-small-space $small-space;
      display: inline-block;
      @include rounded-corners(2px);
    }
    &:hover{
      span{
        background: $theme-color-default;
      }
    }
  }
}
.extra-blogs{
  h4{
    margin-top: 8px;
  }
  ul{
    li {
      padding: 6px 0 ;
      border-bottom: dotted 1px $border-color;
    }
  }
}
.blog-video-code{
  .inner{
    background: #DDD;
    padding: 12px;
    margin-bottom: 15px;
    text-align: center;
  }
}
/* comment */
.comment-item{
  padding: 12px 0;
  img{
    @include rtl-padding-right(12px);
    @include rtl-float-left();
  }
}
.comment-wrap{
  overflow: hidden;
  background: $white;
  border: $main-border;
  padding: 20px;
  position: relative;
  @include transition(all 0.3s ease-out 0s);
  .comment-meta{
    border-bottom: $main-border;
    font-size: $font-size-xs;
    margin: -20px -20px 10px;
    padding: 10px 20px;
    display: block;
  }
  .comment-infor{
    & > span{
      font-weight: bold;
      @include rtl-margin-right(5px);
      & > span{
        font-weight: normal;
        white-space: inherit;
      }
    }
  }
}
.comment-link{
  display: block;
}
.blog-social{
  .social-wrap{
    > div{
      @include rtl-float-left();
    }
  }
  .social-heading{ 
    @include rtl-padding-right(12px); 
  }
}
.ipts-captcha{
  img{
    @include rtl-float-left();
    @include rtl-margin-right(12px);
    margin-bottom: 10px;
  }
  input{
    width: 100px;
  }
}
.blog-comment-block{
  .fb-comments {
    margin: 0 -8px;
  }
}
#blog-localengine {
  .comments{
    margin-bottom: 30px;
  }
  .title-comment{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-horizontal{
    background: $white;
    padding: 20px;
    @include rtl-border-radius(0,0,5px,5px);
    @include box-shadow(0 1px 5px #D9DADB);
    label{
      display: block;
      margin-bottom: 0;
      padding-bottom: 5px;
      @include rtl-text-align-left();
    }
    .form-group:last-child{
      margin-bottom: 0;
    }
  }
}
/* Load Submit Comment */
.leoblog-cssload-container {
  width: 100%;
  height: 35px;
  text-align: center;
  display: none;
}


@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
/* categories menu display on left or right sidebar */
.blog-menu {
  .block_content {
    > ul {
      margin-bottom: 0;
    }
    li {
      position: relative;
      a {
        font-size: 12px;
        line-height: 30px;
        display: block;
      }
      span.grower {
        display: block;
        background: #f6f6f6;
        position: absolute;
        top: 0;
        cursor: pointer;
        font-family: $font-icon;
        @include rtl-right(0px);
        &.OPEN:before,
        &.CLOSE:before{
          content: "\f068";
          display: block;
          vertical-align: middle;
          width: 10px;
          height: 36px;
          font-size: 10px;
          color: $theme-color-default;
          line-height: 36px;
          text-align: center;
        }
        &.CLOSE:before {
          content: "\f067";
        }
      }
      .navbar-toggler{
        position: absolute;
        @include rtl-right(0);
        top: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        i{
          font-size: 15px;
        }
       &[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .add,
    .remove {
      &:hover {
        
      }
    }
    .remove {
      display: none;
    }
        
      }
      li{
        a{
          font-weight: normal;
          &:before {
            content: "-";
            font-family: $font-icon;
            line-height: 29px;
            @include rtl-padding-right(8px);
            @include rtl-float-left();
          }
        }
      }
    }
  }
}
/*** RSS ***/
.blog-lastest-rss{
  @include float-right;
  position: relative;
  top: -35px;
  a{
    color: #f8991d;
    &:before{
      content: "\f09e";
      font-family: $font-icon;
      font-size: 30px;
      @include rtl-margin-right($extra-small-space);
    }
    &:hover{
      color: $theme-color-default;
    }
  }
}

/***** leo-block-sidebar ****/
.leo-block-sidebar{
  .block_content{
    .list-item{
      display: block;
      padding: 20px 0;
      border-bottom: 1px solid #eaeaea;
      .blog-image{
        @include rtl-float-left();
        width: 35%;
      }
      .blog-content{
        @include rtl-float-left();
        width: 65%;
        @include rtl-padding-left(10px);
        .post-name{
            font-size: 13px;
            font-weight: 400;
            height: 38px;
            overflow: hidden;
            line-height: 18px;
            margin-bottom: 0;
        }
        .info {
          font-size: 13px;
        }
      }
      &.last_item{
        border-bottom: none;
      }
    }
  }
}

/**** leo-blog-tags ****/
.leo-blog-tags{
  .block_content{
    a{
      margin: 4px 0;
      display: inline-block;
      vertical-align: middle;
      padding: 5px 12px;
      border: 1px solid #eaeaea;
      color: $theme-color-senary;
      &:hover{
          background: $theme-color-default;
          color: $white;
          border-color: $theme-color-default;
      }
    }
  }
}


/*** Responsive part ***/
@include media-breakpoint-up(md) { // min-width: 768px
  .comment-link{
    background: #F4F4F4;
    font-weight: bold;
    padding: $small-space $medium-space;
    @include rtl-margin(-11px, -20px, -10px, 0);
    @include rtl-border-left(1px solid #E5E5E5);
    @include rtl-float-right();
  }
  .blogs-container,
  .blog-detail {
    .product-count{
      @include rtl-text-align-right();
      margin-top: 1rem;
    }
  }
}

@include media-breakpoint-down(sm) { // max-width: 767px
  #blog-localengine{
    .form-horizontal{
      label{
        @include rtl-text-align-left();
      }
    }
  }
  .blog-detail, .blogs-container {
    .pagination{
      text-align: center;
    }
    .page-item{
      display: inline-block;
    }
  }
}

@include media-breakpoint-only(xs){ // max-width: 543px
  .video-code{
    iframe{
      width: 100%;
    }
  }
  .comment-wrap{
    .comment-meta{
      display: inline-block;
      > span{
        display: inline-block;
        margin: 5px 0;
        width: 100%;
        @include rtl-float-left();
      }
    }
  }
}