@import "theme_variables";

@charset "UTF-8";

// Default Variables

$slick-arrow-color: $theme-color-default !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f053" !default;
$slick-next-character: "\f054" !default;
$slick-dot-character: "\f111" !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff url(#{$app-image-path}ajax-loader.gif) center center no-repeat;
    }
}


/* Arrows */
.slick-arrows{
    .slick-arrow{
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 0px;
        z-index: 9;
        cursor: pointer;
        background: transparent;
        top: 46%;
        padding: 0;
        background: $white;
        border: 1px solid $theme-color-default;
        outline: none;
        color: $slick-arrow-color;
        visibility: hidden;
        @include opacity(0);
        @include border-radius(50px);
        @include transition(all 0.3s ease);
        @include transform(translate(0, -50%));
        &:hover, &:focus {
            background: $theme-color-default;
            color: $white;
            border-color: $theme-color-default;
            outline: none;
            &:before {
                @include opacity($slick-opacity-on-hover);
            }
        }
        &.slick-disabled:before {
            @include opacity($slick-opacity-not-active);
        }
        &:before {
            font-size: 12px;
            display: block;
            font-family: $font-icon;
            @include opacity($slick-opacity-default);
        }
        &.slick-prev {
            @include rtl-left(15px);
            &:before {
                content: $slick-prev-character;
                [dir="rtl"] & {
                    content: $slick-next-character;
                }
            }
        }
        &.slick-next {
            @include rtl-right(15px);
            &:before {
                content: $slick-next-character;
                [dir="rtl"] & {
                    content: $slick-prev-character;
                }
            }
        }
    }
}
.slick-slider{
    &:hover{
        .slick-arrows{
            .slick-arrow{
                visibility: visible;
                @include opacity(1);
                &.slick-prev{
                    @include rtl-left(-5px);
                }
                &.slick-next {
                    @include rtl-right(-5px);
                }
            }
        }
    }
}
/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    @include opacity($slick-opacity-on-hover);
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $font-icon;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                @include opacity($slick-opacity-not-active);
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            @include opacity($slick-opacity-default);
        }
    }
}

