// Product List
// ========================================================================
// name
$product-name-color:                $theme-color-secondary !default;
$product-name-hover-color:          $theme-color-default !default;
$product-name-font-family:          $font-family-base !default;
$product-name-font-size: 			16px !default;
$product-name-font-weight:          500 !default;

//price 
$product-price-color:               $theme-color-default !default;
$product-price-font-family:         $font-family-base !default;
$product-price-font-size:           16px !default;
$product-price-font-weight:         700 !default;
$product-price-regular-color:       $theme-color-senary-1 !default;
$product-price-discount-bg:         $brand-secondary !default;
$product-price-discount-color:      white !default;

// image
$product-image-border:              $main-border !default;
$product-image-radius:              0px !default;

// Product Flats
$product-flags-new-bg:              $brand-primary !default;
$product-flags-sale-bg:             $brand-info !default;
$product-flags-discount-bg:         red !default;
$product-flags-online-only-bg:      $brand-warning !default;