@import "../../../../theme_variables";

// SECTION
.rb-section {
    &.rb-section-slideshow {
        margin-bottom: 65px;
    }
    &.rb-section-services {
        margin-bottom: 40px;
    }
    &.rb-section-instagram,
    &.rb-section-testimonial {
        margin-bottom: 100px;
    }
    &.rb-element-e8r6dom {
        margin-bottom: 0;
    }
}

// .rb-section-testimonial
.rb-section-testimonial {
    padding: 0;
    .rb-testimonial-meta-inner {
        .item {
            padding: 30px 35px 25px;
            border: $main-border;
            @media (max-width: 479px) {
                padding: 30px 15px 25px;
            }
        }
    }
    .rb-testimonial-image {
        display: none;
    }
    .rb-testimonial-name {
        font-size: 12px;
        font-weight: 700;
    }
    .testimonial-customer-position {
        font-size: 14px;
    }
    .rb-testimonial-details {
        position: relative;
        padding-left: 40px;
        &:before {
            content: "";
            width: 22px;
            height: 1px;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 7px;
            left: 0;
        }
    }
}

// banner
.center {
    &.style-7 {
        .rb-widget-banner {
          position: relative;
          .rb-dd-banner-subtitle {
            line-height: 30px;
            padding-top: 15px;
            display: inline-block;
            background: $theme-color-default;
            color: $white;
            position: absolute;
            right: 55px;
            writing-mode: vertical-lr;
            @media (max-width: 479px) {
                right: 0;
            }
            &:before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              border-width: 15px;
              border-style: solid;
              border-color: $theme-color-default;
              border-bottom-color: transparent;
            }
          }
          .rb-dd-banner-content {
            position: unset;
            @include transform(inherit);
          }
          div.rb-dd-banner-description {
            position: absolute;
            z-index: 9;
            top: 50%;
            left: 40px;
            right: 40px;
            @include transform(translateY(-50%));
          }
        }
        .title-banner {
            font-size: 40px;
            color: $white;
            @media (max-width: 479px) {
                font-size: 20px;
            }
        }
        .bwp-image-description {
            font-size: 20px;
            color: $white;
            margin-bottom: 20px;
            @media (max-width: 479px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .button {
            font-size: 16px;
            line-height: 34px;
            border: 2px solid $white;
            display: inline-block;
            padding: 0 28px;
            color: $white;
            @include border-radius(20px);
            &:hover {
                border-color: $theme-color-default;
                background-color: $theme-color-default;
            }
        }
    }
}

.left {
    &.style-1 {
        .rb-widget-banner {
            .rb-dd-banner-content {
                top: 32%;
                @include transform(translateY(-32%));
            }
            .rb-button {
                @include border-radius(20px);
            }
        }
    }
}

// rb-section-newsletter-box
.rb-section-newsletter-box {
    .rb-column-gap-default {
        background-image: url(#{$dream-image-path}/bg-newsletter-h3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 64px 0 145px;
        @media (max-width: 767px) {
            background-position: center right;
        }
    }
    .rb-element-xe4rnvx {
        .rb-column-wraprb-element-populated {
            padding: 0 90px;
            @media (max-width: 1199px) {
                padding: 0 30px;
            }
            @media (max-width: 767px) {
                padding: 0 15px;
            }
        }
    }
    .rb-widget-icon-box {
        .rb-icon-box-wrapper {
            text-align: left;
            color: $white;
        }
        .rb-icon-box-icon {
            color: $white;
        }
        .rb-heading-title {
            color: $white;
            font-size: 40px;
            line-height: 50px;
            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 35px;
            }
        }
        p {
            color: $white;
            font-size: 20px;
        }
    }
    .ps-emailsubscription-block {
        @media (max-width: 991px) {
            text-align: left;
        }
        form {
            input[type="email"] {
                border-color: $white;
                @include border-radius(0);
            }
        }
        .block_content {
            margin-left: 0;
        }
    }
}