@import "../../../../theme_variables";

// SECTION
.rb-section {
   &.rb-section-slideshow,
   &.rb-section-testimonial {
       margin-bottom: 0;
   }
   &.rb-section-depart,
   &.rb-section-brand,
   &.rb-section-testimonial {
    padding: 90px 0;
    background-color: #f8f8f8;
   }
   &.rb-section-depart,
   &.rb-section-countdown {
       margin-bottom: 100px;
   }
}

// rb-section-depart
.rb-section-depart {
    .slick-slide-inner {
        text-align: center;
        > a {
            max-width: 208px;
            background: $white;
            padding: 20px;
            margin: 0 auto;
            overflow: hidden;
            @include size(208px,208px);
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            @include border-radius(100%);
            @media (max-width: 1199px) {
                max-width: 170px;
                @include size(170px,170px);
            }
            img {
                @include transform(translateZ(0));
            }
            &:hover {
                img {
                    animation-name: elementor-animation-buzz-out;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1
                }
            }
        }
        .item-title {
            font-size: 22px;
            margin: 25px 0 0;
        }
    }
}

// rb-section-countdown
.rb-section-countdown {
    .rb-widget-wrap {
        border: 2px solid $theme-color-default;
        padding: 0 35px 15px;
        @include border-radius(8px);
        @media (max-width: 480px) {
            padding: 0 15px;
        }
    }
    .rb-countdown {
        background: $white;
        padding: 0 25px;
        margin-left: 55px;
        @include display(inline-flex);
        @include align-items(center);
        @include transform(translateY(-50%));
        @media (max-width: 767px) {
            margin-left: 0;
            text-align: center;
            @include display(block);
        }
        @media (max-width: 480px) {
            padding: 0;
        }
        .rb-coundown-title {
            margin-right: 30px;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            @media (max-width: 767px) {
                margin-right: 0;
            }
            @media (max-width: 480px) {
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
        .rb-clock {
            background: $theme-color-default;
            line-height: 45px;
            height: 45px;
            padding: 0 25px;
            @include border-radius(30px);
            @media (max-width: 767px) {
                @include justify-content(center);
            }
            @media (max-width: 480px) {
                padding: 0 5px;
            }
            li{
                margin: 0 5px;
                background-color: transparent;
                padding-top: 5px;
                @include size(auto,auto);
                @include border-radius(0);
                @media (max-width: 375px){
                    min-width: 50px;
                  }
                b{
                    display: block;
                    font-size: 16px;
                    line-height: 20px;
                    color: $white;
                    font-weight: 700;
                    margin-bottom: 0px;
                    @media (max-width: 480px){
                        font-size: 12px;
                    }
                }
                em{
                  font-size: 10px;
                  line-height: 20px;
                  color: $white;
                  text-transform: uppercase;
                  @media (max-width: 480px){
                    font-size: 8px;
                  }
                }
              }
        }
    }
}

// rb-section-tabproduct
.rb-section-tabproduct {
    .rb-widget-heading {
        .rb-heading-title  {
            @media (max-width: 991px) {
                text-align: center;
            }
        }
    }
    .rb-products-tabs {
        .nav-tabs {
            @media (max-width: 991px) {
                position: inherit;
            }
            li {
                a {
                    &:before {
                        height: 2px;
                        background: $theme-color-default;
                    }
                }
            }
        }
    }
}

// Widget Banner
.center {
    &.style-3 {
        .rb-widget-banner {
            &.rb-element-k9t8mdf {
                margin-bottom: 10px;
            }
        }
    }
}

.rb-widget-banner {
    .rb-dd-banner {
        @media (max-width: 767px) {
            width: 100%;
            display: block;
        }
        img {
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

// rb-section-brand
.rb-section-brand {
    .rb-widget-prestashop-widget-Brands {
        background: $white;
        overflow: hidden;
    }
}

// rb-section-testimonial
.rb-section-testimonial {
    .rb-testimonial-meta-inner {
        .item {
            padding: 50px;
            background: #efe6f4;
            @media (max-width: 1199px) {
                padding: 30px 25px;
            }
        }
        &:nth-child(3n+1) {
            .item {
                background: #f4ece6;
            }
        }
        &:nth-child(odd) {
            .item {
                background: #e6f1f4;
            }
        }
    }
}

// rb-section-newsletter-box
.rb-section-newsletter-box {
    .rb-text-newsletter {
        @include display(flex);
        @include align-items(center);
        @media (max-width: 767px) {
            flex-wrap: wrap;
            text-align: center;
            @include display(block);
        }
        h2 {
            margin: 0;
            position: relative;
            font-size: 18px;
            color: $white;
            border-right: 1px solid hsla(0,0%,100%,.28);
            padding: 20px 60px 25px 0;
            margin-right: 45px;
            white-space: nowrap;
            font-weight: bold;
            text-transform: uppercase;
            @include display(inline-flex);
            @include align-items(center);
            @media (max-width: 991px) {
                padding: 20px 20px 25px 0;
                margin-right: 20px;
            }
            @media (max-width: 767px) {
                border: 0;
                padding: 0;
                margin: 0 0 20px;
                @include flex-wrap(wrap);
                @include justify-content(center);
            }
            &:before {
                content: "\e90c";
                font-family: $font-icon-4;
                font-size: 68px;
                padding-right: 30px;
                position: relative;
                top: -10px;
                @media (max-width: 767px) {
                    display: block;
                    width: 100%;
                    padding: 0;
                }
            }
        }
        p {
            display: inline-block;
            margin: 0;
            color: #fff;
            font-size: 16px;
            line-height: 24px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
    .rb-column-gap-default {
        > .row {
            background: $theme-color-default;
            padding: 30px 40px;
            @media (max-width: 767px) {
                padding: 30px 0;
            }
            @media (min-width: 992px) {
                margin: 0;
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);
            }
        }
    }
    .ps-emailsubscription-block {
        form {
            input[type="email"] {
                @include border-radius(0);
            }
            .btn {
                &:hover {
                    background: #4d4d4d;
                }
            }
        }
    }
}