@import "theme_variables";

// ************* Footer home 4 ***************

.page-index .footer-container {
	margin-top: 40px;
}

.footer-container {
	background: #f9f9f9;
	.block {
	    .title_block {
	      color: $black;
	    }
	  }
	  li {
	    a {
	      &:hover {
	        color: $theme-color-default;
	      }
	    }
	  }
}
.footer-center .ApColumn .block.logo-footer {
	margin-bottom: 30px;
}

.store-item {
	margin-bottom: 10px;
}

.footer-copyright {
	text-align: center;
}

.footer-bottom {
  border-top: $main-border;
}

.block_newsletter {
	@media (min-width: 768px) and (max-width: 911px){
		margin-top: 30px;
	}
}