@import "theme_variables";

/************* Footer home 3 ***************/
.page-index {
    .footer-container {
        margin-top: 0;
    }
}

.footer-bottom {
    border-top-color: #e5e5e5;
}

.footer-container {
    background: #f3f3f3;
    .block {
        .title_block {
            color: $black;
        }
    }
}