
@import "theme_variables";

/************* Footer home 2 ***************
/* footer */
.footer-container {
  background-color: $white;
  margin-bottom: 70px;
  @include rtl-margin-left(15px);
  @include rtl-margin-right(15px);
  @media (min-width: 1200px){
      @include rtl-margin-left(60px);
      @include rtl-margin-right(60px);
  }
  @media (max-width: 991px){
      margin-top: 4rem;
  }
  .block {
    .title_block {
      color: $black;
    }
  }
  li {
    a {
      color: #666666;
      &:hover {
        color: $theme-color-default;
      }
    }
  }
}


/* Skin */
$blue:     #6AAFE6;
$deeppink: #FF1493;
$green:    #8bc43f;
$lime:     #41A317;
$olive:    #808000;
$purple:   #8A2CB1;
$yellow:   #edb42c;
