@import "theme_variables";

/************* Header home 3 ***************/
.header-top {
  position: relative;
  z-index: 2;
  margin: 0 60px;
  @media (max-width: 1024px){
    margin: 0 15px;
  }
  @media (max-width: 767px){
    padding: 0 15px;
    margin: 0;
  }
}
.box-header-2 {
  .col-logo {
    margin-top: 35px;
     @media (max-width: 767px){
        text-align: center;
        margin-top: 25px;
     }
  }
  .col-info {
    height: 120px;
    @media (max-width: 767px){
      height: 100px;
    }
  }
  .menu-center {
    text-align: center;
    @media (max-width: 767px){
       @include rtl-text-align-left();
    }
  }
}
.leo-megamenu{
  .navbar-toggler {
    border-color: transparent;
    margin-top: 35px;
    @media (max-width: 767px){
      margin-top: 25px;
    }
  }
  .navbar-nav{
    > li{
      float: none;
      display: inline-block;
      > a{
        padding: 45px 15px;
        &:hover,
        &:focus {
          color: $theme-color-fourth;
        }
      }
      &.active,
      &:hover,
      &:focus {
        > a {
          color: $theme-color-fourth;
        }
      }
      &.new{
        .sub-title{
          top: 10px;
        }
      }
    }
  }
  .dropdown-menu {
    li {
      a {
        &:hover {
          color: $theme-color-fourth;
          &:before {
            background: $theme-color-fourth;
          }
        }
        > .menu-title:hover {
          color: $theme-color-fourth;
        }
      }
    }
  }
}