@import "./vars/block.vars";
@import "../theme_variables";

.sidebar {
    .block {
        padding: 0 15px 15px;
        border: 1px solid $border-color;
        .block-title {
            color: $block-heading-color;
            text-transform: $block-heading-transform;
            font-size: $block-heading-font-size;
            padding: $block-heading-padding;
            font-weight: $block-heading-font-weight;
            position: relative;
            margin: $block-heading-margin;
            text-align: left;
            border-bottom: $block-heading-border;
            a {
                color: $block-heading-color;
                &:hover {
                    color: $theme-color-default;
                }
            }
        }
        &.featured-products {
            border: none;
            .title_block {
                padding: 20px 0;
            }
            .block_content {
                padding: 30px 0;
            }
        }
        .products {
            .product-miniature {
                width: 100%;
                max-width: 100%;
                flex: 0 0 100%;
                padding: 0;
            }
            .thumbnail-container {
                text-align: left;
                margin: 0;
                padding: 10px 0;
                border-bottom: 1px dashed $border-color;
                overflow: hidden;
                background: transparent;
                .product-image {
                    float: left;
                    width: 37.66667%;
                    .product-price-and-shipping,
                    .quickview {
                        display: none;
                    }
                }
                .product-meta {
                    float: left;
                    width: 62.33333%;
                    padding: 15px 0 0 15px;
                    @include transform(none);
                    .product-description {
                        p {
                            display: none;
                        }
                    }
                }
                .functional-buttons,
                .rb-wishlist,
                .product-brand {
                    display: none;
                }
                .dd-list-product-reviews {
                    @include clearfloat();
                    text-align: left;
                    .dd-list-product-reviews-wraper {
                        position: relative;
                        top: inherit;
                    }
                }
                .product-price-and-shipping {
                    @include clearfloat();
                    text-align: left;
                    padding-left: 0;
                    .discount-percentage {
                        display: inline-block;
                    }
                    .aeuc_before_label,
                    .aeuc_unit_price_label,
                    .addToCartFormWrapper {
                        display: none;
                    }
                }
                .product-info {
                    visibility: visible;
                    @include opacity(1);
                }
                .box-card-info {
                    border: none;
                    padding: 0;
                }
                .cart,
                .dd-more-info,
                .highlighted-informations,
                .product-flags {
                    display: none;
                }
                .product-title {
                    margin-top: 0px;
                    @include clearfloat();
                    position: relative;
                }
                .rb-pro-attr-section,
                .rb_cart_quantity {
                    display: none;
                }
                &:hover {
                    @include box-shadow(none);
                    .product-image {
                        &:before {
                            display: none;
                        }
                    }
                    .product-meta {
                        margin-top: 0;
                    }
                    .product-price-and-shipping {
                        @include opacity(1);
                    }
                }
            }
        }
        .button-link {
            text-align: center;
        }
        .all-product-link {
            margin-top: 15px;
            display: inline-block;
            word-break: break-word;
            background: #dddddd;
            i {
                font-size: 12px;
            }
        }
        .list-group-item {
            border: none;
            padding: 10px 0;
        }
        .btn {
            font-size: 12px;
            i {
                font-size: 13px;
            }
        }
    }
}

// block in footer
.footer-container {
    .#{$block-selector} {
        .#{$block-heading-selector} {
            display: block;
            font-size: 18px;
            padding: 0 0 30px;
            line-height: 25px;
            margin: 0;
            font-weight: 700;
            color: $theme-color-secondary;
            text-transform: uppercase;
            font-family: $headings-font-family;
            cursor: initial;
            &:after {
                display: none;
            }
            @media (max-width: 767px) {
                margin: 0;
                padding: 10px 0;
                cursor: pointer;
            }
            a {
                color: $theme-color-secondary;
                &:hover {
                    color: $theme-color-default;
                }
            }
        }
    }
}

//rb-products-list
.rb-products-list {
    .title_block {
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        margin: 80px 0 50px;
        @media (max-width: 991px) {
            margin: 50px 0 30px;
        }
    }
}
