// menu.scss
// Navs
// --------------------------------------------------
@import "vars/menu.vars";
/*
* NAVIGATION
*/
.#{$app-brand-prefix}-megamenu {
	position: static;
    font-family: $megamenu-font-family;
    @include container-layout-variant($megamenu-color, $megamenu-bg); 	
    .#{$app-brand-prefix}-colorbox{
		display: none !important;
	}
	&.navbar{
		padding: 0;
	}
	.navbar-toggler{
		position: relative;
		outline: 0;
		color: transparent;
		border-color: $border-color;
		text-align: center;
		padding: 0;
		cursor: pointer;
		background-color: #f0e2ce;
		@include size(50px,50px);
		@include border-radius(100%);
		&:before{
		    content: "\f0c9";
		    font-family: $font-icon;
		    font-size: 18px;
		    line-height: 50px;
		    color: $theme-color-secondary;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	}
	/* menu level 1 */
	.navbar-nav{
		> li {
			@include rtl-text-align-left();
			+ .nav-item{
				@include rtl-margin-left(0px);
			}
			&.aligned-fullwidth {
				@media (min-width: 992px){
					position: static;
				}
				> .dropdown-menu  {
					width: 100%;
				}
			}
			&.aligned-right {
				.dropdown-menu  {
					right: 0;
					left: auto;
				}
			}
			&.aligned-left {
				.dropdown-menu  {
					left: 0;
					right: auto;
				}
			}
			&.aligned-center {
				.dropdown-menu  {
					@media (min-width: 992px){
						left: 50% !important;
						right: auto !important;
						@include animation(animationmenus-center ease 0.5s);
				        animation-iteration-count: 1;
				        transform-origin: 50% 50%;
				        animation-fill-mode:forwards; /*when the spec is finished*/
				        -webkit-animation-iteration-count:1;
				        -webkit-transform-origin: 50% 50%;
				        -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
				        -moz-animation-iteration-count:1;
				        -moz-transform-origin: 50% 50%;
				        -moz-animation-fill-mode:forwards; /*FF 5+*/
				        -o-animation-iteration-count: 1;
				        -o-transform-origin: 50% 50%;
				        -o-animation-fill-mode:forwards; /*Not implemented yet*/
				        -ms-animation-iteration-count: 1;
				        -ms-transform-origin: 50% 50%;
				        -ms-animation-fill-mode:forwards; /*IE 10+*/
					}
				}
			}
			> a{
				padding: $megamenu-parent-padding;				
				font-size: $megamenu-parent-font-size;	
				color: $megamenu-link-color;
				background-color: $nocolor;
				font-weight: $megamenu-font-weight;
				text-transform: $megamenu-parent-text-transform;
				@include transition(all 350ms ease-out);
				position: relative;
				&:hover,&:focus,&:active{					
					color: $megamenu-link-hover-color;				
					background-color: $megamenu-link-bg-hover-color;
				}
				> .menu-title{	
					position: relative;
				}
				&.dropdown-toggle{
					&:after{
						font-size: 12px;
					    content: "\f107";
					    font-family: $font-icon;
					    border: 0;
					    width: auto;
					    height: auto;
					    vertical-align: 1px;
					    font-weight: 400;
					    @include rtl-margin(0, 0, 0, 5px);
					}
				}
			} 
			&.active,
			&:hover,
			&:focus{
				> a{
					color: $megamenu-link-hover-color;
					background-color: $megamenu-link-bg-hover-color;
					> .menu-title{	
						&:before{
							color: #acacac;
    						text-shadow: 8px 0 #acacac, -8px 0 #acacac;
						}
					}
				}
			}
			&.new{
				.sub-title{
					color: #fff;
				    font-size: 8px;
				    font-weight: 600;
				    height: 14px;
				    line-height: 14px;
				    padding: 0 6px;
				    position: absolute;
				    text-align: center;
				    text-transform: uppercase;
				    top: 0;
				    background-color: $red;
				    right: 30px;
				    @include rtl-border-radius(4px,4px,0,4px);
				    @include transform(translateZ(0px));
				    &:before{
				    	border-style: solid;
					    @include rtl-border-width(5px,0,0,5px); 
					    border-color: $red transparent transparent;
					    bottom: -5px;
					    content: "";
					    pointer-events: none;
					    position: absolute;
					    z-index: -1;
					    @include rtl-right(0);
					    @include transition-property(bottom);
					    @include transition-duration(0.3s);
				    }
				    @media (max-width: 991px){
				    	display: none;
				    }
				}
			}
			> .caret{
				position: relative;
				color:$megamenu-link-color;
				display: none;
				@include rtl-margin-left(5px);
			}	
			&:hover > .caret, &:active > .caret{
				color: $megamenu-link-hover-color;
			}
			&.home{
				a{
					@include rtl-padding(20px,20px,20px,0);
				}
			}
		} 		
	}
	/* level 2 */
	.dropdown-menu{			
		top: 100%;	
		z-index: 999999;
		left: -9999px;
		height: auto;								
		font-weight: 300;		
		color: $megamenu-sub-text-color;	
		border: $megamenu-sub-border;
		min-width: $megamenu-sub-min-width;
		padding: $megamenu-sub-padding;
		background-color: $megamenu-sub-bg-color;	
		font-family: $megamenu-link-font-family;	
		margin: 0px;	
		@include rounded-corners($megamenu-sub-radius);							
		@include box-shadow($megamenu-sub-shadow);
		@include transition(opacity 0.3s linear 0s);
		@include rtl-text-align-left();			
	    li{
	    	line-height: 25px;
	    	float: none;
	    	border-bottom: 1px solid $border-color;
	    	&:last-child {
	    		border-bottom: none;
	    	}
	    	+ .nav-item{
				@include rtl-margin-left(0px);
			}
		    a{    
		    	position: relative;
		    	color: $megamenu-sub-link-color;
		    	display: block;
			   	padding: 6px 0;
			   	font-weight: 300;
			   	font-size: $megamenu-sub-font-size;
			   	@include transition(all 0.3s ease 0s);
			   	&:before{
		          content: "";
		          background: $theme-color-tertiary;
		          width: 0;
		          height: 1px;
		          top: 15px;
		          position: absolute;
		          @include rtl-left(0);
		          @include transition(all .4s);
		          @include transform(translateY(50%));
		        }		   	
			   	&:hover{
			   		background-color: $nocolor;
			   		color: $megamenu-sub-link-hover-color;
			   		@include rtl-padding-left(10px);			   		
			   		.fa{
			   			color: $megamenu-sub-link-hover-color;	   			
			   		}
			   		&:before{
			            width: 5px;
			            background: $theme-color-default;
			        }
			   	}
		    }		    
	    }		
		.menu-title{
			margin-bottom: 10px;
			font-size: $megamenu-parent-font-size;
			font-family: $megamenu-font-family;
			color: $theme-color-secondary;
			text-transform: uppercase;
		    font-weight: 600;
			a{
				color: $theme-color-secondary;
				&:hover{
					color: $theme-color-default;
				}
			}
		}
		a > .menu-title{
			text-transform: none;
			font-weight: 400;
			color: $megamenu-sub-link-color;
			font-size: $base-font-size;
			font-family: $megamenu-link-font-family;
			border: none;
			padding: 0;
			&:hover{
				color: $megamenu-sub-link-hover-color;
			}
		}
	}
	.leo-home{
		.dropdown-menu{
			li{
				@media (min-width: 992px){
					width: 50%;
					@include rtl-float-left();
				}
			}
		}
	}
	.dropdown{		
		&:hover{
			> .dropdown-menu{	
				@include rtl-left(0px);						
    			@include media-breakpoint-up(lg){
	    			display: block;
    			}						 		
			}
			> a{		
			color: $megamenu-link-hover-color;
				.fa{
					color: $megamenu-link-hover-color;
				}									
			}
		}		
	}
	/* level > 3 */
	.dropdown-submenu{
		position: relative;
		.dropdown-menu{						
			@media (min-width: 992px){
				top: 0;				
				position: absolute;
				@include rtl-left(100%);
			}
		}
		&:hover{
			> .dropdown-menu{	 
				display: block;
			    top: 0;											    									      			
			}
		}
	}
	.mega-group {		
		& > .dropdown-toggle {			
			border: 0;	
			display: block;			
			letter-spacing: 3px;				
			text-transform: uppercase;					
			font-family: $megamenu-heading-title-font-family;	
			color: $megamenu-heading-color;			
			.fa{
				color: $white;
			}
		}	
	} 

	.megamenu .cols1{
		min-width: 200px;
	}
	.megamenu .cols2{
		min-width: 500px;
	}
	.megamenu .cols3{
		min-width: 740px;
	}
	// manufacture
	.manu-logo{
		img{
			border: $main-border;
			margin-bottom: $small-space;
			margin-right: $small-space;
		}
	}
	.widget-subcategories {
	    margin-bottom: $large-space/2;
	}

}

/* Product for menu */

.#{$app-brand-prefix}-widget{
	margin-bottom: 15px;
	.thumbnail-container{
		margin: 0;
		@include rtl-text-align-left();
		@include box-shadow(none);
		.product-image{ 
			@include rtl-float-left(); 
			@include rtl-margin(0px, 10px, 10px, 0px);
			border: $main-border;
			.product-thumbnail{
				&:before{
					background-color: transparent;
				}
			}
		}
		.product-price-and-shipping{
			@include clearfloat();
			height: auto;
			@include rtl-text-align-left();
			.price{
				margin-bottom: 0;
				display: inline-block;
			}
			.aeuc_before_label,.aeuc_unit_price_label{
                display: none;
            }
		}
		.product-meta{
			overflow: hidden;
			zoom: 1;
			padding: 0;
			width: auto;
			display: block;
		}
		.product-description{
			display: block;
		}
		.product-title{
			margin: 10px 0;
			line-height: 20px;
			text-transform: none;
			@include clearfloat();
			position: relative;
			a{
				font-weight: 400;
			}
		}
		&:hover{
			@include box-shadow(none);
            .product-meta{
                margin: 0;
                padding: 0;
            }
            .product-image{
                &:before{
                    display: none;
                }
            }
		}
	}
	.widget-html{
		p{
			line-height: 23px;
		}
	}
	.widget-video{
		iframe{
		    border-width: 0px;
		    @media (max-width: 991px) { // max 991px
		    	width: 100%;
		    }
		}
	}
	ul.widget-image{
		@include rtl-margin-left(0px);
		li{
			@include rtl-margin-right(10px);
			&:last-child{
				@include rtl-margin-right(0px);
			}
		}
	}
	/** widget tab **/
	.widget-tab{
		.nav-tabs{
			width: 30%;
			@include rtl-float-left();
			> li{
				padding: 5px 0;
				border-bottom: 1px solid #ddd;
				&:first-child{
					border-top: 1px solid #ddd;
				}
				a{
					font-size: 14px;
					text-transform: none;
					position: relative;
					&:hover,&.active{
						border-color: transparent;
						background: transparent;
						color: $theme-color-default;
					}
					&:after{
						content: "\f105";
						font-family: $font-icon;
						position: absolute;
						@include rtl-right(5px);
						top: 0;
					}
				}
				&.active{
					a{
						background: transparent;
						border-color: transparent;
						color: $theme-color-default;
					}
				}

			}
		}
		.tab-content{
			width: 70%;
			@include rtl-float-left();
			padding: 20px;
			border: 1px solid #ddd;
			.active{
				max-height: 100%;
			}
		}
	}
	/** widget HTML **/
	.widget-html{
		position: relative;
		margin-top: 20px;
		font-size: 14px;
		color: $body-color;
		p{
			margin-bottom: 0;
			overflow: hidden;
			line-height: 23px;
			margin-bottom: 10px;
			img{
				@include transform(scale(1));
				@include transition(all 0.3s ease 0s);
				&:hover{
					@include transform(scale(1.1));
	    			@include transition(all 0.3s ease 0s);
				}
			}
			&.text-html{
				color: $white;
				font-size: 32px;
				font-weight: 500;
				margin-bottom: 0;
				padding-bottom: 10px;
				border-bottom: 4px solid $white;
				position: absolute;
				bottom: 50%;
				left: 50%;
				@include transform(translate(-50%,50%));
			}
		}
	}
}
/*** Detail layer ***/
.demo-product-detail{
	.leo-widget{
		padding: 0 10px;
		@include rtl-float-left();
		@media (min-width: 992px) {
			width: 14.222%;
		}
		@media (max-width: 991px) {
			width: 33.333%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
		p{
			overflow: inherit;
		}
		a{
			display: block;
		    padding: 5px;
		    border: 1px solid #eaeaea;
		    @include transition(all 0.3s ease 0s);
		    img{
				width: 100%;
				@media (min-width: 481px) {
					max-height: 194px;
				}
				&:hover{
					@include transform(scale(1));
				}
			}
			&:hover{
				border-color: $theme-color-default;
				@include transform(translateY(-5px));
			}
		}
	}
}
/*
 *
 * Vertical menu
 */
 .page-home .ApColumn{
 	.#{$app-brand-prefix}-verticalmenu{
	    .title_block{
	    	font-size: 14px;
	    	font-weight: 700;
	    	margin: 0;
	    }
	}
 }
.#{$app-brand-prefix}-verticalmenu{
	position: relative;
	background: #f3f4f6;
	@media (max-width: 991px){
		margin: 0 0 30px;
	}
    .title_block{
    	margin: 0;
    	padding: 18px 30px;
    	background: $theme-color-senary;
	    color: $white;
    	width: 100%;
    	cursor: pointer;
    }
    .block_content{
    	background: #f3f4f6;
    	padding: 33px 0;
    	@media (max-width: 1500px){
    		padding: 20px;
    	}
    	@media (max-width: 1199px){
    		padding: 10px 20px;
    	}
    	@media (max-width: 991px){
    		position: absolute;
		    width: 100%;
		    height: 0;
		    z-index: 999;
		    visibility: hidden;
		    @include opacity(0);
		    @include transition(0.3s ease-in-out);
		    @include transform(scale(1,0));
		    @include transform-origin(top);
    	}
    }
    &.active{
    	.block_content{
    		height: auto;
    		visibility: visible;
		    @include opacity(1);
		    @include transform(scale(1));
    	}
    }
}

div.verticalmenu{	
	z-index: 100;
	.navbar-collapse, .navbar-vertical {
		margin:0;
		padding:0
	}
	.navbar-nav{			
		position: static;		
		@include clearfloat();					
		> li{			
			@include size(100%,auto);
			float: none;	
			padding: 10px 40px;
			@media (max-width: 1500px){
	    		padding: 8px 40px;
	    	}	
	    	@media (max-width: 1199px) and (min-width: 992px){
	    		padding: 2px 40px;
	    	}	
	    	@media (max-width: 991px){
	    		padding: 8px 0;
	    	}													
			> a{
				position: relative;
				display: block;
				color: $vertical-menu-color;
				font-size: $vertical-menu-font-size;	
				font-family: $vertical-menu-font-family;
				font-weight: $vertical-menu-font-weight;
				@include rtl-padding(3px,0,3px,27px);
				&:before{
				    content: "";
				    position: absolute;
				    border: 1px solid hsla(0,0%,56%,.4);
				    width: 7px;
				    height: 7px;
				    bottom: 50%;
				    @include rtl-left(0);
				    @include border-radius(50px);
				    @include transform(translateY(50%));
				    @include transition(all .2s ease);
				}	
				&:hover{
					&:before{
						background: $theme-color-default;
						border-color: $theme-color-default;
					}
				}			
			}
			.caret{
				display: none;
			}
			@media (max-width: 991px) { // max 991px
				.caret{
					display: block;
				    position: absolute;
				    top: 8px;
				    cursor: pointer;
				    border: none;
				    width: 25px;
				    height: 25px;
				    text-align: center;
				    @include rtl-float-right();
				    @include rtl-right(0);
					&:before{
						content: "\f105";
						font-family: $font-icon;
						color: $vertical-menu-color;
						font-size: 11px;
						font-weight: normal;
					}
				}
				&.open-sub{
					.dropdown-menu{
						max-width: 100%;
					    position: static;
					    left: auto !important;
					    width: 100% !important;
					    top: 100%;
					    float: none !important;
					}
				}
			}

			&.last a ,&:last-child a{
				border: 0;
			}

			// Hover Effect
			&:hover{
				> a{					
					color: $megamenu-sub-link-hover-color;	
					&:hover,&:focus{				
						color: $vertical-menu-link-hover-color;
					}
					&:before{
						background: $theme-color-default;
						border-color: $theme-color-default;
					}
				}
				.caret{
					color: $theme-color-default;
					&:before{
						color: $theme-color-default;
					}
				}
			}
			&.open{
				> a{					
					color: $megamenu-sub-link-hover-color;	
					&:hover,&:focus{				
						color: $vertical-menu-link-hover-color;
						border-color: $border-color;
					}		
				}
				.caret{
					color: $theme-color-default;
					&:before{
						color: $theme-color-default;
						top: -23px;
						content: "\f0d7";
					}
				}
			}
			.parent{
				position: relative;
				> .dropdown-toggle{
					position: relative;
					text-transform: none;					
					font-weight: normal;
					color: $vertical-sub-menu-link-color;
					&:hover{
						color: $theme-color-default;
					}	
					&:after{
						position: absolute;
						bottom: 50%;
						@include rtl-right(0);
						@include transform(translateY(50%));
						@media (max-width: 991px){
							display: none;
						}
					}				
				}
				&:hover{
					> .dropdown-toggle{
						color: $theme-color-default;
					}
				}
			}
			&.parent{
				&.dropdown{
					> a{
						&:after{
							position: absolute;
							color: $vertical-menu-link;
							position: absolute;
							bottom: 50%;
							height: auto;
							@include rtl-margin-left(0);
							@include rtl-right(0);
							@include transform(translateY(50%));
							@media (max-width: 990px) { // max 990px
								display: none;
							}
						}
					}
					&:hover{
						> a{
							&:after{
								color: $theme-color-default;
							}
						}
					}
				}
			}
		}
		.nav-item + .nav-item{
			margin: 0;
		}
	}
	ul{
		li{
			a{
				.menu-icon{
					display: block;		
					@include rtl-background-position-left (center);			
					span{
						display: block;
						@include rtl-margin-left(35px);
					}
					.menu-desc{
						display: none;  
					}
				}	
				.sub-title{
					font-size: $vertical-menu-font-size; 	
				}
				&:hover,&:focus{
					.menu-title{
						color: $vertical-menu-link-hover-color;
					}					
					color: $vertical-menu-link-hover-color;
				}
			}
		}
	}	
	.dropdown-menu{					
		left: -9999px;
		top: -9999px;
		right: auto;
		border: 0;				
		min-width: $vertical-sub-menu-width;
		padding: $vertical-sub-menu-padding;
		background: $vertical-sub-menu-bg; 	
		margin: 0px;											
		@include rtl-text-align-left();
		@include rounded-corners(0);					
		@include box-shadow($vertical-sub-shadow);	
		@media (max-width: 991px){
			@include box-shadow(none);
		}								
		ul{
			li{
				border: 0;				
				padding: 10px 20px;
				line-height: normal;
				list-style: none;
				@include clearfloat();
				a{
					color: $vertical-sub-menu-link-color;
					font-size: $vertical-sub-menu-link-font-size;	
					font-weight: 400;
					padding: 0;	
					&:hover{
						color: $vertical-menu-link-hover-color;
						.menu-title{
							color: $vertical-menu-link-hover-color;
						}
					}
				}
			}
		}
		p{
			line-height: 18px;
			font-size: $vertical-sub-menu-link-font-size;
		}
		.#{$app-brand-prefix}-menu-video{
			width: 100%;
			iframe{
				margin-bottom: 10px;
			}
		}	
		.dropdown-toggle{
			&:hover{
				color: $vertical-sub-menu-heading-color;
			}
		}	
		.dropdown-toggle{			
			font-weight: bold;
			text-transform: uppercase;					
			line-height: normal;
			color: $vertical-sub-menu-heading-color;
			font-family: $vertical-sub-menu-link-font-family;
			font-size: $vertical-sub-menu-link-font-size;
		}
		.action {
			display: none;
		}
	}
	.widget-heading{
		color:$vertical-sub-menu-heading-color;
		text-transform: uppercase;
		font-weight: 600;
	}	 
}
div.active-hover{		
	ul{		
		> li{
			&:hover{
				> .dropdown-menu{							
					@include rtl-left(100% !important);						
					top: -1px;
					@include opacity(1);
					display: block;					
				}
			}
		}
	}
}

/* CANVAS MENU */
.megamenu-overlay{
	cursor: pointer;
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	z-index: 999;
  	visibility: hidden;
  	@include rgba($black,0.5);
  	@include opacity(0);
	@include transition(all 0.5s ease);
} 
.off-canvas{
	body {
	  position: relative;
	}
}
@include media-breakpoint-up(lg){
	// Menu Canvas
	.off-canvas-active{
		> #page,
		> .off-canvas-nav-megamenu{
			@include translate(0, 0);
			position: relative !important;
		}
	}
	.off-canvas-button-megamenu{ 
		display: none !important;
	}
}
@include media-breakpoint-down(md){
	.off-canvas-active{
		.megamenu-overlay{
		    @include opacity(1);
	    	visibility: visible;
	    }
	}
}
.off-canvas-button-megamenu{
	color: $black;
	padding: 15px 10px;
	border-bottom: $main-border;
	@include rtl-text-align-right(); 
	&:hover{
		cursor: pointer;
	}
}
.off-canvas-inactive{
	> #page{
		background: transparent;
		@include transition(margin 0.3s ease-in,transform 0.3s ease-in);
	}
}
.off-canvas-active{
	> #page{
	  	@include transition(margin 0.3s ease-in,transform 0.3s ease-in);
	  	@include transform(translateX(234px));
	}
	> .off-canvas-nav-megamenu{
		&.active{
	  		@include transform(translateX(234px));
		}
	}
	#page {
	  	position: fixed;
	  	margin: 0 auto;
	  	max-width: 100%;
	}
}
.off-canvas-nav-megamenu {
  	position: absolute;  
  	top: 0px; 
  	width: 234px;
  	background: $white;
  	z-index: 999; 
  	@include rtl-margin-left(-234px);
  	@include transition(margin 0.3s ease-in,width 0.3s ease-in,transform 0.3s ease-in);
  	.navbar-nav {
  		margin: 0px;
  		> li {
  			float: none;
  			border-bottom: $main-border;
  			float: none;
  			+ .nav-item{
  				@include rtl-margin-left(0px);
  			}
  			> a{
		  		color: $theme-color-secondary;
		  		font-size: 15px;
		  		font-weight: 700;
		  		padding: 17px 10px;
		  		&:hover, &:focus{
		  			background: none;
		  			color: $theme-color-default;
		  		}
		  	}
		  	&.open-sub {
				> a {
					border-bottom: 1px dashed $border-color;
				}
		  	}
		  	&.new{
				.sub-title{
					color: #fff;
				    font-size: 9px;
				    height: 14px;
				    line-height: 16px;
				    padding: 0 6px;
				    position: absolute;
				    text-align: center;
				    text-transform: uppercase;
				    top: 15px;
				    background-color: #0291d2;
				    @include rtl-right(30px);
				    @include rtl-border-radius(3px,3px,0,3px);
				    @include transform(translateZ(0px));
				    @media (max-width: 991px) {
				    	top: 0;
					    right: inherit;
					    @include rtl-left(60px);
				    }
				    &:before{
				    	border-style: solid;
					    @include rtl-border-width(5px,0,0,5px); 
					    border-color: #0291d2 transparent transparent;
					    bottom: -5px;
					    content: "";
					    pointer-events: none;
					    position: absolute;
					    z-index: -1;
					    @include rtl-right(0);
					    @include transition-property(bottom);
					    @include transition-duration(0.3s);
				    }
				}
			}
  		}
  	}
	.nav {
		li{
			&.dropdown{
				.caret {
				  	cursor: pointer;
					position: absolute;
					top: 18px;
					margin: auto 0;
					@include rtl-right(0);
					@include size(30px,20px);
					&:before {
					  	content: "\f107";
					  	font-family: $font-icon;
					  	color: $black;
					  	font-size: 15px;
					  	font-weight: normal;
					  	display: block;
					  	text-align: center;
					}
				}
				.dropdown-toggle::after{
					display: none;
				}
			}
			&.open-sub{
				> .caret{
					&:before{
						content: "\f106";
					}
				}
			}
			li{
				&.dropdown-submenu{
					.caret{
						top: 6px;
					}
				}
			}
		}
	}
	.offcanvas-mainnav {
	  	/* background-color: $white;
	  	position: absolute;
	  	top: 0;
	  	width: 233px;
	  	overflow: hidden;
	  	@include rtl-left(-234px); */
	}
	.dropdown-menu{ 
		font-size: $base-font-size;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		float: none;
		margin: 0;
		width: 100% !important;
		border: 0;
		padding: 0px 10px;
		@include box-shadow(none);
		@include rounded-corners(0);
		@include rtl-text-align-left();
		ul{
			li{
				line-height: 30px;
				float: none;
	  			+ .nav-item{
	  				position: relative;
	  				@include rtl-margin-left(0px);
	  			}
	  			> a{
	  				font-weight: 400;
	  				color: $theme-color-secondary;
	  				&:hover{
	  					color: $theme-color-default;
	  				}
	  			}
			}
		}
		/*** Detail layer ***/
		.demo-product-detail{
			.leo-widget{
				@include clearfloat();
			}
		}
	}
	.dropdown-sub{
		.menu-title {
		    font-weight: 600;
		    margin: 10px 0;
		    color: $black;
		}
	}
	ul.nav-links{
		@include rtl-padding-left(7px);
		li{
			line-height: 30px;
		}
	}
	.mega-col {
	    width: 100%;
	    flex: 0 0 100%;
	}
	.#{$app-brand-prefix}-widget{
		.widget-subcategories{
			ul{
				@include rtl-padding(3px, 3px, 3px, 7px);
			}
		}
	}
}
/* OFF CANVAS MENU - SHOW CANVAS = NO */
.leo-megamenu {
	&.disable-canvas{
		position: static;
		@media (max-width: 991px) {
			.leo-top-menu{
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 999;
				background: $white;
				border: 1px solid #ddd;
				.navbar-nav{
					> li {

						> a{
							padding: 10px; 
							@include rtl-margin(0,30px,0,0);
							border: none;
							&.dropdown-toggle::after{
								display: none;
							}
						}
						.caret{
							position: absolute;
							top: 0;
							display: block;
							width: 30px;
							height: 30px;
							line-height: 30px;
							z-index: 99;
							text-align: center;
							@include rtl-right(0);
							@include rtl-margin(0,0,0,0);
							@include transition(all 0.4s ease);
							&:before{
							    content: "\f107";
							    font-family: $font-icon;
							}
						}
						&.open-sub{
							> .caret{
								@include transform(rotate(180deg));
							}
						}
					}
				}
				
			}
			.collapse.in{
				.navbar-nav {
					> li {
						&.aligned-fullwidth,&.aligned-center {
							position: relative;
							> .dropdown-sub{
								width: 100% !important;
							}
						}
						> .dropdown-menu{
							@include media-breakpoint-down(md){
								.mega-col{
									width: 100%;
									flex: 0 0 100%;
								}
							}
						}
						&:hover{
							> .dropdown-menu{
								display: none;
							}
						}
					}
					.dropdown-toggle::after{
						display: none;
					}
				}
			}
		}
	}
	
}
/* FLOAT VERTICAL MENU */

.float-vertical {
	position: relative;
	margin-bottom: 0;
	.float-vertical-button{
		padding-top: 20px;
		padding-bottom: 20px;
		cursor: pointer;
		@include rtl-padding-left(15px);
		i{@include rtl-margin-right(5px);}
		.fa-angle-down{@include rtl-margin-right(-20px);}
	}
	> .block_content{
		border: none;
		@include transition(height 0.4s ease 0s);
	}
}
.float-vertical.active{
	> .block_content{
		position: absolute;
		z-index: 30;
		height: auto;
		overflow: visible;
		width: 100%;
		border: $main-border;
		@include transition(height 0.4s ease 0s);
	}
} 
//Style leo widget general
.leo-widget{
	.widget-category_image {
		.level0 li{
			position: relative; 
			display: inline-block;
			min-width: 140px;
			ul {
				background: $white;
				border: 1px solid #c3c3c3;
				position: absolute;
				top: -1px;
				z-index: 99;
				display: none;
				@include rtl-left(100%);
				@include transition(all 0.3s ease);
				li{
					padding: 5px 10px;
				}
			}
			&:hover > ul{
				display: block;
			}
		}

	}
}

/* Write for mainmenu home 1 */
.mainmenu-home1 {
	.#{$app-brand-prefix}-megamenu {
		.navbar-nav{
			> li {
				&:first-child {
					> a {
						@include rtl-padding-left(0);
					}
				}
				> a{
					color: $white;
					&:hover,&:focus,&:active{					
						color: $megamenu-link-hover-color;				
						background-color: $megamenu-link-bg-hover-color;
					}
				} 
				&.active,
				&:hover,
				&:focus{
					> a{
						color: $megamenu-link-hover-color;
						background-color: $megamenu-link-bg-hover-color;
						> .menu-title{	
							&:before{
								color: #acacac;
	    						text-shadow: 8px 0 #acacac, -8px 0 #acacac;
							}
						}
					}
				}
			}
		}
	}
}