// modules.scss

@import "vars/modules.vars";
// top bar module dropdown
.popup-over{
    position: relative;
    @include rtl-float-right();
    color: $theme-color-secondary;
    .popup-title{
        display: inline-block;
        color: $theme-color-secondary;
        font-family: $font-family-tertiary;
        text-transform: uppercase;
        i{
            font-size: 18px;
        }
        .user_title{
            display: none;
        }
        &:hover{
            color: $link-hover-color ;
        }
    }
    .popup-content{
        padding: 20px;
        margin: 0;
        position: absolute;
        top: 100%;
        background: $white;
        min-width: 160px;
        z-index: 999999;
        display: none;
        left: inherit;
        border: 1px solid #f1f1f1;
        @include rtl-text-align-left();
        @include rtl-right(0);
        @include transition(all 0.2s);
        @include border-radius(0);
        a{
            color: $theme-color-tertiary;
            padding: 0px;
            font-size: 12px;
            &:hover{
                color: $link-hover-color;
            }
            i{
                font-size: 13px;
                width: 20px;
            }
        }
        .block_name{
            font-weight: 700;

        }
        li{
            display: block;
            padding: 5px;
            a{
                img{
                    @include rtl-margin-right(5px);
                    vertical-align: 0;
                }
            }
            &.current{
                color: $theme-color-default;
                a{
                    color: $theme-color-default;
                }
            }
        }
        .ap-total{
            display: inline-block;
            &:before{
                content: '(';
                display: inline-block;
            }
            &:after{
                content: ')';
                display: inline-block;
            }
        }
    }
    &:hover{
        .popup-content{
            display: block;
            visibility: visible;
            @include opacity(1);
        }
    }
}

.userinfo-selector{
    .popup-title{
        .fa-angle-down{
            display: none;
        }
    }
}
#leo_block_top {
    .title_block,
    .title_block_top {
        display: none;
    }
    .popup-content {
        min-width: 200px;
        .language-selector,
        .currency-selector {
            width: 100%;
            @include rtl-float-left();
        }
        .language-selector li,
        .currency-selector li {
            width: 33%;
            text-align: center;
            @include rtl-float-left();
        }
        .language-selector {
            li {
                span {display: none;}
                a {
                    img {
                        border: 1px solid $white;
                        @include rtl-margin-right(0);
                        padding: 2px;
                    }
                }
                &.current {
                    a img {
                        border-color: $theme-color-default;
                    }
                }
            }
        }
        .currency-selector {
            padding-top: 20px;
            margin-top: 15px;
            border-top: $main-border;
        }
    }
}

/* mini basket */
#cart-block{        
    position: relative; 
    z-index: 50;
    @include rtl-float-right();
    .cart-preview {
        .header{
            position: relative;
            color: $theme-color-secondary;
            display: inline-block;
            @include align-items(center);
            a{
                position: relative;
                display: inline-block;
                @include align-items(center);
                color: $theme-color-secondary;
                &:hover{
                    color: $link-hover-color;
                }
            }
            i{
                font-size: 18px;
            }
            .title_cart{
                display: none;
            }
        }
        .cart-quantity{
            position: absolute;
            height: 16px;
            width: 16px;
            line-height: 16px;
            text-align: center;
            top: 27px; 
            color: $white;
            font-weight: 500;
            left: 50%;
            @include transform(translateX(-50%));
            @include rounded-corners (100%);
            background: $theme-color-default;
            font-size: 12px;
        }
        .mini_card {
            display: block;
            min-width: 300px;
            padding: 36px;
            background-color: $white;
            border-radius: 0px;
            position: absolute;
            z-index: 100;
            visibility: hidden;
            top: 100%;
            color: $theme-color-senary;
            text-align: center;
            font-size: 14px;
            @include rtl-right(0);
            @include opacity(0);
            @include transition(all 0.3s ease);
            @include box-shadow(0 6px 12px rgba(0,0,0,0.175));
        }
        .body {
            display: none;
        }
    }
    &:hover{
        .cart-preview{
            .mini_card{
                visibility: visible;
                @include opacity(1);
            }
        }
    }
}
/*** Responsive part ***/
@include media-breakpoint-up(xl){
    /* mini basket */
}
@include media-breakpoint-down(lg){
}
@include media-breakpoint-down(sm){
}