
@import "vars/product-item.vars"; 
/* Product List*/
.product_list{
    &.list{
        .ajax_block_product{
            width: 100%;
        }
        .thumbnail-container{
            overflow: hidden;
            @include rtl-text-align-left();
            .product-image{
                @include rtl-float-left();
                width: 33.33333%;
                text-align: center;
                @media (max-width: 991px){
                    width: 41.66667%;
                }
                @media (max-width: 480px){
                    width: 100%;
                }
            }
            .product-meta{
                @include rtl-float-left();
                width: 66.66667%;
                @include rtl-text-align-left();
                padding: 20px;
                @media (max-width: 991px){
                    width: 58.33333%;
                }
                @media (max-width: 480px){
                    width: 100%;
                    padding: 15px 0;
                }
                .product-title{
                    @include clearfloat();
                    position: relative;
                    @include rtl-left(0);
                }
            }
            .leo-list-product-reviews{
                clear: both;
                @include rtl-text-align-left();
                @include clearfloat();
                .leo-list-product-reviews-wraper{
                    position: relative;
                    top: inherit;
                }
            }
            .product-meta .product-price-and-shipping{
                margin: 10px 0;
                @include rtl-text-align-left();
                height: auto;
                .regular-price{
                    padding: 0 5px;
                }
                .price{
                    margin: 0;
                    display: inline-block;
                }
                .aeuc_before_label,.aeuc_unit_price_label{
                    position: relative;
                    top: inherit;
                    @include rtl-text-align-left();
                }

            }
            .product-description-short{
                display: inline-block;
                margin-top: 15px;
            }
            .product-description{
                p{display: block;}
            }
            .functional-buttons{
                bottom: 10px;
            }
        }
        &.plist-info{
            .thumbnail-container{
                .functional-buttons{
                    position: relative;
                    visibility: visible;
                    width: 100%;
                    padding: 0;
                    margin-top: 20px;
                    bottom: inherit;
                    @include opacity(1);
                    @include transform(none);
                }
                .product-price-and-shipping{
                    margin: 0;
                }
                .product-info{
                    visibility: visible;
                    @include opacity(1);
                }
            }
        }
    }
    &.grid{
        .ajax_block_product{
            @media (min-width: 992px) {
                &.first-in-line{
                    clear: both;
                }
            }
            @media (max-width: 991px) and (min-width: 576px) {
                &.first-item-of-tablet-line{
                    clear: both;
                }
            }
            @media (max-width: 575px) and (min-width: 480px) {
                &.first-item-of-mobile-line{
                    clear: both;
                }
            }
        }
    }
}
/* Product Grid style */
.thumbnail-container{
    position: relative;
    margin-bottom: 30px;
    background: $white;
    text-align: center;
    clear: both;
    @include transition(all 0.4s ease 0s);
    .product-image{
        position: relative;
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        .product-price-and-shipping{
            margin-bottom: 0;
            .discount-percentage{
                display: inline-block;
                position: absolute;
                border-bottom: 1px solid;
                top: 10px;
                @include rtl-right(10px);
                &:before,&:after{
                    display: none;
                }
            }
            span,.aeuc_unit_price_label{
                display: none;
            }
        }
    }
    .product-meta{
        padding-top: 20px;
        display: inline-block;
        width: 100%;
        @include transition(all 0.3s ease-out 0s);
    }
    //name
    .product-title {
        text-transform: none;
        margin-bottom: 10px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        a{
            font-size: $product-name-font-size;
            font-weight: $product-name-font-weight;
            font-family: $product-name-font-family;
            color: $product-name-color;
            text-decoration: none;
            &:hover{
                color: $theme-color-default;
            }
        }
    }
    //Price
    .product-price-and-shipping {
        margin-bottom: 10px;
        .price{
            color: $product-price-color;
            font-weight: $product-price-font-weight;
            font-family: $product-price-font-family;
            font-size: $product-price-font-size;
            @include rtl-margin-right(5px);
        }
        .old_price{
            margin-top: 10px;
        }
        .regular-price{
            color: $product-price-regular-color;
            text-decoration: line-through;
            font-weight: 400;
            font-size: 14px;
        }
        .aeuc_from_label {
            @include rtl-margin-right(5px);
        }
        .aeuc_before_label{
            @media (min-width: 992px){
                display: block;
                margin-bottom: 3px;
                height: 18px;
                overflow: hidden;
            }
        }
        .discount-percentage{
            display: none;
            color: #f2434a;
            font-size: 13px;
            &:before{
                content: '(';
                display: inline-block;
            }
            &:after{
                content: ')';
                display: inline-block;
            }
        } 
        .aeuc_unit_price_label{
            margin-top: 5px;
            position: relative;
            display: block;
            font-weight: 400;
            color: $theme-color-secondary;
            @media (min-width: 992px){
                height: 17px;
                overflow: hidden;
            }
        }
    }
     // Show more image
    .product-additional{
        position: absolute;
        top: 0;
        visibility: hidden;
        left: 0;
        right: 0;
        bottom: 0;
        @include opacity(0);
        @include transition(all 0.6s ease-in-out);
    } 
    // Comment
    .comments_note {
        color: $gray;
    }
    // Color
    .variant-links {
        width: 100%;
        clear: both;
        padding-top: 5px;
        position: relative;
        .count{
            position: absolute;
            bottom: 10px;
        }
    }
    // Description
    .product-description-short {
        display: none;
        line-height: 24px;
        font-size: 14px;
        font-weight: 300;
        color: $theme-color-senary;
        margin-bottom: 15px;
    }
    .product-description{
        p{display: none;}
    }
    // functional-buttons
    .functional-buttons{
        position: absolute;
        z-index: 100;
        background: $white;
        padding: 3px 10px;
        text-align: center;
        bottom: 15px;
        @include rtl-right(25px);
        @media (max-width: 991px){
            @include rtl-right(15px);
        }
        > div{
            display: block;
            .btn-product{
                position: relative;
                display: inline-block;
                overflow: initial;
                font-weight: normal;
                height: 37px;
                width: 20px;
                background: transparent;
                color: $theme-color-tertiary;
                text-align: center;
                padding: 0;
                border-bottom: 1px solid $border-color;
                @include transition(all 0.3s ease 0s);
                &:hover {
                    color: $theme-color-default;
                    .btn-title{
                        visibility: visible;
                        @include opacity(1);
                        @include rtl-right(100%);
                    }
                }
                i{
                    margin: 0;
                    font-size: 16px;
                    line-height: 37px;
                }
                .btn-title{
                    position: absolute;
                    z-index: -1;
                    bottom: 50%;
                    color: $white;
                    background: $theme-color-secondary;
                    font-size: 8px;
                    padding: 2px 10px;
                    visibility: hidden;
                    line-height: 14px;
                    white-space: nowrap;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 400;
                    pointer-events: none;
                    @include rtl-margin-right(10px);
                    @include rtl-right(0);
                    @include opacity(0);
                    @include border-radius(3px);
                    @include transform(translateY(50%));
                    @include transition(all 0.3s ease-out 0s);
                    &:before{
                        content: "";
                        position: absolute;
                        bottom: 50%;
                        border: 5px solid transparent;
                        @include rtl-border-left(5px solid $theme-color-secondary);
                        @include rtl-left(100%);
                        @include transform(translateY(50%));
                    }
                }
                .cssload-speeding-wheel{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
            &:last-child{
                .btn-product{
                    border-bottom: none;
                }
            }
        }
    }

    /** qty_product **/
    .leo-bt-select-attr,
    .qty_product{
        font-size: 12px;
        border-radius: 0;
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        border: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        text-transform: none;
        white-space: normal;
        &:hover{
            background: #ddd;
        }
    }
    .leo-bt-select-attr:after { 
        position: absolute;
        top: 18px;
        @include rtl-right(10px);
    }
    .dropdown-menu { 
        font-size: 12px;
        max-height: 70px;
        overflow: auto;
        @include rtl-text-align-left();
        top: inherit;
        bottom: 100%;
        @media (min-width: 992px){
            min-width: 100%;
        }
        .dropdown-item{
            display: block;
            padding: 7px 10px;
            white-space: normal;
        }
    }
    .leo-bt-select-attr,.leo_cart_quantity{
        margin-bottom: 5px;
        @include rtl-text-align-left();
    }
    /** END qty_product **/
}
.product_block{
    &.last_item{
        .thumbnail-container{
            .leo-more-info{
                right: auto;
                left: 0px;
            }
            &:hover{
                .leo-more-info{
                    right: auto;
                    left: -90px;
                }
            }
        }       
    }
}
// Product Flags
.product-flags{
    position: absolute;
    top: 10px;
    @include rtl-left(10px);
    @include rtl-text-align-left();
    margin: 0;
    .product-flag{
        display: table-cell;
        padding: 0 5px;
        margin: 2px 0;
        color: $white;
        background: $product-flags-new-bg;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        z-index: 2;
        text-transform: uppercase;
        font-family: $headings-font-family;
        @include transition(all 0.5s ease);
        &.online-only {
            color: $product-flags-online-only-bg;
        }
        &.on-sale{
            color: $product-flags-sale-bg;
        }
        &.discount{
            color: $white;
            background: $product-flags-discount-bg;
        }
    }
}

.product_new{
    margin-top: 40px;
    @media (min-width: 992px){
        position: relative;
        display: inline-block;
        width: 100%;
        .box-title{
            width: 30%;
            @include rtl-padding(45px,30px,0,0);
            @include rtl-float-left();
        }
        .block_content{
            width: 70%;
            @include rtl-float-left();
        }
    }
    
    .owl-carousel{
        position: static;
    }
    .owl-theme{
        .owl-buttons{
            div{
                @media (min-width: 992px){
                    width: 50px;
                    height: 50px;
                    bottom: 55%;
                    background: $theme-color-default;
                    border-color: $theme-color-default;
                    @include border-radius(0);
                    @include opacity(1);
                    @media (max-width: 1199px){
                        bottom: 50%;
                    }
                    &:hover{
                        background: transparent;
                        &:before{
                            color: $theme-color-default;
                        }
                    }
                    &:before{
                        font-size: 24px;
                        line-height: 46px;
                        color: $white;
                    }
                    &.owl-prev{
                        @include rtl-left(0);
                    }
                    &.owl-next{
                        right: inherit;
                        @include rtl-left(57px);
                    }
                }
            }
        }
        &:hover{
            .owl-buttons{
                div{
                    @media (min-width: 992px){
                        &.owl-prev{
                            @include rtl-left(0);
                        }
                        &.owl-next{
                            right: inherit;
                            @include rtl-left(57px);
                        }
                    }
                }
            }
        }
    }
}
/** Products List **/
.plist-product{
    .thumbnail-container{
        display: flex;
        @include rtl-text-align-left();
        .product-image{
            @include rtl-float-left();
            width: 25%;
            @media (max-width: 991px) and (min-width: 768px){
                width: 40%;
            }
        }
        .product-meta{
            @include rtl-float-left();
            width: 75%;
            @include rtl-padding(5px,0,0,30px);
            @media (max-width: 991px) and (min-width: 768px){
                width: 60%;
                @include rtl-padding(5px,0,0,15px);
            }
        }
        .product-price-and-shipping{
            .aeuc_before_label,.aeuc_unit_price_label{
                display: none;
            }
        }
        .leo-list-product-reviews {
            @include rtl-text-align-left();
        }
    }
}

/************ PRODUCT DEFAULT 1 **********/
.plist-default-1{
    .thumbnail-container{
        .functional-buttons{
            left: 0;
            right: 0;
            margin: auto;
            padding: 0;
            background: transparent;
            @media (min-width: 992px){
                @include transform(translateY(20px));
            }
            > div{
                display: inline-block;
                @include transform(none);
                .btn-product{
                    width: 50px;
                    height: 50px;
                    margin: 0 3px;
                    border: none;
                    background: $theme-color-secondary;
                    color: $white;
                    @include border-radius(50px);
                    @media (max-width: 1400px){
                        width: 40px;
                        height: 40px;
                    }
                    i{
                      line-height: 50px;  
                      @media (max-width: 1400px){
                          line-height: 40px;
                      }
                    }
                    .btn-title{
                        left: 50% !important;
                        right: inherit !important;
                        bottom: 100%;
                        @include transform(translateX(-50%));
                        @include rtl-margin(0,0,10px,0);
                        @include transition(all 0.3s ease-out 0s);
                        &:before{
                            top: 100%;
                            bottom: inherit;
                            left: inherit;
                            border-top: 5px solid $theme-color-secondary;
                            @include transform(translateX(-50%));
                            @include rtl-border-left(5px solid transparent);
                        }
                    }
                    &:hover{
                        background: $theme-color-default;
                        color: $white;
                    }
                }
            }
        }
        .leo-more-cdown{
            position: absolute;
            width: 100%;
            bottom: 30px;
            @include transition(all 0.5s ease 0s);
            @media (max-width: 991px){
                display: none;
            }
            ul{
                display: inline-block;
                margin: 0;
                li{
                  font-size: 12px;
                  font-weight: 400;
                  color: $white;
                  background: transparent;
                  padding: 10px 17px;
                  position: relative;
                  z-index: 0;
                  background: rgba(255, 126, 0, 0.6);
                  @include rtl-margin-right(0);
                  &:before{
                      display: none;
                  }
                  b{
                    position: relative;
                    display: block;
                    padding: 0;
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    height: auto;
                    border: none;
                    line-height: normal;
                    @include border-radius(0);
                  }
                  span {
                    color: $white;
                    background: transparent;
                    text-transform: capitalize;
                    margin: 0;
                    font-size: 14px;
                    border: none;
                  }
                }
            }
        }
        &:hover{
            .functional-buttons{
                @include transform(translateY(0));
            }
            .leo-more-cdown{
                bottom: 0;
                visibility: hidden;
                @include opacity(0);
            }
        }
    }
}
/******** plist-function-bottom *************/
.plist-function-bottom{
    .thumbnail-container{
        @include rtl-text-align-left();
        //.product-price-and-shipping
        .product-price-and-shipping{
            @include rtl-float-left();
        }
        //.leo-list-product-reviews
        .leo-list-product-reviews{
            @include rtl-float-right();
        }
        // functional-buttons
        .functional-buttons{
            left: 10px;
            right: 10px;
            top: inherit;
            bottom: 10px;
            padding: 10px 3px;
            margin: auto;
            white-space: nowrap;
            @media (min-width: 992px){
                @include transform(scale(1,0));
            }
            > div{
                width: 15%;
                @include rtl-float-left();
                @media (max-width: 767px){
                    width: 20%;
                }
                .btn-product{
                    text-align: center;
                    padding: 0;
                    width: 100%;
                    height: 27px;
                    border: none;
                    @include rtl-border-left(1px solid #ebebeb);
                    @include transition(all 0.3s ease 0s);
                    i{
                        line-height: 27px;
                    }
                    &:hover {
                        color: $theme-color-default;
                        .btn-title{
                            visibility: visible;
                            @include opacity(1);
                            bottom: 100%;
                        }
                    }
                    .btn-title{
                        left: inherit;
                        bottom: 0;
                        @include rtl-right(0);
                        @include transform(none);
                        @include rtl-margin(0,0,10px,0);
                        @include transition(all 0.3s ease-out 0s);
                        &:before{
                            top: 100%;
                            bottom: inherit;
                            left: inherit;
                            border-top: 5px solid $theme-color-secondary;
                            @include rtl-right(10%);
                            @include transform(translateX(-50%));
                            @include rtl-border-left(5px solid transparent);
                        }
                    }
                }
                &.cart{
                    width: 55%;
                    @media (max-width: 767px){
                        width: 60%;
                    }
                    .btn-product{
                        width: 100%;
                        @include rtl-border-left(none);
                        i{
                            display: none;
                        }
                        .btn-title{
                            position: relative;
                            visibility: visible;
                            opacity: 1;
                            color: $theme-color-secondary;
                            background: transparent;
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            letter-spacing: 0;
                            font-size: 13px;
                            font-weight: 700;
                            left: inherit;
                            right: inherit;
                            @include transform(none);
                            &:before{
                                display: none;
                            }
                        }
                        &:hover{
                            .btn-title{
                                color: $theme-color-default;
                            }
                        }
                    }
                }
            }
        }
    }
}

/******** product-list-button *************/
.product-list-button{
    .thumbnail-container{
        @include rtl-text-align-left();
        //.product-meta
        .product-meta{
            position: relative;
            @include rtl-padding(15px,10px,15px,10px);
            @include transition(transform 0.3s ease-out 0s);
        }
        .product-meta{
            position: relative;
            padding: 15px 20px;
            background: $white;
            @include transition(transform 0.3s ease-out 0s);
            @media (max-width: 991px){
                padding: 10px;
            }
        }
        // functional-buttons
        .functional-buttons{
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: auto;
            white-space: nowrap;
            @media (min-width: 992px){
                position: absolute;
                @include transform(translateY(100%));
            }
            > div{
                width: 20%;
                @include rtl-float-left();
                @include transform(none);
                .btn-product{
                    text-align: center;
                    padding: 0;
                    width: 100%;
                    height: 40px;
                    border: none;
                    background: $theme-color-secondary;
                    color: $white;
                    @include rtl-border-right(1px solid #ebebeb);
                    @include transition(all 0.3s ease 0s);
                    i{
                        line-height: 40px;
                    }
                    &:hover {
                        background: $theme-color-default;
                        color: $white;
                        .btn-title{
                            visibility: visible;
                            @include opacity(1);
                            bottom: 100%;
                        }
                    }
                    .btn-title{
                        left: 50% !important;
                        right: inherit !important;
                        bottom: 100%;
                        @include transform(translateX(-50%));
                        @include rtl-margin(0,0,10px,0);
                        @include transition(all 0.3s ease-out 0s);
                        &:before{
                            top: 100%;
                            bottom: inherit;
                            left: inherit;
                            border-top: 5px solid $theme-color-secondary;
                            @include transform(translateX(-50%));
                            @include rtl-border-left(5px solid transparent);
                        }
                    }
                }
                &.cart{
                    width: 60%;
                    .btn-product{
                        width: 100%;
                        i{
                            display: none;
                        }
                        .btn-title{
                            position: relative;
                            visibility: visible;
                            opacity: 1;
                            color: $white;
                            background: transparent;
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            letter-spacing: 0;
                            font-size: 13px;
                            font-weight: 500;
                            left: inherit !important;
                            bottom: inherit;
                            @include transform(none);
                            &:before{
                                display: none;
                            }
                        }
                        &:hover{
                            .btn-title{
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .quickview{
            position: absolute;
            bottom: 0;
            width: 100%;
            visibility: hidden;
            @include opacity(0);
            @include transform(translateY(0));
            @include transition(all 0.3s ease 0s);
            .btn-product{
                background: #e5e5e5;
                width: 100%;
                padding: 0;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                i{
                  display: none;  
                }
                &:hover{
                    background: $theme-color-default;
                    color: $white;
                }
            }
            .cssload-speeding-wheel{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        &:hover{
            @media (min-width: 992px){
                @include box-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.29));
                .product-meta{
                    @include transform(translateY(-40px));
                }
                .functional-buttons{
                    @include transform(translateY(100%));
                }
                .quickview{
                    visibility: visible;
                    @include opacity(1);
                    @include transform(translateY(-40px));
                }
            }
        }
    }
}

/******** plist-info *************/
.plist-info {
    .thumbnail-container{
        .product-meta {
            @include rtl-text-align-left();
        }
        .p-name {
            position: relative;
            margin: 0 0 10px;
            @include rtl-padding(0,35px,0,0);
            .leo-wishlist-button {
                position: absolute;
                top: 0;
                padding: 0;
                border: 0;
                line-height: 24px;
                text-align: center;
                color: #000;
                background: none;
                overflow: hidden;
                @include rtl-right(0);
                @include size(24px,24px);
                .btn-title {
                    display: none;
                }
            }
          }
        .p-price {
            position: relative;
            @include rtl-padding(0,40px,0,0);
            .add-to-cart {
                height: 24px;
                min-width: 24px;
                background: none;
                border: 0;
                position: absolute;
                top: 0;
                width: auto;
                padding: 0;
                letter-spacing: .8px;
                font-size: 13px;
                font-weight: 600;
                color: $theme-color-default;
                i {
                    display: none;
                }
                @media (max-width: 991px){
                    @include rtl-right(0);
                    i {
                        display: block;
                    }
                    .btn-title {
                        display: none;
                    }
                }
            }
            .product-price-and-shipping {
                display: flex;
                line-height: 24px;
                @include transition(all 0.3s 0.1s);
            }
        }
    }
    @include media-breakpoint-up(lg){
        .thumbnail-container{
            .p-price {
                .add-to-cart {
                    @include rtl-left(0);
                    visibility: hidden;
                    @include opacity(0);
                    @include transition(all 0.3s 0.1s);
                    @include transform(translateX(-20px));
                }
            }
            &:hover{
                .p-price {
                    .add-to-cart {
                        visibility: visible;
                        @include opacity(1);
                        @include transform(translateX(0));
                    }
                    .product-price-and-shipping {
                        visibility: hidden;
                        @include opacity(0);
                        @include transform(translateX(70px));
                    }
                }
            }
        }
    }
}

/******** plist-category-4 *************/
.plist-category-4{
    .thumbnail-container{
        @include rtl-text-align-left();
        @include box-shadow(0 2px 6px 0px rgba(0,0,0,.12));
        @include transition(all 0.3s ease);
        .product-meta{
            padding: 20px;
            .product-price-and-shipping{
                position: absolute;
                margin: 0;
                @include rtl-padding-left(35px);
                @include transition(opacity 0.5s ease);
            }
        }
        .p-name {
            position: relative;
            @include rtl-padding-right(90px);
        }
        .leo-list-product-reviews {
            position: absolute;
            top: 0;
            @include rtl-right(0);
            @include rtl-text-align-right();
        }
        .product-title{
            margin-bottom: 10px;
        }
        
        .box-card-info{
            position: relative;
            @include display(flex);
            @include align-items(center);
        }
        .cart{
            display: inline-block;
            @media (min-width: 992px){
                @include transition(all 0.5s ease);
            }
            .btn-product{
                padding: 0;
                background: transparent;
                color: $theme-color-default;
                min-width: 24px;
                height: 24px;
                line-height: 24px;
                @include border-radius(1.875rem);
                i{
                    position: absolute;
                    z-index: 1;
                    display: inline-block;
                    background: $white;
                    font-size: 11px;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    vertical-align: top;
                    border: 1px solid $theme-color-default;
                    @include border-radius(50px);
                    @include rtl-left(0);
                }
                .btn-title{
                    position: relative;
                    visibility: hidden;
                    overflow: hidden;
                    min-width: 0;
                    color: $white;
                    background: transparent;
                    padding: 0;
                    margin: 0;
                    letter-spacing: 0;
                    font-size: 12px;
                    font-weight: 400;
                    left: inherit;
                    right: inherit;
                    @include opacity(0);
                    @include transform(none);
                    @include transition(padding .45s ease,min-width .45s ease);
                    &:before{
                        display: none;
                    }
                }
                &:hover{
                }
            }
        }
        &:hover{
            @include box-shadow(0 10px 10px 0px rgba(0, 0, 0, 0.2));
            .product-meta{
                .product-price-and-shipping{
                    @include opacity(0);
                }
            }
            .cart{
                .btn-product{
                    background: $theme-color-default;
                    @include rtl-padding-left(24px);
                    .btn-title{
                        min-width: 24px;
                        visibility: visible;
                        @include opacity(1);
                        @include rtl-padding(0,15px,0,10px);
                    }
                }
            }
        }
    }
    &.product_list.list{
        .thumbnail-container{
            .product-price-and-shipping{
                @include opacity(1);
            }
            .cart{
                position: relative;
                bottom: inherit;
                visibility: visible;
                @include opacity(1);
            }
        }
    }
}

/**** DEALS OFF DAY ****/
.plist_deal{
    .thumbnail-container{
        @include rtl-text-align-left();
        .product-image{
            width: 65%;
            @include rtl-float-left();
            @media (max-width: 1199px){
                width: 60%;
            }
            @media (max-width: 991px){
                width: 100%;
            }
            .product-thumbnail{
                > img{
                    width: 50%;
                    @include rtl-float-left();
                }
            }
            .product-price-and-shipping{
                margin-bottom: 0;
            }
        }
        .product-meta{
            width: 35%;
            @include rtl-padding(0,0,0,30px);
            @include rtl-float-left();
            @media (max-width: 1199px){
                width: 40%;
            }
            @media (max-width: 991px){
                width: 100%;
                @include rtl-padding(20px,0,0,0);
            }
        }
        .product-title{
            height: 27px;
            margin-bottom: 25px;
            a{
                font-size: 25px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
        .product-price-and-shipping{
            margin-bottom: 20px;
            .price{
                font-size: 30px;
                font-weight: 700;
            }
            .regular-price{
                font-size: 20px;
            }
        }
        .product-description-short{
            display: block;
            margin-bottom: 15px;
        }
        .product-additional{
            position: relative;
            visibility: visible;
            width: 50%;
            @include opacity(1);
            @include rtl-float-left();
        }
        .functional-buttons{
            position: relative;
            visibility: visible;
            bottom: inherit;
            right: inherit;
            padding: 0;
            margin-top: 30px;
            @include rtl-text-align-left();
            @include opacity(1);
            @include transform(none !important);
            > div{
                display: inline-block;
                visibility: visible;
                @include rtl-margin-right(10px);
                @include opacity(1);
                @include transform(none);
                .btn-product{
                    width: 50px;
                    height: 50px;
                    background: $theme-color-secondary;
                    color: $white;
                    &:hover{
                        background: $theme-color-default;
                        color: $white;
                        .btn-title{
                            visibility: visible;
                            @include opacity(1);
                            bottom: 100%;
                        }
                    }
                    i{
                        line-height: 50px;
                    }
                    .btn-title{
                        right: inherit;
                        bottom: 70%;
                        @include rtl-left(0);
                        @include transform(none);
                        @include rtl-margin(0,0,10px,0);
                        @include transition(all 0.3s ease-out 0s);
                        &:before{
                            top: 100%;
                            bottom: inherit;
                            right: inherit;
                            border-top: 5px solid $theme-color-secondary;
                            @include rtl-left(25%);
                            @include transform(translateX(-50%));
                            @include rtl-border-left(5px solid transparent);
                        }
                    }
                }
                &.cart{
                    .btn-product{
                        width: auto;
                        padding: 0 30px;
                        .btn-title{
                            position: relative;
                            visibility: visible;
                            opacity: 1;
                            background: transparent;
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            letter-spacing: 0;
                            font-size: 14px;
                            font-weight: 500;
                            left: inherit;
                            right: inherit;
                            text-transform: none;
                            @include transform(none);
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        
        .quickview{
            position: absolute;
            bottom: 0;
            width: 55px;
            height: 55px;
            text-align: center;
            @include rtl-right(0);
            &:before{
                content: "";
                background: rgba(255,255,255,0.7);
                position: absolute;
                width: 105px;
                height: 105px;
                bottom: -40px;
                visibility: hidden;
                @include opacity(0);
                @include rtl-right(-40px);
                @include border-radius(50px);
                @include transition(all 0.4s ease 0s);
                @include transform(scale3d(0.5,0.5,1));
            }
            .btn-product{
                padding: 0;
                line-height: 55px;
                @include transform(scale(0));
                @include transition(transform 0.4s ease 0s);
                i{
                    font-size: 20px;
                }
                .btn-title{
                    display: none;
                }
            }
        }
        &:hover{
            .quickview{
                &:before{
                    visibility: visible;
                    @include opacity(1);
                    @include transform(scale3d(1,1,1));
                }
                .btn-product{
                    @include transform(scale(1));
                }
            }
        }
    }
}

/*** ApProductList ****/
.ApProductList{
  .product_list.grid{
      .ajax_block_product{
          @media (max-width: 1199px) and (min-width: 992px){
            &:nth-child(3n+1){
              clear: both;
            }
          }
          @media (max-width: 991px) and (min-width: 481px){
            &:nth-child(2n+1){
              clear: both;
            }
          }
      }
  }
  &.column-4{
    .product_list.grid{
      .ajax_block_product{
        @media (min-width: 1200px){
          &:nth-child(4n+1){
            clear: both;
          }
        }
        &:nth-child(4n){
            .thumbnail-container{
                .leo-more-info{
                    right: auto;
                    left: 0px;
                }
                &:hover{
                    .leo-more-info{
                        right: auto;
                        left: -100px;
                    }
                }
            } 
        }
      }
    }
  }
  &.column-5{
    .product_list.grid{
      .ajax_block_product{
        @media (min-width: 1200px){
          &:nth-child(5n+1){
            clear: both;
          }
        }
        &:nth-child(5n){
            .thumbnail-container{
                .leo-more-info{
                    right: auto;
                    left: 0px;
                }
                &:hover{
                    .leo-more-info{
                        right: auto;
                        left: -100px;
                    }
                }
            } 
        }
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-up(lg){
    .thumbnail-container{
        .product-image{
            .product-thumbnail{
                img{
                    @include transition(transform 1s);
                    /*backface-visibility: hidden;*/
                }
            }
        }
        .functional-buttons{  
            visibility: hidden;
            @include opacity(0);
            @include transform(scale(0,1));
            @include transition(all 0.5s ease);
            > div{
                visibility: hidden;
                @include opacity(0);
                @include transform(scale(0,1));
                @include transition(all 0.5s ease);
            }
        }
        &:hover{
            .product-additional{
                visibility: visible;
                @include opacity(1);
            }
            .functional-buttons{
                visibility: visible;
                @include opacity(1);
                @include transform(scale(1));
                > div{
                    visibility: visible;
                    @include opacity(1);
                    @include transform(scale(1));
                }
            }
            .leo-more-info {
                width: 88px;
                @include rtl-right(-88px);
                @include opacity(1);
                @media (max-width: 1199px){
                    width: 70px;
                    @include rtl-right(-70px);
                }
              }
        }
    }
}
